Repository ocaml/ocaml, pull requests merged in 2018-05, with the labels that each got.

#1760 fix test checking backtrace capture in the toplevel
  testsuite/tests/tool-toplevel/pr6468.compilers.reference
  testsuite/tests/tool-toplevel/pr6468.ml
Labels: no-change-entry-needed

#1753 debugger: avoid off-by-one overflow in debugger socket path
  Changes
  byterun/debugger.c
Labels: bug

#1763 Document usage of Build Tools for Visual Studio
  README.win32.adoc
Labels: no-change-entry-needed

#1727 [RFC] More informative errors when Ccomp.command exits with status 127
  utils/ccomp.ml
Labels: no-change-entry-needed

#1762 matching: cleanup debug printing
  bytecomp/matching.ml
Labels: no-change-entry-needed

#1702 manual: signature option for caml_example
  Changes
  manual/manual/cmds/Makefile
  manual/manual/cmds/ocamldoc.etex
  manual/manual/macros.hva
  manual/styles/caml-sl.sty
  manual/tools/caml_tex2.ml
  manual/tools/transf.mll
Labels: no-change-entry-needed

#1773 translmod: indentation fix
  bytecomp/translmod.ml
Labels: no-change-entry-needed

#1764 Use C99 flexible arrays for struct pool_block in memory.c if possible
  Changes
  byterun/memory.c
Labels: review-needed

#1774 ARM VFD loads and stores: offset must be multiple of 4
  Changes
  asmcomp/arm/selection.ml
Labels: bug

#1780 unix documentation: move HTML links to the module documentation up higher on the page
  manual/manual/library/libunix.etex
Labels: no-change-entry-needed

#1772 Ctype.generalize_expansive does not raise unification exception
  typing/ctype.ml
Labels: no-change-entry-needed

#1770 In <caml/major_gc.h> declare some variables 'extern'
  asmrun/startup.c
  byterun/caml/intext.h
  byterun/caml/major_gc.h
  byterun/fix_code.c
Labels: no-change-entry-needed

#1778 Fix PR#7414 for local modules
  Changes
  testsuite/tests/typing-modules-bugs/ocamltests
  testsuite/tests/typing-modules-bugs/pr7414_2_bad.compilers.reference
  testsuite/tests/typing-modules-bugs/pr7414_2_bad.ml
  typing/typecore.ml
Labels: bug

#1784 make distclean improvements
  configure
Labels: no-change-entry-needed

#1623 Fix Segfault on Windows 64 bits
  Changes
  byterun/caml/config.h
  byterun/win32.c
  config/s-nt.h
  otherlibs/win32unix/channels.c
  testsuite/tests/regression/gpr1623/gpr1623.ml
  testsuite/tests/regression/gpr1623/gpr1623.reference
  testsuite/tests/regression/gpr1623/ocamltests
Labels: bug, high-priority

#1475 Uniformise documentation of _opt functions in Pervasive
  stdlib/stdlib.mli
Labels: no-change-entry-needed

#1708 CI: all standard libraries modules should be linked in stdlib.etex
  .travis-ci.sh
  .travis.yml
Labels: no-change-entry-needed

#1768 Move Rec_check out of Typecore
  .depend
  Makefile
  ocamldoc/stdlib_non_prefixed/.depend
  typing/rec_check.ml
  typing/rec_check.mli
  typing/typecore.ml
Labels: no-change-entry-needed

#1787 Improve caml_fatal_error
  asmrun/spacetime.c
  asmrun/startup.c
  byterun/caml/misc.h
  byterun/debugger.c
  byterun/dynlink.c
  byterun/fix_code.c
  byterun/gc_ctrl.c
  byterun/interp.c
  byterun/major_gc.c
  byterun/memory.c
  byterun/minor_gc.c
  byterun/misc.c
  byterun/startup.c
  byterun/startup_aux.c
Labels: no-change-entry-needed

#1796 Move the CI-related scripts to dedicated directories
  .gitattributes
  .travis.yml
  HACKING.adoc
  appveyor.yml
  tools/ci-build-other-configs.sh
  tools/ci-build.sh
  tools/ci/appveyor/appveyor_build.cmd
  tools/ci/appveyor/appveyor_build.sh
  tools/ci/inria/main
  tools/ci/inria/other-configs
  tools/ci/travis/travis-ci.sh
Labels: no-change-entry-needed

#1799 reindent bytecomp/switch.ml
  bytecomp/switch.ml
Labels: no-change-entry-needed

#1800 test error message for ill-typed record pattern
  testsuite/tests/typing-misc/records.ml
Labels: no-change-entry-needed

#1182 Printf: alternative format for integers
  Changes
  stdlib/camlinternalFormat.ml
  stdlib/camlinternalFormatBasics.ml
  stdlib/camlinternalFormatBasics.mli
  stdlib/printf.mli
  testsuite/tests/lib-printf/tprintf.ml
  testsuite/tests/lib-printf/tprintf.reference
  typing/typecore.ml
Labels: caml-weekly-news, stdlib

#1590 Make updating lex_curr_p/lex_start_p optional
  Changes
  stdlib/lexing.ml
  stdlib/lexing.mli
Labels: stdlib
