Repository ocaml/ocaml, pull requests merged in 2018-07, with the labels that each got.

#1872 restore the specialized error path for record patterns
  typing/typecore.ml
Labels: no-change-entry-needed

#1873 Report fewer skipped tests
  ocamltest/main.ml
  testsuite/makefiles/summarize.awk
Labels: no-change-entry-needed

#1871 Testsuite reports: move failed tests and Summary to the end
  testsuite/makefiles/summarize.awk
Labels: no-change-entry-needed

#1878 Eliminate warning in pre-commit hook when editing a commit message
  tools/pre-commit-githook
Labels: no-change-entry-needed

#1882 test suite: examples for error paths in typecore.ml
  testsuite/tests/typing-misc/ocamltests
  testsuite/tests/typing-misc/typecore_errors.ml
  testsuite/tests/typing-misc/typecore_nolabel_errors.ml
Labels: no-change-entry-needed

#1884 Add an explanation for the expected type of when-clauses
  testsuite/tests/typing-core-bugs/type_expected_explanation.ml
  typing/typecore.ml
  typing/typecore.mli
Labels: no-change-entry-needed

#1885 Do some trivial cleanup in parsing/location.ml
  parsing/location.ml
Labels: no-change-entry-needed

#1881 typecore: remove redundant `try … with`
  typing/typecore.ml
Labels: no-change-entry-needed

#1887 Add -open option to ocamldoc man page
  man/ocamldoc.m
Labels: no-change-entry-needed

#1889 manual: fixes for the .svg arrow files hevea now generates
  manual/manual/Makefile
  manual/manual/htmlman/.gitignore
Labels: no-change-entry-needed

#1891 location.ml: some more trivial cleanup
  parsing/location.ml
Labels: no-change-entry-needed

#1893 warning 40: fix missing wrap_printing_env
  Changes
  testsuite/tests/typing-misc/pr6416.ml
  typing/printtyp.ml
  typing/typecore.ml
Labels: bug

#1895 in native code, make Printexc.get_callstack work in new threads
  Changes
  otherlibs/systhreads/st_stubs.c
  testsuite/tests/backtrace/callstack.ml
  testsuite/tests/backtrace/callstack.reference
  testsuite/tests/backtrace/ocamltests
Labels: bug

#1676 New attempt at fixing MPR#7726
  .depend
  Changes
  ocamldoc/stdlib_non_prefixed/.depend
  testsuite/tests/typing-modules/.gitattributes
  testsuite/tests/typing-modules/ocamltests
  testsuite/tests/typing-modules/pr7726.ml
  typing/env.ml
  typing/env.mli
  typing/typemod.ml
  typing/typemod.mli
  typing/typetexp.ml
  typing/typetexp.mli
Labels: bug

#1857 Remove the Sort module.
  Changes
  manual/manual/cmds/comp.etex
  manual/manual/library/Makefile
  manual/manual/library/stdlib.etex
  ocamldoc/stdlib_non_prefixed/.depend
  otherlibs/threads/Makefile
  otherlibs/threads/stdlib.ml
  stdlib/.depend
  stdlib/Makefile
  stdlib/StdlibModules
  stdlib/sort.ml
  stdlib/sort.mli
  stdlib/stdlib.ml
  stdlib/stdlib.mli
  testsuite/tests/tool-lexyacc/output.ml
  tools/scrapelabels.ml
Labels: stdlib

#1883 Clean-up some dead code in typecore.ml ("let separate = true in ...")
  typing/typecore.ml
Labels: no-change-entry-needed

#1751 Lambda.subst: also update debug event environments
  Changes
  bytecomp/bytegen.ml
  bytecomp/lambda.ml
  bytecomp/lambda.mli
  bytecomp/simplif.ml
  bytecomp/translclass.ml
  bytecomp/translcore.ml
  bytecomp/translmod.ml
  bytecomp/translprim.ml
Labels: bug

#1896 MPR#7815: major GC crash with first-fit policy
  Changes
  runtime/freelist.c
Labels: bug

#1924 Testsuite: error messages when calling #use in the toplevel
  testsuite/tests/tool-toplevel/error_highlighting.compilers.reference
  testsuite/tests/tool-toplevel/error_highlighting.ml
  testsuite/tests/tool-toplevel/error_highlighting_use1.ml
  testsuite/tests/tool-toplevel/error_highlighting_use2.ml
  testsuite/tests/tool-toplevel/error_highlighting_use3.ml
  testsuite/tests/tool-toplevel/error_highlighting_use4.ml
Labels: no-change-entry-needed

#1927 Build ocamldebug with debugging information (-g)
  debugger/Makefile
  tools/Makefile
Labels: no-change-entry-needed

#1928 ctype: remove instance_def which is redundant
  toplevel/opttopdirs.ml
  toplevel/topdirs.ml
  typing/ctype.ml
  typing/ctype.mli
  typing/typeclass.ml
  typing/typecore.ml
Labels: no-change-entry-needed

#1922 rec_check: remove the duplicate array_type_kind classifier, use Typeopt
  testsuite/tests/letrec-disallowed/float_block_allowed.ml
  testsuite/tests/letrec-disallowed/float_block_allowed.ocaml.reference
  testsuite/tests/letrec-disallowed/float_block_disallowed.ml
  testsuite/tests/letrec-disallowed/float_block_disallowed.ocaml.reference
  testsuite/tests/letrec-disallowed/generic_arrays.ml
  testsuite/tests/letrec-disallowed/ocamltests
  typing/rec_check.ml
Labels: no-change-entry-needed
