Repository ocaml/ocaml, pull requests merged in 2018-02, with the labels that each got.

#1601 Fix minor typo
  manual/manual/refman/exten.etex
Labels: no-change-entry-needed

#1010 Prefix the stdlib
  .depend
  .gitignore
  Changes
  Makefile
  boot/ocamlc
  boot/ocamldep
  boot/ocamllex
  bytecomp/translcore.ml
  config/Makefile.mingw
  config/Makefile.mingw64
  config/Makefile.msvc
  config/Makefile.msvc64
  configure
  driver/compmisc.ml
  manual/manual/Makefile
  manual/manual/library/Makefile
  manual/manual/refman/exten.etex
  manual/tests/check-stdlib-modules
  ocamldoc/Makefile
  ocamldoc/Makefile.unprefix
  ocamldoc/odoc_analyse.ml
  ocamldoc/odoc_args.ml
  ocamldoc/odoc_global.ml
  ocamldoc/odoc_global.mli
  ocamldoc/odoc_index.html
  ocamldoc/odoc_messages.ml
  ocamldoc/stdlib_non_prefixed/.depend
  ocamldoc/stdlib_non_prefixed/Makefile
  ocamldoc/stdlib_non_prefixed/extract_pervasives.awk
  otherlibs/threads/.depend
  otherlibs/threads/Makefile
  otherlibs/threads/stdlib.ml
  stdlib/.depend
  stdlib/Compflags
  stdlib/Makefile
  stdlib/StdlibModules
  stdlib/expand_module_aliases.awk
  stdlib/moreLabels.mli
  stdlib/remove_module_aliases.awk
  stdlib/stdlib.ml
  stdlib/stdlib.mli
  testsuite/tests/backtrace/pr6920_why_at.byte.reference
  testsuite/tests/backtrace/pr6920_why_at.native.reference
  testsuite/tests/backtrace/pr6920_why_swallow.byte.reference
  testsuite/tests/backtrace/pr6920_why_swallow.native.reference
  testsuite/tests/lib-stdlabels/test_stdlabels.ml
  testsuite/tests/messages/precise_locations.ml
  testsuite/tests/no-alias-deps/aliases.cmo.reference
  testsuite/tests/tool-ocamldoc-html/Module_whitespace.reference
  testsuite/tests/tool-ocamlobjinfo/test.reference
  testsuite/tests/translprim/comparison_table.ml.reference
  testsuite/tests/typing-implicit_unpack/implicit_unpack.ocaml.reference
  testsuite/tests/typing-poly/poly.ml
  testsuite/tests/typing-warnings/application.compilers.reference
  testsuite/tests/typing-warnings/pr6587.compilers.reference
  testsuite/tests/typing-warnings/pr7297.compilers.reference
  typing/printtyp.ml
  typing/printtyp.mli
  typing/typemod.ml
  typing/typemod.mli
Labels: caml-weekly-news, stdlib

#1603 Fix the dependencies for `.p.cmx` files
  stdlib/Makefile
Labels: no-change-entry-needed

#1607 s/make/$(MAKE)/ in ocamldoc/Makefile.unprefix
  ocamldoc/Makefile.unprefix
Labels: no-change-entry-needed

#1612 flambda: minor cleanup
  middle_end/inlining_transforms.ml
  middle_end/lift_constants.ml
Labels: approved, no-change-entry-needed

#1616 testsuite: switch typing-objects from toplevel to expect tests
  testsuite/tests/typing-objects/Exemples.compilers.reference
  testsuite/tests/typing-objects/Exemples.ml
  testsuite/tests/typing-objects/Exemples.ml.principal.reference
  testsuite/tests/typing-objects/Tests.compilers.reference
  testsuite/tests/typing-objects/Tests.ml
  testsuite/tests/typing-objects/Tests.ml.principal.reference
  testsuite/tests/typing-objects/open_in_classes.compilers.reference
  testsuite/tests/typing-objects/open_in_classes.ml
  testsuite/tests/typing-objects/pr5545.compilers.reference
  testsuite/tests/typing-objects/pr5545.ml
  testsuite/tests/typing-objects/pr5545.ml.principal.reference
  testsuite/tests/typing-objects/pr5619_bad.compilers.reference
  testsuite/tests/typing-objects/pr5619_bad.ml
  testsuite/tests/typing-objects/pr5619_bad.ml.principal.reference
  testsuite/tests/typing-objects/pr5858.compilers.reference
  testsuite/tests/typing-objects/pr5858.ml
  testsuite/tests/typing-objects/pr6123_bad.compilers.reference
  testsuite/tests/typing-objects/pr6123_bad.ml
  testsuite/tests/typing-objects/pr6123_bad.ml.principal.reference
  testsuite/tests/typing-objects/pr6383.compilers.reference
  testsuite/tests/typing-objects/pr6383.ml
  testsuite/tests/typing-objects/pr6907_bad.compilers.reference
  testsuite/tests/typing-objects/pr6907_bad.ml
  testsuite/tests/typing-objects/pr7711_ok.compilers.reference
  testsuite/tests/typing-objects/pr7711_ok.ml
Labels: no-change-entry-needed

#1594 add information in Asmcomp.Asmlink fatal error
  asmcomp/asmlink.ml
Labels: no-change-entry-needed

#1625 Unused variable in win32.c
  byterun/win32.c
Labels: no-change-entry-needed

#1598 Fix ocamllex bug introduced in #1585
  lex/outputbis.ml
Labels: no-change-entry-needed

#1630 Tweak runtop and natruntop targets
  Makefile
Labels: no-change-entry-needed

#1634 ocamltest: also announce system errors as test errors
  ocamltest/main.ml
Labels: no-change-entry-needed

#1395 Clarify Sys.executable_name behavior
  stdlib/sys.mli
Labels: no-change-entry-needed

#1622 Fix char vs wchar_t bug when expanding command line arguments under Windows
  Changes
  byterun/win32.c
Labels: bug

#1637 Optimize String.escaped
  Changes
  stdlib/string.ml
Labels: stdlib

#1640 ocamldep: colored error message for -sort
  driver/makedepend.ml
  parsing/location.mli
Labels: no-change-entry-needed
