Repository ocaml/ocaml, pull requests merged in 2018-12, with the labels that each got.

#1936 add Stdlib.Float.Array
  Changes
  stdlib/Compflags
  stdlib/Makefile
  stdlib/array.mli
  stdlib/float.ml
  stdlib/float.mli
  stdlib/sys.mli
  stdlib/sys.mlp
  testsuite/tests/lib-floatarray/floatarray.ml
  testsuite/tests/lib-floatarray/ocamltests
Labels: stdlib

#2002 Format.pp_print_custom_break, a more general break hint
  Changes
  stdlib/format.ml
  stdlib/format.mli
  testsuite/tests/lib-format/ocamltests
  testsuite/tests/lib-format/pp_print_custom_break.ml
  testsuite/tests/lib-format/pp_print_custom_break.reference
Labels: caml-weekly-news

#2191 graphic documentation: images are bound to windows
  otherlibs/graph/graphics.mli
Labels: no-change-entry-needed

#2187 manual: document exception A | exception B
  Changes
  manual/manual/refman/patterns.etex
  manual/manual/tutorials/coreexamples.etex
Labels: no-change-entry-needed

#2194 documentation: map.mli, avoid implicit order on bindings
  stdlib/map.mli
Labels: no-change-entry-needed

#2200 Fix docstring for Queue.of_seq
  stdlib/queue.mli
Labels: no-change-entry-needed

#2208 documentation: use 'Bigarray' rather than 'big array'
  bytecomp/lambda.ml
  bytecomp/lambda.mli
  manual/manual/cmds/intf-c.etex
  otherlibs/unix/unix.mli
  otherlibs/unix/unixLabels.mli
  stdlib/bigarray.mli
Labels: no-change-entry-needed

#2183 Fix caml_make_float_vect
  Changes
  runtime/array.c
Labels: bug
