Repository ocaml/ocaml, pull requests merged in 2018-10, with the labels that each got.

#2074 Rename [Mach.Ialloc] record field from "words" to "bytes"
  Changes
  asmcomp/amd64/emit.mlp
  asmcomp/arm/emit.mlp
  asmcomp/arm64/arch.ml
  asmcomp/arm64/emit.mlp
  asmcomp/branch_relaxation.ml
  asmcomp/branch_relaxation_intf.ml
  asmcomp/comballoc.ml
  asmcomp/i386/emit.mlp
  asmcomp/mach.ml
  asmcomp/mach.mli
  asmcomp/power/arch.ml
  asmcomp/power/emit.mlp
  asmcomp/printmach.ml
  asmcomp/s390x/emit.mlp
  asmcomp/selectgen.ml
  asmcomp/spacetime_profiling.ml
Labels: bug

#2080 DWARF register numberings
  Changes
  asmcomp/amd64/proc.ml
  asmcomp/arm/proc.ml
  asmcomp/arm64/proc.ml
  asmcomp/i386/proc.ml
  asmcomp/power/proc.ml
  asmcomp/proc.mli
  asmcomp/s390x/proc.ml
Labels: debugging-prerequisite

#2101 makefile: correctly register dependencies for utils/config.ml rule
  Makefile
  utils/Makefile
Labels: no-change-entry-needed

#2060 Phantom let support in Clambda
  Changes
  asmcomp/clambda.ml
  asmcomp/clambda.mli
  asmcomp/closure.ml
  asmcomp/cmmgen.ml
  asmcomp/printclambda.ml
  asmcomp/un_anf.ml
  utils/clflags.ml
  utils/clflags.mli
Labels: debugging-prerequisite

#2065 Add [Proc.destroyed_at_reloadretaddr]
  Changes
  asmcomp/amd64/proc.ml
  asmcomp/arm/proc.ml
  asmcomp/arm64/proc.ml
  asmcomp/i386/proc.ml
  asmcomp/power/proc.ml
  asmcomp/proc.mli
  asmcomp/s390x/proc.ml
Labels: debugging-prerequisite

#2107 shebangs: use `/usr/bin/env bash` instead of `/bin/bash` for BSD compat
  bytecomp/generate_runtimedef.sh
  runtime/gen_primitives.sh
  testsuite/tests/afl-instrumentation/afltest.run
  tools/check-symbol-names
  tools/ci/appveyor/appveyor_build.sh
  tools/ci/travis/travis-ci.sh
  tools/msvs-promote-path
  tools/ocaml-instr-graph
  tools/ocaml-objcopy-macosx
Labels: no-change-entry-needed

#2108 check_scope_escape: also handle type constructors escapes
  testsuite/tests/typing-gadts/pr6690.ml
  testsuite/tests/typing-gadts/pr7222.ml
  typing/ctype.ml
  typing/ctype.mli
  typing/typecore.ml
Labels: no-change-entry-needed

#2106 Disallow .~ in extended indexing operators.
  Changes
  manual/manual/refman/lex.etex
  parsing/lexer.mli
  parsing/lexer.mll
  parsing/parse.ml
Labels: caml-weekly-news

#1794 Add to Float arithmetic operators, is_finite,..., round, min/max.
  Changes
  runtime/floats.c
  stdlib/float.ml
  stdlib/float.mli
  testsuite/tests/lib-float/ocamltests
  testsuite/tests/lib-float/test.ml
  testsuite/tests/lib-float/test.reference
Labels: stdlib

#2010 Improve stdlib support for `bool`
  Changes
  manual/manual/library/stdlib.etex
  otherlibs/threads/Makefile
  otherlibs/threads/stdlib.ml
  stdlib/.depend
  stdlib/Makefile
  stdlib/StdlibModules
  stdlib/bool.ml
  stdlib/bool.mli
  stdlib/stdlib.ml
  stdlib/stdlib.mli
  testsuite/tests/lib-bool/ocamltests
  testsuite/tests/lib-bool/test.ml
  testsuite/tests/lib-bool/test.reference
Labels: stdlib

#2115 Towards autoconf #4: Remove the dl_needs_underscore feature
  configure
  runtime/unix.c
Labels: no-change-entry-needed

#1354 Support FMA operation
  Changes
  configure
  runtime/floats.c
  stdlib/float.ml
  stdlib/float.mli
  testsuite/tests/fma/fma.ml
  testsuite/tests/fma/fma.reference
  testsuite/tests/fma/ocamltests
Labels: stdlib

#2126 Fix uncaught Nondep_cannot_erase exception
  testsuite/tests/typing-modules/nondep.ml
  testsuite/tests/typing-modules/ocamltests
  typing/typemod.ml
Labels: no-change-entry-needed

#2116 TODO list for cleaning up the typechecker implementation
  typing/TODO.md
Labels: no-change-entry-needed

#2128 testsuite: convert typing-unboxed-types to expect-style tests
  .gitattributes
  testsuite/tests/typing-unboxed-types/ocamltests
  testsuite/tests/typing-unboxed-types/test.ml
  testsuite/tests/typing-unboxed-types/test.ml.flat.reference
  testsuite/tests/typing-unboxed-types/test.ml.no-flat.reference
  testsuite/tests/typing-unboxed-types/test_flat.ml
  testsuite/tests/typing-unboxed-types/test_no_flat.ml
Labels: no-change-entry-needed
