Repository ocaml/ocaml, pull requests merged in 2018-08, with the labels that each got.

#1626 Do not allow recursive modules in `with module`
  Changes
  testsuite/tests/typing-recmod/gpr1626.ml
  testsuite/tests/typing-recmod/ocamltests
  testsuite/tests/typing-recmod/t14bad.compilers.reference
  testsuite/tests/typing-recmod/t14bad.ml
  testsuite/tests/typing-recmod/t19ok.ml
  typing/typemod.ml
Labels: bug

#1964 Distribute fonts with manual
  manual/manual/Makefile
  manual/manual/macros.hva
  manual/manual/style.css
Labels: no-change-entry-needed

#1959 Add Format.dprintf, the delayed printing function
  Changes
  stdlib/camlinternalFormat.ml
  stdlib/camlinternalFormat.mli
  stdlib/format.ml
  stdlib/format.mli
  stdlib/printf.ml
  testsuite/tests/lib-format/tformat.ml
  testsuite/tests/lib-format/tformat.reference
  testsuite/tests/shadow_include/cannot_shadow_error.compilers.reference
  testsuite/tests/typing-sigsubst/sigsubst.ml
Labels: stdlib

#1967 Fix and improve the documentation of dprintf.
  stdlib/format.mli
Labels: no-change-entry-needed

#1698 Ensure `with module` and `with type` do not weaken module aliases (MPR#7723)
  Changes
  testsuite/tests/typing-sigsubst/sigsubst.ml
  typing/typemod.ml
Labels: bug

#1956 Improve stdlib support for result values
  Changes
  manual/manual/library/Makefile
  manual/manual/library/stdlib.etex
  otherlibs/threads/Makefile
  otherlibs/threads/stdlib.ml
  stdlib/.depend
  stdlib/Makefile
  stdlib/StdlibModules
  stdlib/format.ml
  stdlib/format.mli
  stdlib/result.ml
  stdlib/result.mli
  stdlib/stdlib.ml
  stdlib/stdlib.mli
  testsuite/tests/lib-result/ocamltests
  testsuite/tests/lib-result/test.ml
  testsuite/tests/lib-result/test.reference
Labels: stdlib

#1940 Improve stdlib support for option values
  Changes
  manual/manual/library/Makefile
  manual/manual/library/stdlib.etex
  otherlibs/threads/Makefile
  otherlibs/threads/stdlib.ml
  stdlib/.depend
  stdlib/Makefile
  stdlib/StdlibModules
  stdlib/format.ml
  stdlib/format.mli
  stdlib/option.ml
  stdlib/option.mli
  stdlib/stdlib.ml
  stdlib/stdlib.mli
  testsuite/tests/lib-option/ocamltests
  testsuite/tests/lib-option/test.ml
  testsuite/tests/lib-option/test.reference
Labels: stdlib

#1855 Add "finally" function to Pervasives
  Changes
  otherlibs/threads/stdlib.ml
  stdlib/stdlib.ml
  stdlib/stdlib.mli
Labels: stdlib

#1982 testsuite: move pattern_open to expect test
  testsuite/tests/typing-misc/ocamltests
  testsuite/tests/typing-misc/pattern_open.ml
  testsuite/tests/typing-pattern_open/ocamltests
  testsuite/tests/typing-pattern_open/pattern_open.ml
  testsuite/tests/typing-pattern_open/pattern_open.ocaml.reference
Labels: no-change-entry-needed

#1986 Add Set.disjoint
  Changes
  stdlib/moreLabels.mli
  stdlib/set.ml
  stdlib/set.mli
  testsuite/tests/lib-set/testset.ml
  testsuite/tests/typing-modules/aliases.ml
Labels: stdlib

#1978 Fix references to Location.report_error in docstrings
  parsing/syntaxerr.mli
  typing/typecore.mli
Labels: no-change-entry-needed

#1988 Printtyp: minor refactoring of Path.t printing functions
  typing/oprint.ml
  typing/oprint.mli
  typing/printtyp.ml
Labels: no-change-entry-needed

#1991 Alternative formatting for polymorphic variant types
  testsuite/tests/typing-warnings/ambiguous_guarded_disjunction.compilers.reference
  typing/oprint.ml
Labels: no-change-entry-needed

#1985 Migrate most of typing-warning tests to expect
  testsuite/tests/typing-warnings/ambiguous_guarded_disjunction.compilers.reference
  testsuite/tests/typing-warnings/ambiguous_guarded_disjunction.ml
  testsuite/tests/typing-warnings/application.compilers.reference
  testsuite/tests/typing-warnings/application.ml
  testsuite/tests/typing-warnings/coercions.compilers.principal.reference
  testsuite/tests/typing-warnings/coercions.compilers.reference
  testsuite/tests/typing-warnings/coercions.ml
  testsuite/tests/typing-warnings/exhaustiveness.compilers.reference
  testsuite/tests/typing-warnings/exhaustiveness.ml
  testsuite/tests/typing-warnings/pr5892.compilers.reference
  testsuite/tests/typing-warnings/pr5892.ml
  testsuite/tests/typing-warnings/pr6587.compilers.reference
  testsuite/tests/typing-warnings/pr6587.ml
  testsuite/tests/typing-warnings/pr6872.compilers.principal.reference
  testsuite/tests/typing-warnings/pr6872.compilers.reference
  testsuite/tests/typing-warnings/pr6872.ml
  testsuite/tests/typing-warnings/pr7085.compilers.reference
  testsuite/tests/typing-warnings/pr7085.ml
  testsuite/tests/typing-warnings/pr7115.compilers.reference
  testsuite/tests/typing-warnings/pr7115.ml
  testsuite/tests/typing-warnings/pr7297.compilers.reference
  testsuite/tests/typing-warnings/pr7297.ml
  testsuite/tests/typing-warnings/pr7553.compilers.reference
  testsuite/tests/typing-warnings/pr7553.ml
  testsuite/tests/typing-warnings/unused_types.compilers.reference
  testsuite/tests/typing-warnings/unused_types.ml
Labels: no-change-entry-needed

#1984 Doc clarification
  manual/manual/tutorials/lablexamples.etex
Labels: no-change-entry-needed

#2009 Update the deprecation message for Stdlib.Pervasives
  stdlib/stdlib.mli
  testsuite/tests/lib-stdlib/pervasives_deprecated.ml
Labels: no-change-entry-needed
