Repository ocaml/ocaml, pull requests merged in 2019-06, with the labels that each got.

#8675 Make sure build variables are defined
  Makefile.config.in
  Makefile.tools
  testsuite/Makefile
  testsuite/lib/Makefile
  testsuite/tools/Makefile
  testsuite/tools/codegen_main.ml
  testsuite/tools/parsecmm.mly
  tools/ci/inria/main
Labels: no-change-entry-needed

#8706 Don't apply local function optimisation for Tupled functions (fixes #8705)
  bytecomp/lambda.ml
  bytecomp/lambda.mli
  bytecomp/simplif.ml
  testsuite/tests/local-functions/ocamltests
  testsuite/tests/local-functions/tupled.ml
  testsuite/tests/local-functions/tupled2.ml
Labels: bug, high-priority, no-change-entry-needed

#8722 ocamltest: fix the ocamldebug test
  ocamltest/ocaml_flags.ml
Labels: no-change-entry-needed

#8720 build system: remove the config/ directory
  .gitattributes
  HACKING.adoc
  INSTALL.adoc
  Makefile.config.in
  config/Makefile.mingw
  config/Makefile.mingw64
  config/Makefile.msvc
  config/Makefile.msvc64
  config/auto-aux/align.c
  config/auto-aux/ansi.c
  config/auto-aux/async_io.c
  config/auto-aux/cckind.c
  config/auto-aux/cfi.S
  config/auto-aux/dblalign.c
  config/auto-aux/elf.c
  config/auto-aux/endian.c
  config/auto-aux/getgroups.c
  config/auto-aux/gethostbyaddr.c
  config/auto-aux/gethostbyname.c
  config/auto-aux/hasgot
  config/auto-aux/hasgot2
  config/auto-aux/hashbang
  config/auto-aux/hashbang2
  config/auto-aux/hashbang3
  config/auto-aux/ia32sse2.c
  config/auto-aux/initgroups.c
  config/auto-aux/int64align.c
  config/auto-aux/mmap-huge.c
  config/auto-aux/nanosecond_stat.c
  config/auto-aux/runtest
  config/auto-aux/searchpath
  config/auto-aux/setgroups.c
  config/auto-aux/signals.c
  config/auto-aux/simple.S
  config/auto-aux/sizes.c
  config/auto-aux/solaris-ld
  config/auto-aux/tryassemble
  config/auto-aux/trycompile
  config/gnu/config.guess
  config/gnu/config.sub
  config/m-nt.h
  config/s-nt.h
Labels: no-change-entry-needed

#8726 Use AC_PREREQ to force Autoconf 2.69
  autogen
  configure.ac
Labels: no-change-entry-needed

#8721 testsuite: remove dead code
  Makefile.tools
  testsuite/Makefile
  testsuite/makefiles/Makefile.common
  testsuite/makefiles/Makefile.one
  testsuite/summarize.awk
Labels: no-change-entry-needed

#8652 Widen the test for configure regeneration in Travis
  autogen
  tools/ci/travis/travis-ci.sh
  tools/release-checklist
Labels: no-change-entry-needed

#8739 Fix Option.bind doc comment
  stdlib/option.mli
Labels: no-change-entry-needed

#8741 Drop dependency utils/config.ml ← Makefile
  Makefile
Labels: no-change-entry-needed

#8743 Don't call `git ls-files` on every invocation of make
  HACKING.adoc
  Makefile
  Makefile.dev
Labels: no-change-entry-needed

#8745 Fix Thread sanitizer after GPR#8691.
  otherlibs/systhreads/st_posix.h
  runtime/caml/misc.h
  runtime/signals.c
  tools/ci/inria/extra-checks
  tools/ci/inria/tsan-suppr.txt
Labels: no-change-entry-needed

#1690 Improve shell scripts
  .travis.yml
  driver/ocamlcomp.sh.in
  lambda/generate_runtimedef.sh
  runtime/gen_primitives.sh
  tools/check-parser-uptodate-or-warn.sh
  tools/ci/appveyor/appveyor_build.cmd
  tools/ci/appveyor/appveyor_build.sh
  tools/ci/travis/travis-ci.sh
  tools/make-version-header.sh
Labels: no-change-entry-needed

#8755 Improve depend from scratch
  Makefile
  ocamltest/Makefile
  otherlibs/dynlink/Makefile
Labels: no-change-entry-needed

#1492 Add Filename.quote_command function
  Changes
  otherlibs/unix/unix.mli
  stdlib/filename.ml
  stdlib/filename.mli
  stdlib/sys.mli
  testsuite/tests/lib-filename/myecho.ml
  testsuite/tests/lib-filename/ocamltests
  testsuite/tests/lib-filename/quotecommand.ml
  testsuite/tests/lib-filename/quotecommand.reference
Labels: high-priority, review-needed, stdlib

#8708 Add .size directive in runtime assembly functions
  runtime/amd64.S
  runtime/i386.S
Labels: no-change-entry-needed

#8767 manual: recover compatibility with case-insensitive file systems
  manual/README.md
  manual/manual/allfiles.etex
  manual/manual/library/Makefile
  manual/manual/library/stdlib-blurb.etex
  manual/tests/README.md
  manual/tests/check-stdlib-modules
Labels: no-change-entry-needed

#8773 [4.08] manual: fix broken links
  manual/manual/cmds/plugins.etex
  manual/manual/cmds/unified-options.etex
Labels: no-change-entry-needed
