Repository ocaml/ocaml, pull requests merged in 2019-02, with the labels that each got.

#2118 protect: treat as an error the case where two exceptions are being raised
  Changes
  otherlibs/threads/stdlib.ml
  stdlib/.depend
  stdlib/Makefile
  stdlib/fun.ml
  stdlib/fun.mli
  stdlib/stdlib.ml
  stdlib/stdlib.mli
  testsuite/tests/lib-fun/test.ml
Labels: consider-for-release, stdlib

#2234 [Makefile] Fixed a bug in partialclean target
  Makefile
Labels: no-change-entry-needed

#2235 Assume that module names that are not in `Env.t` are persistent
  Changes
  testsuite/tests/no-alias-deps/a2235.ml
  testsuite/tests/no-alias-deps/gpr2235.ml
  testsuite/tests/no-alias-deps/lib2235.ml
  testsuite/tests/no-alias-deps/lib__2235.ml
  testsuite/tests/no-alias-deps/ocamltests
  testsuite/tests/no-alias-deps/user_of_lib2235.ml
  typing/env.ml
Labels: consider-for-release

#2242 Avoid the use of Variable-Length Arrays
  ocamltest/run_unix.c
Labels: no-change-entry-needed

#2241 Fix configure of flambda
  configure
  configure.ac
Labels: no-change-entry-needed

#1725 Deprecate Obj.set_tag
  Changes
  boot/ocamlc
  boot/ocamllex
  bytecomp/simplif.ml
  runtime/obj.c
  stdlib/camlinternalLazy.ml
  stdlib/camlinternalMod.ml
  stdlib/obj.ml
  stdlib/obj.mli
  testsuite/tests/backtrace/backtrace2.byte.reference
  testsuite/tests/backtrace/backtrace2.opt.reference
  testsuite/tests/lib-obj/ocamltests
  testsuite/tests/lib-obj/with_tag.ml
  testsuite/tests/lib-obj/with_tag.reference
Labels: high-priority, multicore-prerequisite

#2258 stdlib.mli: add a stable doc link to the list of modules.
  stdlib/stdlib.mli
Labels: no-change-entry-needed

#2249 bump magic numbers and bootstrap to catch up with branch 4.08
  boot/ocamlc
  boot/ocamllex
  otherlibs/dynlink/natdynlink.ml
  runtime/caml/exec.h
  utils/config.mlp
Labels: no-change-entry-needed

#2265 Add bytecomp/opcodes.mli
  .depend
  .gitignore
  Changes
  Makefile
Labels: debugging-prerequisite

#2271 ocamltest: explicitly set OCAML_ERROR_STYLE
  ocamltest/ocaml_actions.ml
  parsing/location.ml
  utils/clflags.ml
  utils/clflags.mli
  utils/misc.ml
  utils/misc.mli
Labels: no-change-entry-needed

#2259 MPR#7923 1/2 - fix bootstrapped flexdll
  Changes
  Makefile
  utils/Makefile
Labels: bug

#2266 Fix Cygwin ports
  Changes
  configure
  configure.ac
Labels: bug

#2270 Remove unnecessary executable bit from sources
  otherlibs/win32graph/events.c
  otherlibs/win32unix/nonblock.c
  parsing/ast_iterator.ml
  parsing/ast_iterator.mli
  parsing/builtin_attributes.ml
  parsing/builtin_attributes.mli
  testsuite/tests/basic/localexn.ml
  testsuite/tests/basic/localfunction.ml
  testsuite/tests/basic/localfunction.reference
  testsuite/tests/basic/opt_variants.ml
  testsuite/tests/basic/pr7657.ml
  testsuite/tests/lib-bytes/binary.ml
  testsuite/tests/lib-filename/extension.ml
  testsuite/tests/lib-filename/suffix.ml
  testsuite/tests/lib-obj/reachable_words.ml
  testsuite/tests/lib-stream/mpr7769.ml
  testsuite/tests/lib-stream/mpr7769.reference
  testsuite/tests/typing-core-bugs/repeated_did_you_mean.ml
  testsuite/tests/typing-deprecated/alerts.ml
  testsuite/tests/typing-modules/normalize_path.ml
  testsuite/tests/typing-warnings/open_warnings.ml
  testsuite/tests/warnings/deprecated_module.ml
  testsuite/tests/warnings/deprecated_module.mli
  testsuite/tests/warnings/deprecated_module_assigment.ml
  testsuite/tests/warnings/deprecated_module_use.ml
  testsuite/tests/warnings/w45.ml
  testsuite/tests/warnings/w50.ml
  testsuite/tests/warnings/w60.ml
  testsuite/tests/warnings/w60.mli
  testsuite/tests/win-unicode/mltest.compilers.reference
  typing/TODO.md
Labels: no-change-entry-needed

#2269 restore the error message for closing a self type
  Changes
  testsuite/tests/typing-misc/polyvars.ml
  testsuite/tests/typing-objects/ocamltests
  testsuite/tests/typing-objects/self_cannot_be_closed.ml
  typing/ctype.ml
  typing/ctype.mli
  typing/printtyp.ml
Labels: bug
