Repository ocaml/ocaml, pull requests merged in 2019-04, with the labels that each got.

#8559 Fix #8558: use Strict bindings when simplifying Lstaticraise
  Changes
  bytecomp/simplif.ml
  testsuite/tests/basic/localfunction.ml
Labels: bug, consider-for-release, no-change-entry-needed

#2279 Deprecate Obj.truncate
  Changes
  boot/ocamlc
  boot/ocamllex
  bytecomp/translprim.ml
  runtime/sys.c
  stdlib/.depend
  stdlib/camlinternalMod.ml
  stdlib/obj.mli
  stdlib/sys.mli
  stdlib/sys.mlp
  stdlib/weak.ml
  testsuite/tests/basic-modules/main.ml
  testsuite/tests/basic-modules/pr4008.ml
  testsuite/tests/misc/sorts.ml
  testsuite/tests/tool-toplevel-invocation/print_args.ml
  testsuite/tests/tool-toplevel-invocation/print_args.reference
  testsuite/tests/tool-toplevel-invocation/test.ml
  toplevel/opttoploop.ml
  toplevel/toploop.ml
Labels: multicore-prerequisite

#8568 Bigarray mmap leak
  Changes
  otherlibs/unix/mmap_ba.c
  runtime/bigarray.c
Labels: bug, consider-for-release

#8569 arm64.S: use 32-bit loads to access caml_backtrace_active
  Changes
  runtime/arm64.S
Labels: bug, consider-for-release

#8573 runtime: re-enable build/install of PIC libraries
  runtime/Makefile
Labels: no-change-entry-needed

#8582 Fix exception handler addresses for Thumb-2
  Changes
  asmcomp/arm/emit.mlp
Labels: bug

#8580 Follow-up to #8571
  testsuite/Makefile
Labels: no-change-entry-needed

#2296 Runtime: fix hex float parsing with underscore in exponent
  Changes
  runtime/floats.c
  testsuite/tests/basic-float/tfloat_hex.ml
  testsuite/tests/basic-float/tfloat_hex.reference
Labels: bug, high-priority

#8590 Update comp.etex
  manual/manual/cmds/comp.etex
Labels: no-change-entry-needed

#8552 Fix #8550: Soundness issue with class generalization
  Changes
  testsuite/tests/typing-poly/poly.ml
  typing/ctype.ml
  typing/ctype.mli
  typing/typecore.ml
Labels: bug, consider-for-release

#8598 Replace "not is_nonexpansive" by "maybe_expansive"
  Changes
  testsuite/tests/typing-misc/is_expansive.ml
  testsuite/tests/typing-misc/ocamltests
  typing/typecore.ml
Labels: typing

#8601 Get rid of the stdlib/Compflags script
  .gitattributes
  stdlib/Compflags
  stdlib/Makefile
Labels: no-change-entry-needed

#8606 make clean: do not remove emacs backups
  Makefile
  lex/Makefile
  ocamldoc/Makefile
  runtime/Makefile
  stdlib/Makefile
Labels: no-change-entry-needed

#2313 Clean up int literal hint
  testsuite/tests/let-syntax/let_syntax.ml
  testsuite/tests/tool-toplevel/error_highlighting.compilers.reference
  testsuite/tests/typing-core-bugs/const_int_hint.ml
  testsuite/tests/typing-core-bugs/int_operator_hint.ml
  typing/typecore.ml
Labels: no-change-entry-needed

#8617 turn off warning 40
  Makefile
  otherlibs/dynlink/Makefile
Labels: no-change-entry-needed

#8586 Explicitly rescope idents when substituting signatures
  Changes
  testsuite/tests/typing-misc/mapping.ml
  testsuite/tests/typing-misc/ocamltests
  testsuite/tests/typing-misc/pr8548.ml
  testsuite/tests/typing-misc/pr8548_split.ml
  testsuite/tests/typing-misc/range.ml
  testsuite/tests/typing-misc/range_intf.ml
  testsuite/tests/typing-misc/ranged.ml
  testsuite/tests/typing-misc/ranged_intf.ml
  typing/env.ml
  typing/envaux.ml
  typing/includemod.ml
  typing/mtype.ml
  typing/mtype.mli
  typing/subst.ml
  typing/subst.mli
  typing/typemod.ml
Labels: consider-for-release

#8620 Backport #8586 to 4.08
  Changes
  Makefile
  otherlibs/dynlink/Makefile
  testsuite/tests/typing-misc/mapping.ml
  testsuite/tests/typing-misc/ocamltests
  testsuite/tests/typing-misc/pr8548.ml
  testsuite/tests/typing-misc/pr8548_split.ml
  testsuite/tests/typing-misc/range.ml
  testsuite/tests/typing-misc/range_intf.ml
  testsuite/tests/typing-misc/ranged.ml
  testsuite/tests/typing-misc/ranged_intf.ml
  typing/env.ml
  typing/envaux.ml
  typing/includemod.ml
  typing/mtype.ml
  typing/mtype.mli
  typing/subst.ml
  typing/subst.mli
  typing/typemod.ml
Labels: consider-for-release

#8570 Fix #7851 by checking type declaration coherence for recursive modules
  Changes
  testsuite/tests/typing-modules/ocamltests
  testsuite/tests/typing-modules/pr7818.ml
  testsuite/tests/typing-modules/pr7851.ml
  typing/includecore.ml
  typing/includecore.mli
  typing/includemod.ml
  typing/typedecl.ml
  typing/typedecl.mli
  typing/typemod.ml
Labels: bug, consider-for-release

#8626 Fix stdlib build
  stdlib/Makefile
Labels: no-change-entry-needed

#8649 Fix tests/lib-dynlink-pr4229
  testsuite/tests/lib-dynlink-pr4229/main.ml
  testsuite/tests/lib-dynlink-pr4229/main.reference
  testsuite/tests/lib-dynlink-pr4229/main_native.ml
Labels: no-change-entry-needed
