Repository ocaml/ocaml, pull requests merged in 2019-05, with the labels that each got.

#8624 Add a non-regression test for #7865
  testsuite/tests/typing-objects/ocamltests
  testsuite/tests/typing-objects/self_cannot_escape_pr7865.ml
Labels: no-change-entry-needed

#8650 Assorted Makefile tweaks
  Changes
  Makefile
  Makefile.common.in
  lex/Makefile
  man/Makefile
  otherlibs/Makefile.otherlibs.common
  tools/ci/inria/main
  utils/Makefile
Labels: no-change-entry-needed

#8638 Correct MKEXEDEBUGFLAG for msvc
  configure
  configure.ac
Labels: no-change-entry-needed

#2023 Implement Unix.truncate and Unix.ftruncate on Windows
  Changes
  otherlibs/unix/unix.mli
  otherlibs/win32unix/Makefile
  otherlibs/win32unix/truncate.c
  otherlibs/win32unix/unix.ml
  testsuite/tests/lib-unix/common/ocamltests
  testsuite/tests/lib-unix/common/truncate.ml
  testsuite/tests/lib-unix/common/truncate.reference
Labels: review-needed

#8664 Build system: make ocamllex silent by default
  Makefile
  Makefile.common.in
  debugger/Makefile
  lex/Makefile
  ocamldoc/Makefile
  ocamltest/Makefile
  tools/Makefile
Labels: no-change-entry-needed

#8605 Improve doc for Hashtbl.to_seq*
  stdlib/hashtbl.mli
Labels: documentation, no-change-entry-needed, stdlib

#8663 Remove three obsolete tools
  .gitignore
  tools/.depend
  tools/Makefile
  tools/lexer299.mll
  tools/lexer301.mll
  tools/ocaml299to3.ml
  tools/scrapelabels.ml
Labels: no-change-entry-needed

#8666 Remove interactive tests
  testsuite/interactive/lib-gc/Makefile
  testsuite/interactive/lib-gc/alloc.ml
  testsuite/interactive/lib-signals/Makefile
  testsuite/interactive/lib-signals/signals.ml
Labels: no-change-entry-needed

#1726 MPR#7557: Multi-indices for extended indexing operators
  Changes
  boot/menhir/parser.ml
  manual/manual/refman/exten.etex
  parsing/parser.mly
  parsing/pprintast.ml
  testsuite/tests/parsing/extended_indexoperators.compilers.reference
  testsuite/tests/parsing/extended_indexoperators.ml
  testsuite/tests/parsing/multi_indices.ml
  testsuite/tests/parsing/ocamltests
Labels: review-needed

#8640 config/Makefile.m* tidy
  .gitattributes
  Makefile.config.in
  config/Makefile.mingw
  config/Makefile.mingw64
  config/Makefile.msvc
  config/Makefile.msvc64
  config/m-nt.h
  config/s-nt.h
Labels: no-change-entry-needed

#8669 Fix Mach printer
  asmcomp/printmach.ml
Labels: no-change-entry-needed

#8688 Update INSTALL.adoc
  INSTALL.adoc
Labels: no-change-entry-needed

#8662 #8655: README.win32.adoc: Support for Visual Studio 2019
  README.win32.adoc
Labels: no-change-entry-needed

#8684 Use binomial distribution instead of Poisson distribution in Memprof
  runtime/.depend
  runtime/caml/memory.h
  runtime/caml/misc.h
  runtime/intern.c
  runtime/memory.c
  runtime/memprof.c
  runtime/signals_nat.c
  stdlib/gc.mli
  testsuite/tests/statmemprof/arrays_in_major.byte.reference
  testsuite/tests/statmemprof/arrays_in_major.ml
  testsuite/tests/statmemprof/arrays_in_major.opt.reference
  testsuite/tests/statmemprof/arrays_in_minor.byte.reference
  testsuite/tests/statmemprof/arrays_in_minor.ml
  testsuite/tests/statmemprof/arrays_in_minor.opt.reference
  testsuite/tests/statmemprof/exception_callback.ml
  testsuite/tests/statmemprof/exception_callback.reference
  testsuite/tests/statmemprof/lists_in_minor.byte.reference
  testsuite/tests/statmemprof/lists_in_minor.ml
Labels: no-change-entry-needed
