Repository ocaml/ocaml, pull requests merged in 2019-03, with the labels that each got.

#2177 Use emulated fma on Cygwin64
  Changes
  configure
  configure.ac
  runtime/caml/s.h.in
  runtime/floats.c
Labels: bug

#2283 List prefix functions for Misc.Stdlib.List
  Changes
  utils/misc.ml
  utils/misc.mli
Labels: debugging-prerequisite

#2297 Dynlink: run _shared_startup only once per plugin
  Changes
  otherlibs/dynlink/dynlink.ml
  otherlibs/dynlink/dynlink_common.ml
  otherlibs/dynlink/dynlink_platform_intf.ml
  otherlibs/dynlink/natdynlink.ml
Labels: bug

#2286 Functorize Consistbl (with some background info on Compilation_unit.t)
  Changes
  asmcomp/asmlink.ml
  bytecomp/bytelink.ml
  toplevel/topdirs.ml
  typing/env.mli
  typing/persistent_env.ml
  typing/persistent_env.mli
  utils/consistbl.ml
  utils/consistbl.mli
Labels: debugging-prerequisite

#2310 Makefile: adapt to removal from vmthreads
  Makefile
  Makefile.config.in
Labels: no-change-entry-needed

#2305 Propagate environments further in Selectgen
  asmcomp/amd64/selection.ml
  asmcomp/arm/selection.ml
  asmcomp/i386/selection.ml
  asmcomp/s390x/selection.ml
  asmcomp/selectgen.ml
  asmcomp/selectgen.mli
  asmcomp/spacetime_profiling.ml
Labels: debugging-prerequisite, no-change-entry-needed

#2315 Delete old compatibility from the bigarray stubs
  otherlibs/unix/mmap.c
  otherlibs/unix/mmap_ba.c
  otherlibs/win32unix/mmap.c
Labels: no-change-entry-needed

#2082 New option "-no-insn-sched"
  Changes
  asmcomp/schedgen.ml
  driver/compenv.ml
  driver/main_args.ml
  driver/main_args.mli
  driver/optmain.ml
  man/ocamlopt.m
  tools/ocamloptp.ml
  toplevel/opttopmain.ml
  utils/clflags.ml
  utils/clflags.mli
Labels: debugging-prerequisite

#2308 More debugging information in Cmm terms
  Changes
  asmcomp/afl_instrument.ml
  asmcomp/afl_instrument.mli
  asmcomp/amd64/selection.ml
  asmcomp/arm/selection.ml
  asmcomp/arm64/selection.ml
  asmcomp/cmm.ml
  asmcomp/cmm.mli
  asmcomp/cmmgen.ml
  asmcomp/i386/selection.ml
  asmcomp/power/selection.ml
  asmcomp/printcmm.ml
  asmcomp/s390x/selection.ml
  asmcomp/selectgen.ml
  asmcomp/selectgen.mli
  asmcomp/spacetime_profiling.ml
  asmcomp/strmatch.ml
  testsuite/tools/parsecmm.mly
Labels: debugging-prerequisite

#8503 Fix documentation for Result.bind: return [f v] and not [Ok (f v)]
  stdlib/result.mli
Labels: no-change-entry-needed

#2323 main_args: remove some redundancy in Ocamldoc_options.
  driver/main_args.ml
  driver/main_args.mli
Labels: no-change-entry-needed

#2284 Add a few utility functions in Misc
  Changes
  asmcomp/selectgen.ml
  bytecomp/translcore.ml
  middle_end/flambda.ml
  middle_end/flambda_utils.ml
  middle_end/inlining_cost.ml
  utils/misc.ml
  utils/misc.mli
Labels: debugging-prerequisite

#2314 Remove gprof support
  .depend
  .gitattributes
  Changes
  Makefile.config.in
  asmcomp/amd64/emit.mlp
  asmcomp/arm/emit.mlp
  asmcomp/arm64/emit.mlp
  asmcomp/asmlink.ml
  asmcomp/i386/emit.mlp
  asmcomp/power/emit.mlp
  config/Makefile.mingw
  config/Makefile.mingw64
  config/Makefile.msvc
  config/Makefile.msvc64
  configure
  configure.ac
  debugger/.depend
  driver/compenv.ml
  driver/main_args.ml
  driver/optmain.ml
  man/ocamlopt.m
  manual/manual/cmds/profil.etex
  manual/manual/cmds/unified-options.etex
  ocamldoc/.depend
  runtime/.depend
  runtime/Makefile
  runtime/arm.S
  runtime/arm64.S
  runtime/i386.S
  stdlib/.depend
  stdlib/Compflags
  stdlib/Makefile
  tools/.depend
  tools/Makefile
  utils/Makefile
  utils/ccomp.ml
  utils/clflags.ml
  utils/clflags.mli
  utils/config.mli
  utils/config.mlp
Labels: debugging-prerequisite

#2291 Add Compute_ranges pass
  .depend
  Changes
  Makefile
  asmcomp/debug/compute_ranges.ml
  asmcomp/debug/compute_ranges.mli
  asmcomp/debug/compute_ranges_intf.ml
Labels: debugging-prerequisite

#2293 Make caml_named_value return a const value*
  Changes
  manual/manual/cmds/intf-c.etex
  otherlibs/graph/open.c
  otherlibs/unix/unixsupport.c
  otherlibs/win32graph/open.c
  otherlibs/win32unix/unixsupport.c
  runtime/callback.c
  runtime/caml/callback.h
  runtime/fail_nat.c
  runtime/intern.c
  runtime/printexc.c
  runtime/startup_aux.c
  testsuite/tests/embedded/cmstub.c
Labels: multicore-prerequisite

#8506 Fix ppc64 TOC load for exception handler addresses
  asmcomp/power/emit.mlp
  ocamltest/builtin_actions.ml
  ocamltest/builtin_actions.mli
  testsuite/tests/arch-power/exn_raise.ml
  testsuite/tests/arch-power/exn_raise.reference
  testsuite/tests/arch-power/ocamltests
Labels: bug, no-change-entry-needed

#8509 Actually run all lib-unix tests
  testsuite/tests/lib-unix/common/channel_of.ml
  testsuite/tests/lib-unix/common/dup.ml
  testsuite/tests/lib-unix/common/dup2.ml
  testsuite/tests/lib-unix/common/getaddrinfo.ml
  testsuite/tests/lib-unix/common/pipe_eof.ml
  testsuite/tests/lib-unix/common/process_pid.ml
  testsuite/tests/lib-unix/common/rename.ml
  testsuite/tests/lib-unix/common/utimes.ml
  testsuite/tests/lib-unix/isatty/isatty_std.ml
  testsuite/tests/lib-unix/win-symlink/ocamltests
Labels: bug, consider-for-release, no-change-entry-needed

#8518 dynlink: add doc about -linkall
  manual/manual/library/libdynlink.etex
Labels: no-change-entry-needed

#8521 Actually run all lib-unix tests [4.08]
  testsuite/tests/lib-unix/common/channel_of.ml
  testsuite/tests/lib-unix/common/dup.ml
  testsuite/tests/lib-unix/common/dup2.ml
  testsuite/tests/lib-unix/common/getaddrinfo.ml
  testsuite/tests/lib-unix/common/pipe_eof.ml
  testsuite/tests/lib-unix/common/process_pid.ml
  testsuite/tests/lib-unix/common/rename.ml
  testsuite/tests/lib-unix/common/utimes.ml
  testsuite/tests/lib-unix/isatty/isatty_std.ml
  testsuite/tests/lib-unix/win-symlink/ocamltests
Labels: no-change-entry-needed

#2268 Improve the packing mechanism used to build Dynlink
  .depend
  .gitignore
  Changes
  Makefile
  asmcomp/cmmgen.ml
  asmcomp/cmx_format.mli
  asmcomp/cmxs_format.mli
  debugger/.depend
  ocamldoc/Makefile
  ocamltest/.depend
  otherlibs/dynlink/.depend
  otherlibs/dynlink/Makefile
  otherlibs/dynlink/byte/dynlink.ml
  otherlibs/dynlink/dynlink_common.ml
  otherlibs/dynlink/dynlink_compilerlibs/Makefile.copy-sources
  otherlibs/dynlink/extract_crc.ml
  otherlibs/dynlink/native/dynlink.ml
  otherlibs/raw_spacetime_lib/.depend
  otherlibs/str/.depend
  otherlibs/systhreads/.depend
  otherlibs/unix/.depend
  otherlibs/win32unix/.depend
  runtime/.depend
  tools/.depend
  tools/objinfo.ml
  utils/config.mlp
Labels: debugging-prerequisite

#8524 Add Unit to stdlib.ml{,i}
  stdlib/stdlib.ml
  stdlib/stdlib.mli
  testsuite/tests/generalized-open/gpr1506.ml
  testsuite/tests/tool-ocamlc-stop-after/stop_after_typing_impl.compilers.reference
  testsuite/tests/typing-sigsubst/sigsubst.ml
Labels: consider-for-release, no-change-entry-needed

#8525 Add Unit to stdlib.ml{,i} [4.08]
  otherlibs/threads/stdlib.ml
  stdlib/stdlib.ml
  stdlib/stdlib.mli
  testsuite/tests/generalized-open/gpr1506.ml
  testsuite/tests/tool-ocamlc-stop-after/stop_after_typing_impl.compilers.reference
  testsuite/tests/typing-sigsubst/sigsubst.ml
Labels: no-change-entry-needed

#8534 Remove the `runtime/caml/int64_*` includes
  runtime/caml/int64_emul.h
  runtime/caml/int64_format.h
  runtime/caml/int64_native.h
Labels: no-change-entry-needed

#2295 Restore support for bytecode target XLC/AIX/Power
  Changes
  INSTALL.adoc
  configure
  configure.ac
Labels: work-in-progress

#1904 Add FreeBSD/aarch64 support
  Changes
  asmcomp/arm64/emit.mlp
  configure
  configure.ac
  runtime/signals_osdep.h
  testsuite/tests/basic-float/float_literals.ml
  testsuite/tests/basic-float/ocamltests
Labels: approved

#8536 non-Linux power support cleanup
  INSTALL.adoc
  configure
  configure.ac
Labels: no-change-entry-needed

#2299 Ensure awk supports interval expressions for check-typo
  tools/check-typo
  tools/ci/travis/travis-ci.sh
Labels: no-change-entry-needed

#8529 Don't run the "test for tests" check on Travis
  .travis.yml
Labels: no-change-entry-needed

#2202 Hashtbl.MakeSeeded.{add,replace,of}_seq use wrong hash function
  Changes
  stdlib/ephemeron.ml
  stdlib/hashtbl.ml
Labels: bug, consider-for-release

#2292 Position [Lprologue] correctly
  Changes
  asmcomp/amd64/emit.mlp
  asmcomp/amd64/proc.ml
  asmcomp/arm/emit.mlp
  asmcomp/arm/proc.ml
  asmcomp/arm64/emit.mlp
  asmcomp/arm64/proc.ml
  asmcomp/i386/emit.mlp
  asmcomp/i386/proc.ml
  asmcomp/linearize.ml
  asmcomp/linearize.mli
  asmcomp/power/emit.mlp
  asmcomp/power/proc.ml
  asmcomp/proc.mli
  asmcomp/s390x/emit.mlp
  asmcomp/s390x/proc.ml
  asmcomp/schedgen.ml
Labels: debugging-prerequisite
