Repository ocaml/ocaml, pull requests merged in 2019-10, with the labels that each got.

#8584 Optimization contributions should be justified with empirical evidence
  CONTRIBUTING.md
Labels: no-change-entry-needed

#8760 List.concat_map : ('a -> 'b list) -> 'a list -> 'b list
  Changes
  stdlib/list.ml
  stdlib/list.mli
  stdlib/listLabels.mli
  testsuite/tests/lib-list/test.ml
Labels: stdlib

#8971 Add Filename.null
  Changes
  stdlib/filename.ml
  stdlib/filename.mli
  testsuite/tests/lib-filename/null.ml
  testsuite/tests/lib-unix/common/process_pid.ml
Labels: stdlib

#8982 Regenerate dynlink_compilerlibs Makefile correctly
  otherlibs/dynlink/Makefile
Labels: no-change-entry-needed

#9040 Fix #7636 using expansion for vanishing parameters
  Changes
  testsuite/tests/typing-poly-bugs/pr5673_bad.compilers.reference
  testsuite/tests/typing-poly-bugs/pr5673_bad.ml
  testsuite/tests/typing-poly-bugs/pr5673_ok.ml
  testsuite/tests/typing-poly/poly.ml
  testsuite/tests/typing-poly/pr7636.ml
  typing/ctype.ml
Labels: bug, typing

#1848 more docstring tests
  testsuite/tests/parsing/docstrings.ml
Labels: no-change-entry-needed

#9053 Fix 'extra-check' INRIA CI
  runtime/caml/misc.h
  runtime/fail_nat.c
  runtime/signals_nat.c
  tools/ci/inria/extra-checks
Labels: no-change-entry-needed

#9031 Unregister win32 stack overflow handler in caml_shutdown()
  Changes
  runtime/startup_aux.c
  runtime/win32.c
Labels: bug

#9055 runtime: add newline at end of error message
  runtime/startup_byt.c
Labels: no-change-entry-needed

#9063 Fix tests/backtrace/callstack.ml by changing the order of the content of that file.
  testsuite/tests/backtrace/callstack.ml
  testsuite/tests/backtrace/callstack.reference
Labels: no-change-entry-needed

#9058 Fix preprocessor error during make depend in runtime/
  runtime/.depend
  runtime/Makefile
Labels: no-change-entry-needed

#9062 Fix a pointer comparison in an assertion in freelist.c
  runtime/freelist.c
Labels: no-change-entry-needed

#9067 test suite: exotic strict-sequence behavior
  testsuite/tests/misc/exotic.ml
Labels: no-change-entry-needed

#9059 add List.filteri to the stdlib
  Changes
  stdlib/list.ml
  stdlib/list.mli
  stdlib/listLabels.mli
  testsuite/tests/lib-list/test.ml
Labels: stdlib

#1499 Clambda: do not substitute mutable variables in function bodies
  Changes
  middle_end/closure/closure.ml
  testsuite/tests/basic-more/pr7683.ml
  testsuite/tests/basic-more/pr7683.reference
Labels: bug
