Repository ocaml/ocaml, pull requests merged in 2019-09, with the labels that each got.

#8925 Install artifacts from asmcomp/debug
  Makefile
Labels: no-change-entry-needed

#1859 Enable force-safe-string by default
  Changes
  configure
  configure.ac
  testsuite/tests/lib-arg/testarg.ml
  testsuite/tests/lib-bigarray/change_layout.ml
  testsuite/tests/lib-scanf/tscanf.ml
  testsuite/tests/ppx-contexts/myppx.ml
  testsuite/tests/ppx-contexts/test.compilers.reference
  testsuite/tests/ppx-contexts/test.ml
Labels: work-in-progress

#8930 build system: share rules to compile C files
  Makefile.common.in
  ocamltest/Makefile
  otherlibs/systhreads/Makefile
  stdlib/Makefile
  tools/Makefile
  yacc/Makefile
Labels: no-change-entry-needed

#8933 4.09.0: backport the error message fix in #8777
  Changes
  typing/ctype.ml
Labels: bug

#8832 List.find_map : ('a -> 'b option) -> 'a list -> 'b option
  Changes
  stdlib/list.ml
  stdlib/list.mli
  stdlib/listLabels.mli
  testsuite/tests/lib-list/test.ml
Labels: stdlib, submitter-action-needed

#2165 Decide unboxing of let-bound expressions based on their Cmm translation
  Changes
  asmcomp/cmm.ml
  asmcomp/cmm.mli
  asmcomp/cmmgen.ml
  asmcomp/cmmgen_state.ml
  asmcomp/cmmgen_state.mli
  middle_end/compilenv.ml
  middle_end/compilenv.mli
Labels: caml-weekly-news

#8944 Fix "open struct .. end" on clambda backend
  Changes
  lambda/translmod.ml
  testsuite/tests/generalized-open/clambda_optim.ml
  testsuite/tests/generalized-open/ocamltests
Labels: consider-for-release

#8960 typecore: fix a small bug in type_pat
  typing/typecore.ml
Labels: no-change-entry-needed

#8710 Removed function caml_init_alloc_for_heap from memory.h
  runtime/caml/memory.h
  runtime/gc_ctrl.c
  runtime/memory.c
Labels: no-change-entry-needed

#8967 tools/cmt2annot: use proper Tast_iter instead of Tast_mapper
  tools/cmt2annot.ml
Labels: no-change-entry-needed

#8959 clarify the implementation of Typedtree.pat_bound_idents_full
  Changes
  lambda/translmod.ml
  typing/typeclass.ml
  typing/typedtree.ml
  typing/typedtree.mli
  typing/typemod.ml
Labels: no-change-entry-needed

#8996 Windows supports make reconfigure now
  Makefile
Labels: no-change-entry-needed

#8994 stdlib/Makefile: use list of modules from StdlibModules
  stdlib/HACKING.adoc
  stdlib/Makefile
  stdlib/StdlibModules
Labels: no-change-entry-needed
