Repository ocaml/ocaml, pull requests merged in 2020-01, with the labels that each got.

#9221 stdlib: cleanup in Char.ml by using char range patterns
  stdlib/char.ml
Labels: no-change-entry-needed

#9224 Remove unnecessary compilerlibs/.gitignore
  compilerlibs/.gitignore
Labels: no-change-entry-needed

#9185 fix spurious 'unused open' warning with classes and polymorphic variants
  Changes
  testsuite/tests/messages/precise_locations.ml
  testsuite/tests/typing-warnings/open_warnings.ml
  typing/typetexp.ml
Labels: consider-for-release

#9235 Add Array.for_all2 and Array.exists2
  Changes
  stdlib/array.ml
  stdlib/array.mli
  stdlib/arrayLabels.mli
  testsuite/tests/array-functions/test.ml
Labels: stdlib

#9227 Make Bool.to_int primitive.
  stdlib/bool.ml
Labels: no-change-entry-needed, stdlib

#9226 Add Seq.unfold.
  Changes
  stdlib/seq.ml
  stdlib/seq.mli
  testsuite/tests/lib-seq/test.ml
Labels: stdlib

#9262 Don't export ff_merge_block symbol in freelist.c
  runtime/freelist.c
Labels: bug

#9269 #9218: wrong file name error with -annot and inline records
  Changes
  testsuite/tests/typing-multifile/pr9218.ml
  typing/env.ml
  typing/path.mli
  typing/printtyp.ml
Labels: bug
