Repository ocaml/ocaml, pull requests merged in 2020-07, with the labels that each got.

#9726 misplaced subsection '*'
  manual/manual/library/builtin.etex
Labels: no-change-entry-needed

#9727 Fix #9721: Injectivity and recursive modules
  .depend
  Changes
  testsuite/tests/typing-misc/injectivity.ml
  typing/ctype.ml
  typing/datarepr.ml
  typing/typeclass.ml
  typing/typedecl.ml
  typing/typedecl_variance.ml
  typing/types.ml
  typing/types.mli
Labels: bug, no-change-entry-needed

#9728 Simplified compaction without page table
  Changes
  runtime/caml/mlvalues.h
  runtime/compact.c
  runtime/major_gc.c
Labels: multicore-prerequisite

#9766 CI test no-naked-pointers mode
  .github/workflows/nnp.yml
Labels: no-change-entry-needed

#9777 Update a comment in the top-level printer.
  toplevel/genprintval.ml
Labels: no-change-entry-needed

#9780 Remove some unused primitives
  boot/ocamlc
  boot/ocamllex
  runtime/intern.c
  runtime/io.c
  runtime/obj.c
Labels: no-change-entry-needed

#9782 Wrong registers used for C-- mutable let in soft FP mode
  Changes
  asmcomp/selectgen.ml
Labels: bug

#9791 ocamltest: fix include native dynlink
  ocamltest/ocaml_modifiers.ml
Labels: no-change-entry-needed

#9750 Reorganize release information
  .gitattributes
  release-info/News
  release-info/howto.md
  release-info/markdown-add-pr-links.sh
  release-info/templates/beta.md
  release-info/templates/production.md
  release-info/templates/rc.md
Labels: no-change-entry-needed

#9742 Make Ephemeron compatible with infix pointers.
  Changes
  runtime/caml/weak.h
  runtime/minor_gc.c
  runtime/weak.c
  testsuite/tests/misc/ephe_infix.ml
Labels: bug

#9808 Fix running win-unicode test
  ocamltest/ocaml_actions.ml
Labels: no-change-entry-needed

#9805 2 testsuite tweaks
  ocamltest/main.ml
  testsuite/Makefile
Labels: no-change-entry-needed
