Repository ocaml/ocaml, pull requests merged in 2020-05, with the labels that each got.

#8753 add a new Travis CI check that 'make alldepend' is a no-op
  .travis.yml
  Makefile.best_binaries
  tools/ci/travis/travis-ci.sh
Labels: no-change-entry-needed

#9513 Remove block initialisation from `caml_obj_block`
  Changes
  runtime/obj.c
  testsuite/tests/lib-obj/new_obj.ml
  testsuite/tests/lib-obj/new_obj.reference
Labels: no-change-entry-needed

#9526 Fix ephemeron documentation typos
  stdlib/ephemeron.mli
Labels: no-change-entry-needed

#9228 Fix some issues in the Map documentation
  Changes
  stdlib/map.mli
Labels: documentation

#9530 Add a "stale" Github action to process inactive issues
  .github/workflows/stale.yml
Labels: no-change-entry-needed

#9536 Fix comment about NaN propagation
  stdlib/float.mli
  stdlib/stdlib.mli
Labels: no-change-entry-needed

#9550 win32unix: quote the arguments to the Unix.exec* functions
  Changes
  otherlibs/win32unix/unix.ml
  testsuite/tests/lib-unix/common/test_unix_cmdline.ml
  testsuite/tests/lib-unix/common/test_unix_cmdline.reference
Labels: bug

#9075 Define to_rev_seq in Set and Map module
  Changes
  stdlib/map.ml
  stdlib/map.mli
  stdlib/moreLabels.mli
  stdlib/set.ml
  stdlib/set.mli
  testsuite/tests/generalized-open/accepted_expect.ml
  testsuite/tests/lib-set/testmap.ml
  testsuite/tests/lib-set/testset.ml
  testsuite/tests/typing-implicit_unpack/implicit_unpack.ml
  testsuite/tests/typing-modules/aliases.ml
  testsuite/tests/typing-modules/pr7818.ml
  testsuite/tests/typing-short-paths/short-paths.compilers.reference
Labels: stdlib

#9568 Fix5987
  manual/manual/refman/typedecl.etex
Labels: no-change-entry-needed

#9576 Update documentation of Digest module
  stdlib/digest.mli
Labels: no-change-entry-needed

#9578 Remove Const_pointer
  asmcomp/afl_instrument.ml
  asmcomp/amd64/selection.ml
  asmcomp/cmm.ml
  asmcomp/cmm.mli
  asmcomp/cmm_helpers.ml
  asmcomp/cmmgen.ml
  asmcomp/i386/selection.ml
  asmcomp/printcmm.ml
  asmcomp/selectgen.ml
  asmcomp/strmatch.ml
  testsuite/tests/asmgen/soli.cmm
  testsuite/tests/formatting/test_locations.dlocations.ocamlopt.clambda.reference
  testsuite/tests/formatting/test_locations.dlocations.ocamlopt.flambda.reference
  testsuite/tests/formatting/test_locations.dno-locations.ocamlopt.clambda.reference
  testsuite/tests/formatting/test_locations.dno-locations.ocamlopt.flambda.reference
  testsuite/tools/lexcmm.mll
  testsuite/tools/parsecmm.mly
Labels: no-change-entry-needed

#9572 Update link options for PowerPC 32 bits Linux
  configure
  configure.ac
Labels: no-change-entry-needed

#9589 Use List.find_map
  ocamltest/ocaml_actions.ml
  parsing/location.ml
  utils/misc.ml
  utils/misc.mli
Labels: no-change-entry-needed

#9577 Avoid creating ill-formed blocks in Cmm letrec
  asmcomp/cmmgen.ml
  testsuite/tests/regression/pr7718/pr7718.ml
  testsuite/tests/regression/pr7718/pr7718.reference
Labels: no-change-entry-needed

#9546 Fix PR#7817: Unsound inclusion check for polymorphic variant
  Changes
  testsuite/tests/typing-polyvariants-bugs/pr7817_bad.ml
  typing/ctype.ml
Labels: bug

#9609 separability and with-constraints: fix for bug #9607
  Changes
  testsuite/tests/typing-unboxed/test.ml
  testsuite/tests/typing-unboxed/test.ocaml.reference
  typing/typedecl.ml
Labels: bug
