Repository ocaml/ocaml, pull requests merged in 2020-04, with the labels that each got.

#9408 add more principality warnings examples for applications
  testsuite/tests/typing-misc/labels.ml
Labels: no-change-entry-needed

#9420 Minor fixes to the marshaler (output_value)
  Changes
  runtime/extern.c
Labels: bug

#9353 Reimplement output_value using a hash table to detect sharing
  Changes
  runtime/extern.c
Labels: multicore-prerequisite

#8639 autoconf tweaks
  .gitattributes
  Makefile
  Makefile.config.in
  Makefile.tools
  compilerlibs/Makefile.compilerlibs
  debugger/Makefile
  lex/Makefile
  ocamldoc/Makefile
  ocamldoc/Makefile.docfiles
  ocamltest/Makefile
  otherlibs/Makefile
  otherlibs/Makefile.otherlibs.common
  otherlibs/dynlink/Makefile
  otherlibs/systhreads/Makefile
  runtime/Makefile
  stdlib/Makefile
  testsuite/lib/Makefile
  testsuite/tools/Makefile
  tools/Makefile
  tools/autogen
  tools/ci/travis/travis-ci.sh
  tools/release-checklist
  yacc/Makefile
Labels: no-change-entry-needed

#9456 Turn off PIE for Alpine Linux on platforms other than amd64 and s390x
  Changes
  configure
  configure.ac
Labels: bug, configure-related

#9465 x86 asm: handle unit names with special characters
  asmcomp/amd64/emit.mlp
  testsuite/tests/asmcomp/0-!@#%.compilers.reference
  testsuite/tests/asmcomp/0-!@#%.ml
Labels: no-change-entry-needed

#9473 Fix "x86 asm: handle unit names with special characters" test for bsd
  testsuite/tests/asmcomp/0-!@#%.compilers.reference
  testsuite/tests/asmcomp/0-!@#%.ml
  testsuite/tests/asmcomp/0001-test.compilers.reference
  testsuite/tests/asmcomp/0001-test.ml
Labels: no-change-entry-needed

#9454 AppVeyor speed-ups
  appveyor.yml
  testsuite/Makefile
  testsuite/lib/Makefile
  testsuite/tests/tool-ocamldep-modalias/Makefile.build
  testsuite/tests/tool-ocamldep-modalias/Makefile.build2
  testsuite/tools/Makefile
  tools/ci/appveyor/appveyor_build.cmd
  tools/ci/appveyor/appveyor_build.sh
Labels: no-change-entry-needed

#9479 AppVeyor speed-ups take 2
  appveyor.yml
  testsuite/Makefile
  testsuite/lib/Makefile
  testsuite/tests/tool-ocamldep-modalias/Makefile.build
  testsuite/tests/tool-ocamldep-modalias/Makefile.build2
  testsuite/tools/Makefile
  tools/ci/appveyor/appveyor_build.cmd
  tools/ci/appveyor/appveyor_build.sh
Labels: no-change-entry-needed

#9476 Some uses of Filename.quote_command for better quoting
  ocamltest/filecompare.ml
  ocamltest/main.ml
  ocamltest/ocamltest_stdlib.ml
  tools/objinfo.ml
Labels: no-change-entry-needed

#9165 Add missing -function-sections in Makefile in otherlibs
  Changes
  Makefile
  Makefile.common.in
  otherlibs/Makefile.otherlibs.common
  otherlibs/dynlink/Makefile
  otherlibs/systhreads/Makefile
  stdlib/Makefile
Labels: bug

#9457 Fix #mod_use in toplevel
  Changes
  testsuite/tests/tool-toplevel/mod.ml
  testsuite/tests/tool-toplevel/mod_use.ml
  toplevel/opttoploop.ml
  toplevel/toploop.ml
Labels: bug, high-priority, toplevel

#9480 Cast `getpid()` to `long long` before printing
  ocamltest/run_unix.c
Labels: no-change-entry-needed

#9481 Test make distclean fully in CI
  tools/ci/appveyor/appveyor_build.sh
  tools/ci/travis/travis-ci.sh
Labels: no-change-entry-needed

#9488 Tweak Makefile variables
  compilerlibs/Makefile.compilerlibs
Labels: no-change-entry-needed

#9491 Switch Travis testing from Xenial to Bionic
  .travis.yml
  tools/ci/travis/travis-ci.sh
Labels: no-change-entry-needed

#9496 configure: move -fexcess-precision=standard to the internal cflags
  configure
  configure.ac
Labels: no-change-entry-needed

#9507 Fix docs: runtime warnings are not enabled by default
  stdlib/sys.mli
Labels: no-change-entry-needed

#9445 Alternative fix for statmemprof tests in `-disable-flat-float-array` mode
  testsuite/tests/statmemprof/callstacks.flat-float-array.reference
  testsuite/tests/statmemprof/callstacks.ml
  testsuite/tests/statmemprof/callstacks.no-flat-float-array.reference
  testsuite/tests/statmemprof/callstacks.reference
  testsuite/tests/statmemprof/comballoc.byte.reference
  testsuite/tests/statmemprof/comballoc.ml
  testsuite/tests/statmemprof/comballoc.opt.reference
Labels: no-change-entry-needed

#9508 Fix module_coercion test on no-flat-floatarray mode
  testsuite/tests/translprim/module_coercion.compilers.no-flat.reference
Labels: no-change-entry-needed
