Repository ocaml/ocaml, pull requests merged in 2020-12, with the labels that each got.

#9878 Fix #8907
  Changes
  testsuite/tests/typing-misc/normalize_type.ml
  typing/ctype.ml
  typing/ctype.mli
  typing/printtyp.ml
  typing/typemod.ml
Labels: bug

#10064 Fix a minor off-by-one bug in Memprof sampling
  runtime/memprof.c
  testsuite/tests/statmemprof/alloc_counts.ml
  testsuite/tests/statmemprof/alloc_counts.reference
Labels: no-change-entry-needed

#10068 Remove last vestiges of MAX_TESTSUITE_RETRIES
  Makefile.config.in
  configure
  configure.ac
  testsuite/Makefile
  testsuite/summarize.awk
Labels: no-change-entry-needed

#9931 Restore full Cygwin64 on Jenkins
  tools/ci/inria/main
Labels: no-change-entry-needed

#9917 Remove unused primitives
  boot/ocamlc
  boot/ocamllex
  runtime/afl.c
  runtime/array.c
  runtime/backtrace_byt.c
  runtime/backtrace_nat.c
Labels: no-change-entry-needed

#10049 Don't allow un-bounded make parallelism on AppVeyor
  otherlibs/win32unix/Makefile
  runtime/Makefile
  tools/ci/appveyor/appveyor_build.sh
Labels: no-change-entry-needed

#9896 Share the strings representing scopes (alternative approach)
  Changes
  lambda/debuginfo.ml
  lambda/debuginfo.mli
  lambda/translmod.ml
  testsuite/tools/parsecmmaux.ml
Labels: merge-me

#10012 Doc: Marshal.to_channel may throw exception
  stdlib/marshal.mli
Labels: merge-me, no-change-entry-needed

#10070 Float.Array.blit: fix case when both arrays coincide
  Changes
  runtime/array.c
  stdlib/float.ml
  testsuite/tests/lib-floatarray/floatarray.ml
Labels: bug

#10075 Remove duplicate float array primitives
  runtime/array.c
Labels: no-change-entry-needed

#10071 Fix subtle bug in test file weaklifetime.ml
  Changes
  testsuite/tests/misc/weaklifetime.ml
Labels: bug

#9996 documentation: centralized and parallel builds
  .gitattributes
  .gitignore
  HACKING.adoc
  Makefile
  api_docgen/Compiler_libs.pre.mld
  api_docgen/Makefile
  api_docgen/Makefile.docfiles
  api_docgen/Ocaml_operators.mld
  api_docgen/alldoc.tex
  manual/manual/Makefile
  manual/manual/library/Makefile
  manual/tests/Makefile
  ocamldoc/Makefile
  ocamldoc/Makefile.best_ocamldoc
  ocamldoc/Makefile.docfiles
  tools/ci/actions/runner.sh
  tools/ci/travis/travis-ci.sh
Labels: no-change-entry-needed

#10046 Link all DLLs with -static-libgcc on mingw32
  Changes
  Makefile.build_config.in
  configure
  configure.ac
  otherlibs/win32unix/Makefile
  testsuite/Makefile
  tools/ci/appveyor/appveyor_build.cmd
  utils/Makefile
  utils/config.mlp
Labels: bug

#9994 Make type_expr private
  Changes
  ocamldoc/odoc_env.ml
  ocamldoc/odoc_misc.ml
  ocamldoc/odoc_print.ml
  typing/btype.ml
  typing/btype.mli
  typing/ctype.ml
  typing/datarepr.ml
  typing/datarepr.mli
  typing/env.ml
  typing/printtyp.ml
  typing/subst.ml
  typing/typecore.ml
  typing/typedecl.ml
  typing/types.ml
  typing/types.mli
  typing/typetexp.ml
Labels: no-change-entry-needed

#9907 Fix native toplevel on Windows
  Changes
  Makefile
  Makefile.build_config.in
  configure
  configure.ac
  runtime/win32.c
Labels: bug, dynlink

#10085 Check that stack frames are not too large
  .depend
  Changes
  asmcomp/asmgen.ml
  asmcomp/asmgen.mli
  asmcomp/emitaux.ml
  asmcomp/emitaux.mli
Labels: bug

#10065 Refactor AppVeyor scripts to enable all ports
  HACKING.adoc
  appveyor.yml
  tools/ci/appveyor/appveyor_build.cmd
  tools/ci/appveyor/appveyor_build.sh
Labels: no-change-entry-needed

#9943 Simplify processing and remove dead code (error paths) in asmlink
  asmcomp/asmlink.ml
Labels: no-change-entry-needed

#10096 fix a caching problem in OO code causing a 4.11 performance regression
  Changes
  lambda/translcore.ml
Labels: merge-me

#10100 Documentation corrections for ocamlrun
  manual/manual/cmds/runtime.etex
Labels: no-change-entry-needed
