Repository ocaml/ocaml, pull requests merged in 2020-09, with the labels that each got.

#9867 Fix an injectivity test when the value restriction is on
  testsuite/tests/typing-misc/injectivity.ml
Labels: no-change-entry-needed

#9066 Add `('a, 'b) Either.t = Left of 'a | Right of 'b` and `List.partition_map`
  Changes
  manual/manual/library/stdlib-blurb.etex
  stdlib/.depend
  stdlib/StdlibModules
  stdlib/either.ml
  stdlib/either.mli
  stdlib/list.ml
  stdlib/list.mli
  stdlib/listLabels.mli
  stdlib/stdlib.ml
  stdlib/stdlib.mli
  testsuite/tests/basic/patmatch_for_multiple.ml
  testsuite/tests/generalized-open/gpr1506.ml
  testsuite/tests/lib-either/test.ml
  testsuite/tests/lib-list/test.ml
  testsuite/tests/typing-sigsubst/sigsubst.ml
  toplevel/dune
Labels: stdlib

#9879 Declare caml_*_ops in headers [Cygwin64 pre-req 1/6]
  runtime/caml/custom.h
  runtime/custom.c
Labels: no-change-entry-needed

#9883 Guard caml_fatal_uncaught_exception with CAML_INTERNALS [Cygwin64 pre-req 5/6]
  runtime/caml/printexc.h
Labels: no-change-entry-needed

#9881 Remove unimplemented functions in caml/alloc.h [Cygwin64 pre-req 3/6]
  runtime/caml/alloc.h
Labels: no-change-entry-needed

#9801 Finally fix EOL-at-EOF and normalisation in ocamltest
  .gitattributes
  Changes
  ocamltest/filecompare.ml
  ocamltest/ocamltest_stdlib.ml
  ocamltest/ocamltest_stdlib.mli
  testsuite/tests/tool-ocamltest/norm1.ml
  testsuite/tests/tool-ocamltest/norm1.reference
  testsuite/tests/tool-ocamltest/norm2.ml
  testsuite/tests/tool-ocamltest/norm2.reference
  testsuite/tests/tool-ocamltest/norm3.ml
  testsuite/tests/tool-ocamltest/norm3.reference
  testsuite/tests/tool-ocamltest/norm4.ml
  testsuite/tests/tool-ocamltest/norm4.reference
  testsuite/tests/typing-shadowing-of-pervasives-submodules/redefine_largefile.ml
Labels: ocamltest-related

#9851 Mark Obj.tag [@@noalloc]
  stdlib/obj.ml
  stdlib/obj.mli
Labels: no-change-entry-needed

#9854 Treat set-but-empty OCAMLPARAM the same as unset
  driver/compenv.ml
Labels: no-change-entry-needed

#9872 Revised {in,out}_channel_length and seek_in for channels in text mode
  Changes
  runtime/caml/io.h
  runtime/io.c
  stdlib/stdlib.mli
  testsuite/tests/lib-channels/in_channel_length.ml
  testsuite/tests/lib-channels/seek_in.ml
Labels: bug

#9882 Tidy CAML_INTERNALS in minor_gc.h and memory.h [Cygwin64 pre-req 4/6]
  runtime/caml/memory.h
  runtime/caml/minor_gc.h
  runtime/memory.c
  runtime/minor_gc.c
Labels: no-change-entry-needed

#9884 Missing declarations in io.h [Cygwin64 pre-req 6/6]
  runtime/caml/io.h
  runtime/io.c
Labels: no-change-entry-needed

#9889 printtyp: cache short path data in wrap_env
  Changes
  typing/printtyp.ml
Labels: no-change-entry-needed

#9807 Allow running a single test in testsuite/Makefile
  testsuite/Makefile
Labels: no-change-entry-needed, ocamltest-related

#9899 Remove CAMLprim and CAMLexport from backtrace.h
  runtime/caml/backtrace.h
Labels: no-change-entry-needed

#9901 Tidy caml_main declaration
  runtime/caml/startup.h
  runtime/main.c
Labels: no-change-entry-needed

#9902 Declare caml_expand_command_line in osdeps.h
  runtime/caml/osdeps.h
  runtime/main.c
Labels: no-change-entry-needed

#9903 Remove final instances CAMLextern in C files
  otherlibs/unix/mmap.c
  otherlibs/unix/mmap_ba.c
  otherlibs/win32unix/mmap.c
Labels: no-change-entry-needed

#9904 Declare primitives used by unix in io.h
  otherlibs/unix/channels.c
  runtime/caml/io.h
Labels: no-change-entry-needed

#9900 Eliminate CAMLprim/CAMLexport in socketaddr.h
  otherlibs/unix/socketaddr.h
  otherlibs/win32unix/Makefile
  otherlibs/win32unix/accept.c
  otherlibs/win32unix/getpeername.c
  otherlibs/win32unix/getsockname.c
  otherlibs/win32unix/sendrecv.c
  otherlibs/win32unix/socketaddr.h
Labels: no-change-entry-needed

#9908 Fix unnecessary rebuilding on Windows
  compilerlibs/Makefile.compilerlibs
Labels: no-change-entry-needed

#9913 Tidying up spacetime exports
  runtime/caml/spacetime.h
  runtime/spacetime_nat.c
  runtime/spacetime_snapshot.c
Labels: no-change-entry-needed

#9912 Remove caml_ensure_spacetime_dot_o_is_included
  runtime/spacetime_byt.c
  runtime/startup_byt.c
Labels: no-change-entry-needed

#9918 Stdlib.Format: missing `since` annotation for formatter_out_functions
  stdlib/format.mli
Labels: no-change-entry-needed

#9920 Untypeast: define untype_expression, untype_pattern
  typing/untypeast.ml
  typing/untypeast.mli
Labels: merge-me, no-change-entry-needed

#9922 Env: expose folding functions
  typing/env.mli
Labels: no-change-entry-needed

#9756 Garbage collector colours change
  Changes
  runtime/caml/domain_state.tbl
  runtime/caml/gc.h
  runtime/caml/major_gc.h
  runtime/compact.c
  runtime/freelist.c
  runtime/gc_ctrl.c
  runtime/major_gc.c
  runtime/memory.c
Labels: multicore-prerequisite

#9783 Widen warning 16 to more cases
  Changes
  testsuite/tests/typing-misc/typecore_nolabel_errors.ml
  testsuite/tests/typing-warnings/warning16.ml
  typing/typeclass.ml
  typing/typecore.ml
Labels: merge-me

#9669 Check for misplaced attributes on module aliases (Fix #7538)
  Changes
  lambda/translmod.ml
  testsuite/tests/warnings/w53.compilers.reference
  testsuite/tests/warnings/w53.ml
Labels: merge-me

#9924 Remaining functions requiring explicit export
  runtime/caml/debugger.h
  runtime/caml/fail.h
  runtime/caml/memprof.h
  runtime/caml/misc.h
  runtime/caml/osdeps.h
  runtime/caml/signals.h
  runtime/debugger.c
  runtime/fail_byt.c
  runtime/fail_nat.c
  runtime/memprof.c
  runtime/signals.c
  runtime/signals_byt.c
  runtime/signals_nat.c
  runtime/win32.c
Labels: no-change-entry-needed

#9843 Modify ocamltest_core_and_plugin dune.
  dune
  ocamltest/dune
Labels: no-change-entry-needed

#9935 Clearer error in testsuite when ocamltest missing
  testsuite/Makefile
Labels: no-change-entry-needed

#9933 Unopen Compenv in the code base (this is a nop).
  driver/compile_common.ml
  driver/compmisc.ml
  driver/main_args.ml
  driver/maindriver.ml
  driver/makedepend.ml
  driver/optmaindriver.ml
  toplevel/topmain.ml
Labels: merge-me, no-change-entry-needed

#9891 String documentation improvements
  stdlib/string.mli
  stdlib/stringLabels.mli
Labels: merge-me, no-change-entry-needed

#9936 Fixed typo in String.mli
  stdlib/string.mli
  stdlib/stringLabels.mli
Labels: no-change-entry-needed

#9942 use UTF-8 encoding for ocamldoc
  manual/manual/Makefile
Labels: merge-me, no-change-entry-needed
