Repository ocaml/ocaml, pull requests merged in 2020-11, with the labels that each got.

#8796 Fix Unix.utimes not working for directories on Win32.
  Changes
  otherlibs/win32unix/utimes.c
Labels: bug

#10006 must use set_state rather than backtrack in Typecore.type_cases
  typing/typecore.ml
Labels: bug, no-change-entry-needed

#10023 Minor refactorings in typemod.signature names
  typing/typemod.ml
Labels: no-change-entry-needed

#10024 Clean up caml_alloc_shr
  runtime/caml/memory.h
  runtime/caml/mlvalues.h
  runtime/memory.c
Labels: merge-me, no-change-entry-needed

#10029 Mark datatypes as injective in recursive module approximations
  testsuite/tests/typing-misc/injectivity.ml
  typing/datarepr.ml
  typing/typeclass.ml
  typing/typedecl.ml
  typing/typedecl.mli
  typing/types.ml
  typing/types.mli
Labels: bug, no-change-entry-needed

#10034 Typos (documentation)
  manual/manual/tutorials/coreexamples.etex
  manual/manual/tutorials/lablexamples.etex
Labels: no-change-entry-needed

#9991 Fix reproducibility for `-no-alias-deps`
  Changes
  testsuite/tests/reproducibility/cmis_on_file_system.ml
  typing/env.ml
Labels: bug, merge-me

#10036 Switch the compiler builds from Travis to GitHub actions
  .github/workflows/main.yml
  .github/workflows/nnp.yml
  .travis.yml
  ocamltest/ocaml_actions.ml
  ocamltest/ocaml_variables.ml
  ocamltest/ocaml_variables.mli
  testsuite/tests/lib-bigarray-2/bigarrfml.ml
  testsuite/tests/lib-bigarray-2/call-gfortran.sh
  tools/ci/actions/runner.sh
  tools/ci/inria/other-configs/script
Labels: no-change-entry-needed

#9955 Fix #7813 (major GC fails to start)
  Changes
  runtime/gc_ctrl.c
  runtime/minor_gc.c
Labels: bug

#10022 Flambda: Remove redundant recursive import for packs
  middle_end/flambda/export_info_for_pack.ml
Labels: no-change-entry-needed

#9939 Define __USE_MINGW_ANSI_STDIO=0 for mingw-w64
  Changes
  configure
  configure.ac
  runtime/caml/config.h
Labels: bug

#10053 Ensure apt succeeds in workflows
  .github/workflows/main.yml
Labels: no-change-entry-needed

#9582 Add Array.{find_opt,find_map,split,combine}
  Changes
  stdlib/array.ml
  stdlib/array.mli
  stdlib/arrayLabels.mli
  testsuite/tests/lib-array/test_array.ml
Labels: stdlib

#9870 Fix #9866 by allowing to lose some abbreviations during unification
  Changes
  testsuite/tests/typing-gadts/principality-and-gadts.ml
  testsuite/tests/typing-misc/constraints.ml
  toplevel/genprintval.ml
  typing/ctype.ml
  typing/typedecl.ml
  typing/typedecl_variance.ml
Labels: bug

#10043 Switch compiler builds from Travis to GitHub Actions (4.12 version)
  .github/workflows/main.yml
  .github/workflows/nnp.yml
  .travis.yml
  ocamltest/ocaml_actions.ml
  ocamltest/ocaml_variables.ml
  ocamltest/ocaml_variables.mli
  testsuite/tests/lib-bigarray-2/bigarrfml.ml
  testsuite/tests/lib-bigarray-2/call-gfortran.sh
  tools/ci/actions/runner.sh
  tools/ci/inria/other-configs/script
Labels: no-change-entry-needed

#10054 Make copy_value from runtime/weak.c compatible with no-naked-pointers mode
  runtime/weak.c
Labels: bug, no-change-entry-needed
