Repository ocaml/ocaml, pull requests merged in 2020-03, with the labels that each got.

#9347 printtyp: inline a function call
  typing/printtyp.ml
Labels: no-change-entry-needed

#9348 build_subtype: assert arrow type is known
  typing/ctype.ml
Labels: no-change-entry-needed

#9077 Define Seq.cons and Seq.append.
  Changes
  stdlib/seq.ml
  stdlib/seq.mli
Labels: stdlib

#9280 Micro-optimise allocations on amd64 to save a register.
  Changes
  asmcomp/amd64/emit.mlp
  asmcomp/amd64/proc.ml
  runtime/amd64.S
Labels: no-change-entry-needed

#9358 Implement #9280 for MSVC64 [fixes build]
  runtime/amd64nt.asm
Labels: no-change-entry-needed

#9322 [matching.ml cleanup] structured rows
  lambda/matching.ml
  typing/parmatch.mli
Labels: no-change-entry-needed

#9359 matching: ctx_matcher with heads
  lambda/matching.ml
Labels: no-change-entry-needed

#2141 Deprecate -annot
  .depend
  Changes
  compilerlibs/Makefile.compilerlibs
  driver/compile_common.ml
  driver/main_args.ml
  lambda/simplif.ml
  man/ocamlc.m
  man/ocamlopt.m
  manual/manual/cmds/unified-options.etex
  tools/.depend
  tools/Makefile
  tools/read_cmt.ml
  typing/TODO.md
  typing/cmt2annot.ml
  typing/envaux.ml
  typing/typeclass.ml
  typing/typecore.ml
  typing/typemod.ml
Labels: caml-weekly-news

#9366 Non-fix for a non-bug in debuginfo processing
  runtime/backtrace_nat.c
Labels: no-change-entry-needed

#9373 fix doc comment for unit type
  stdlib/unit.mli
Labels: no-change-entry-needed

#9361 matching: use polymorphic variants to classify general/half_simple/simple patterns
  lambda/matching.ml
Labels: no-change-entry-needed

#9378 The manual is now hosted on ocaml.org
  manual/manual/allfiles.etex
  manual/manual/cmds/intf-c.etex
  manual/manual/foreword.etex
  manual/manual/macros.hva
  manual/manual/macros.tex
  manual/manual/manual.inf
Labels: no-change-entry-needed

#9396 Reveal the identity of a mysterious reviewer
  Changes
Labels: no-change-entry-needed

#9401 manual: fix attribute examples
  Changes
  manual/manual/refman/exten.etex
Labels: documentation

#9402 Remove sudo:false in .travis.yml
  .travis.yml
  Changes
Labels: no-change-entry-needed

#9405 add optional argument principality examples
  testsuite/tests/typing-misc/labels.ml
Labels: no-change-entry-needed
