Repository ocaml/ocaml, pull requests merged in 2020-10, with the labels that each got.

#9951 Ensure that the mark stack push optimisation handles naked pointers.
  Changes
  runtime/major_gc.c
Labels: merge-me

#9798 Fix handling of Exit_compiler exception in toplevel
  .depend
  driver/compenv.ml
  driver/compenv.mli
  driver/main_args.ml
  driver/maindriver.ml
  driver/optmaindriver.ml
  ocamldoc/.depend
  ocamldoc/odoc_args.ml
  testsuite/tests/self-contained-toplevel/main.ml
  tools/.depend
  tools/ocamlcp.ml
  tools/ocamloptp.ml
  toplevel/opttopdirs.ml
  toplevel/opttoploop.ml
  toplevel/opttopmain.ml
  toplevel/opttopmain.mli
  toplevel/opttopstart.ml
  toplevel/topdirs.ml
  toplevel/toploop.ml
  toplevel/topmain.ml
  toplevel/topmain.mli
  toplevel/topstart.ml
Labels: bug, no-change-entry-needed

#9959 Use Cmm_helpers for boxed int arithmetic
  asmcomp/cmmgen.ml
Labels: no-change-entry-needed

#9429 Add ppx-only unary operators
  Changes
  parsing/lexer.mll
  parsing/pprintast.ml
  testsuite/tests/parsing/extension_operators.ml
  typing/env.ml
Labels: merge-me

#9898 Use CAMLprim in all manual examples
  manual/manual/cmds/intf-c.etex
Labels: no-change-entry-needed

#9911 Fix testsuite for spacetime
  testsuite/tests/statmemprof/callstacks.flat-float-array.reference
  testsuite/tests/statmemprof/callstacks.ml
  testsuite/tests/statmemprof/callstacks.no-flat-float-array.reference
  testsuite/tests/statmemprof/comballoc.byte.reference
  testsuite/tests/statmemprof/comballoc.ml
  testsuite/tests/statmemprof/comballoc.opt.reference
Labels: no-change-entry-needed

#9754 Allow `[@tailcall true]` and `[@tailcall false]`
  .depend
  Changes
  asmcomp/selectgen.ml
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/printlambda.ml
  lambda/simplif.ml
  lambda/simplif.mli
  lambda/translattribute.ml
  testsuite/tests/warnings/w51.compilers.reference
  testsuite/tests/warnings/w51.ml
  testsuite/tests/warnings/w51_bis.compilers.reference
  utils/warnings.ml
  utils/warnings.mli
Labels: merge-me

#9803 pat_env points to the correct environment
  Changes
  testsuite/tests/typing-gadts/pr9799.ml
  typing/typecore.ml
  typing/typedtree.ml
  typing/typedtree.mli
Labels: bug, merge-me

#9973 Make sure the process can terminate when the last thread calls Thread.exit
  Changes
  otherlibs/systhreads/st_stubs.c
  testsuite/tests/lib-threads/pr9971.ml
Labels: bug

#9974 Remove dead code
  .depend
  typing/typeclass.ml
  typing/typecore.ml
  typing/typecore.mli
  typing/typemod.ml
  typing/typemod.mli
Labels: merge-me, no-change-entry-needed

#9003 Start from emit
  .depend
  Changes
  asmcomp/asmgen.ml
  asmcomp/asmgen.mli
  driver/compenv.ml
  driver/compenv.mli
  driver/compile.ml
  driver/compile.mli
  driver/maindriver.ml
  driver/optcompile.ml
  driver/optcompile.mli
  driver/optmaindriver.ml
  file_formats/linear_format.ml
  file_formats/linear_format.mli
  testsuite/tests/tool-ocamlopt-save-ir/check_for_pack.compilers.reference
  testsuite/tests/tool-ocamlopt-save-ir/check_for_pack.ml
  testsuite/tests/tool-ocamlopt-save-ir/start_from_emit.ml
  testsuite/tests/tool-ocamlopt-save-ir/start_from_emit.sh
  utils/clflags.ml
  utils/clflags.mli
Labels: merge-me

#9861 Catch Nondep_cannot_erase
  Changes
  testsuite/tests/typing-fstclassmod/nondep_instance.ml
  typing/ctype.ml
Labels: bug

#9977 Fix example of "external" in the manual
  manual/manual/cmds/intf-c.etex
Labels: merge-me, no-change-entry-needed

#9976 Move the examples of labeled functions to StdLabels
  stdlib/array.mli
  stdlib/arrayLabels.mli
  stdlib/bytes.mli
  stdlib/bytesLabels.mli
  stdlib/list.mli
  stdlib/listLabels.mli
  stdlib/stdLabels.mli
  stdlib/string.mli
  stdlib/stringLabels.mli
Labels: no-change-entry-needed

#9967 Add (developer) ability to disable the use of the .opt compilers in the build
  Makefile.best_binaries
Labels: no-change-entry-needed

#9966 Update HACKING.adoc
  HACKING.adoc
Labels: no-change-entry-needed

#9946 Ensure Mtype.nondep_sig checks use the correct environment
  testsuite/tests/shadow_include/shadow_all.ml
  testsuite/tests/typing-modules/nondep.ml
  typing/mtype.ml
Labels: bug, no-change-entry-needed

#9980 Ocamlopt documentation updates
  manual/manual/cmds/native.etex
  manual/manual/cmds/unified-options.etex
Labels: documentation, no-change-entry-needed

#9674 Memprof: provide the guarantee that an allocation callback is always run in the same thread the allocation takes place. Attempt II.
  Changes
  otherlibs/systhreads/st_stubs.c
  otherlibs/systhreads/thread.ml
  runtime/caml/memprof.h
  runtime/memprof.c
  runtime/minor_gc.c
  runtime/startup_aux.c
  stdlib/gc.mli
  testsuite/tests/backtrace/callstack.reference
  testsuite/tests/statmemprof/blocking_in_callback.ml
  testsuite/tests/statmemprof/exception_callback.ml
  testsuite/tests/statmemprof/minor_no_postpone.ml
  testsuite/tests/statmemprof/moved_while_blocking.ml
  testsuite/tests/statmemprof/moved_while_blocking.reference
  testsuite/tests/statmemprof/thread_exit_in_callback.ml
  testsuite/tests/statmemprof/thread_exit_in_callback.reference
  testsuite/tests/statmemprof/thread_exit_in_callback_stub.c
Labels: merge-me

#9983 build_as_type: document why generic_instance can't be used
  typing/typecore.ml
Labels: no-change-entry-needed

#9650 [WIP] pattern-matching: Cannot_flatten, maybe we can?
  Changes
  lambda/matching.ml
  testsuite/tests/basic/patmatch_for_multiple.ml
Labels: merge-me

#9987 manual: use the underscore package
  manual/manual/library/Makefile
  manual/manual/library/compilerlibs.etex
  manual/manual/library/stdlib-blurb.etex
  manual/manual/macros.tex
  manual/manual/manual.tex
Labels: no-change-entry-needed

#9988 manual: docitem macros for linking modules
  manual/manual/library/compilerlibs.etex
  manual/manual/library/core.etex
  manual/manual/library/libdynlink.etex
  manual/manual/library/libstr.etex
  manual/manual/library/libthreads.etex
  manual/manual/library/libunix.etex
  manual/manual/library/stdlib-blurb.etex
  manual/manual/macros.hva
  manual/manual/macros.tex
  manual/manual/manual.inf
  manual/tests/check-stdlib-modules
Labels: no-change-entry-needed
