Repository ocaml/ocaml, pull requests merged in 2021-07, with the labels that each got.

#10486 [doc] Fix: String.{starts,ends}_with introduced in 4.13 (not 4.12)
  stdlib/string.mli
  stdlib/stringLabels.mli
Labels: bug, no-change-entry-needed

#10493 Mention binutils as installation prerequisites
  INSTALL.adoc
Labels: no-change-entry-needed

#10400 Tweak the configuration for the i386-static compiler
  tools/ci/actions/runner.sh
  tools/ci/inria/main
Labels: no-change-entry-needed

#10506 manual: Fix incorrect splitting of language extension sections into their own files
  manual/src/refman/Makefile
  manual/src/refman/exten.etex
  manual/src/refman/extensions/privatetypes.etex
  manual/src/refman/extensions/recursivemodules.etex
  manual/src/refman/extensions/signaturesubstitution.etex
Labels: bug, documentation

#8516 Change representation of class signatures
  Changes
  boot/ocamlc
  boot/ocamllex
  lambda/translclass.ml
  lambda/translcore.ml
  ocamldoc/.depend
  ocamldoc/odoc_misc.ml
  ocamldoc/odoc_misc.mli
  ocamldoc/odoc_print.ml
  ocamldoc/odoc_sig.ml
  testsuite/tests/typing-gadts/pr7260.ml
  testsuite/tests/typing-gadts/pr7391.ml
  testsuite/tests/typing-misc/exotic_unifications.ml
  testsuite/tests/typing-misc/includeclass_errors.ml
  testsuite/tests/typing-misc/pr6416.ml
  testsuite/tests/typing-objects-bugs/pr3968_bad.compilers.reference
  testsuite/tests/typing-objects/Exemples.ml
  testsuite/tests/typing-objects/Tests.ml
  testsuite/tests/typing-objects/dummy.ml
  testsuite/tests/typing-objects/errors.ml
  testsuite/tests/typing-objects/pr6907_bad.ml
  testsuite/tests/typing-poly/poly.ml
  testsuite/tests/typing-warnings/disable_warnings_classes.ml
  typing/btype.ml
  typing/btype.mli
  typing/ctype.ml
  typing/ctype.mli
  typing/env.ml
  typing/env.mli
  typing/printtyp.ml
  typing/printtyped.ml
  typing/rec_check.ml
  typing/subst.ml
  typing/tast_iterator.ml
  typing/tast_mapper.ml
  typing/typeclass.ml
  typing/typeclass.mli
  typing/typecore.ml
  typing/typecore.mli
  typing/typedtree.ml
  typing/typedtree.mli
  typing/typemod.ml
  typing/typemod.mli
  typing/types.ml
  typing/types.mli
  typing/untypeast.ml
  utils/warnings.ml
  utils/warnings.mli
Labels: merge-me

#10500 [minor] code-reading comments and obvious refactorings on pattern-matching compilation
  lambda/lambda.ml
  lambda/switch.ml
  lambda/switch.mli
  lambda/translcore.ml
Labels: no-change-entry-needed

#10523 Run the Polling pass earlier
  asmcomp/asmgen.ml
Labels: bug, no-change-entry-needed

#10522 PDF manual: use microtype package, don't use ae package
  manual/src/macros.hva
  manual/src/manual.tex
Labels: no-change-entry-needed

#10529 Fix private polymorphic variant inclusion
  testsuite/tests/typing-modules/private.ml
  typing/includecore.ml
Labels: bug, no-change-entry-needed

#10530 OCaml manual: change the argument of functor BNF into Kleene plus form in the doc
  manual/src/refman/modtypes.etex
  manual/src/refman/modules.etex
Labels: documentation

#10537 minor fix: mkdir before copying CSS for webman
  manual/src/html_processing/Makefile
Labels: merge-me, no-change-entry-needed

#10535 webman: Remove chapter number on subsubsection correctly
  manual/src/html_processing/src/process_manual.ml
Labels: merge-me, no-change-entry-needed

#10448 make CI bootstrap script compatible with Macos
  tools/ci/inria/bootstrap/script
Labels: no-change-entry-needed

#10536 Add doc for ocamldoc's cross-ref with text
  manual/src/cmds/ocamldoc.etex
Labels: merge-me, no-change-entry-needed
