Repository ocaml/ocaml, pull requests merged in 2021-08, with the labels that each got.

#10539 Field kinds should be kept when copying types
  Changes
  testsuite/tests/typing-objects/field_kind.ml
  typing/btype.ml
  typing/btype.mli
  typing/ctype.ml
Labels: bug

#10557 Restore Toploop.use_file
  toplevel/toploop.ml
  toplevel/toploop.mli
Labels: no-change-entry-needed

#10446 Make #directory add directories to the start/left of the load path rather than the end/right
  Changes
  testsuite/tests/load_path/test.ml
  testsuite/tests/load_path/test/driver.ml
  testsuite/tests/load_path/test/payload.ml
  toplevel/topdirs.ml
  utils/load_path.ml
  utils/load_path.mli
Labels: merge-me

#10573 Typo in parsetree.mli
  parsing/parsetree.mli
Labels: no-change-entry-needed, documentation

#10531 Add naked-pointers flag to `ocamlc -config` output
  Changes
  utils/Makefile
  utils/config.mli
  utils/config.mlp
Labels: merge-me

#10574 Remove manual/tools/htmltransf
  manual/tools/.gitignore
  manual/tools/Makefile
  manual/tools/htmltransf.mll
  manual/tools/transfmain.ml
Labels: no-change-entry-needed

#10577 Let configure generate stdlib/sys.ml
  Makefile
  configure
  configure.ac
  stdlib/Makefile
  stdlib/sys.ml.in
Labels: no-change-entry-needed

#10558 #10450: restore support for %apply and %revapply with non-translucid types
  Changes
  testsuite/tests/prim-revapply/apply.ml
  testsuite/tests/prim-revapply/revapply.ml
  typing/typecore.ml
Labels: merge-me

#10579 Add the missing license field to the opam file
  ocaml-variants.opam
Labels: no-change-entry-needed
