Repository ocaml/ocaml, pull requests merged in 2021-05, with the labels that each got.

#10390 Add emitenv and cmm_invariants to dune file
  dune
Labels: no-change-entry-needed

#10384 Harden the rules for tabs in Makefiles
  .gitattributes
  Makefile
  Makefile.common
  Makefile.dev
  api_docgen/Makefile.docfiles
  api_docgen/ocamldoc/Makefile
  api_docgen/odoc/Makefile
  compilerlibs/Makefile.compilerlibs
  otherlibs/dynlink/Makefile
  runtime/Makefile
  tools/Makefile
  tools/check-typo
Labels: no-change-entry-needed

#10394 Test evaluation order for 'for' loops
  testsuite/tests/basic/eval_order_7.ml
  testsuite/tests/basic/eval_order_7.reference
Labels: no-change-entry-needed

#10146 ocamltest: allow TEST block at end of file
  ocamltest/tsl_lexer.mll
  testsuite/tests/backtrace/backtrace.ml
Labels: merge-me, no-change-entry-needed

#10398 floats.c: small optim of caml_{frexp,modf}_float
  Changes
  runtime/floats.c
Labels: merge-me

#10289 Fix for #9295.Do not print options in usage msg
  Changes
  driver/compenv.ml
  driver/compenv.mli
  driver/maindriver.ml
  driver/makedepend.ml
  driver/optmaindriver.ml
  toplevel/byte/topmain.ml
  toplevel/native/topmain.ml
  utils/clflags.ml
  utils/clflags.mli
Labels: merge-me

#10170 Maintain more structural information in type-checking errors
  .depend
  Changes
  compilerlibs/Makefile.compilerlibs
  lambda/lambda.ml
  testsuite/tests/typing-misc/constraints.ml
  testsuite/tests/typing-misc/pr6416.ml
  testsuite/tests/typing-misc/pr7937.ml
  testsuite/tests/typing-misc/unbound_type_variables.ml
  testsuite/tests/typing-modules/inclusion_errors.ml
  testsuite/tests/typing-objects-bugs/pr3968_bad.compilers.reference
  testsuite/tests/typing-objects-bugs/pr4018_bad.compilers.reference
  testsuite/tests/typing-poly/poly.ml
  testsuite/tests/typing-poly/pr9603.ml
  testsuite/tests/typing-polyvariants-bugs-2/pr3918c.compilers.reference
  toplevel/genprintval.ml
  toplevel/topdirs.ml
  typing/ctype.ml
  typing/ctype.mli
  typing/errortrace.ml
  typing/errortrace.mli
  typing/includeclass.ml
  typing/includecore.ml
  typing/includecore.mli
  typing/includemod.ml
  typing/includemod.mli
  typing/mtype.ml
  typing/primitive.ml
  typing/primitive.mli
  typing/printtyp.ml
  typing/printtyp.mli
  typing/typeclass.ml
  typing/typeclass.mli
  typing/typecore.ml
  typing/typecore.mli
  typing/typedecl.ml
  typing/typedecl.mli
  typing/typedecl_variance.ml
  typing/typetexp.ml
  typing/typetexp.mli
Labels: merge-me

#10307 Refactor type_descriptions in the typing env
  Changes
  ocamldoc/odoc_sig.mli
  typing/btype.ml
  typing/btype.mli
  typing/env.ml
  typing/env.mli
  typing/parmatch.ml
  typing/types.ml
  typing/types.mli
Labels: merge-me

#10392 Add {Int,Int32,Int64,NativeInt}.{min,max}
  Changes
  asmcomp/branch_relaxation.ml
  asmcomp/coloring.ml
  asmcomp/emitaux.ml
  asmcomp/schedgen.ml
  asmcomp/selectgen.ml
  asmcomp/spill.ml
  debugger/command_line.ml
  debugger/time_travel.ml
  lambda/simplif.ml
  lex/common.ml
  lex/cset.ml
  lex/lexgen.ml
  middle_end/flambda/flambda_to_clambda.ml
  middle_end/flambda/inline_and_simplify_aux.ml
  middle_end/flambda/inlining_cost.ml
  ocamldoc/odoc_dag2html.ml
  ocamltest/ocamltest_stdlib.ml
  otherlibs/str/str.ml
  stdlib/.depend
  stdlib/StdlibModules
  stdlib/arg.ml
  stdlib/bytes.ml
  stdlib/camlinternalFormat.ml
  stdlib/ephemeron.ml
  stdlib/format.ml
  stdlib/hashtbl.ml
  stdlib/int.ml
  stdlib/int.mli
  stdlib/int32.ml
  stdlib/int32.mli
  stdlib/int64.ml
  stdlib/int64.mli
  stdlib/lexing.ml
  stdlib/nativeint.ml
  stdlib/nativeint.mli
  stdlib/random.ml
  stdlib/scanf.ml
  stdlib/weak.ml
  testsuite/tests/basic/boxedints.ml
  testsuite/tests/basic/boxedints.reference
  testsuite/tests/lib-int/test.ml
  testsuite/tests/lib-int64/test.ml
  tools/ocamlprof.ml
  typing/ctype.ml
  typing/path.ml
  typing/printtyp.ml
  utils/binutils.ml
  utils/misc.ml
  utils/profile.ml
  utils/warnings.ml
Labels: stdlib

#9809 Wrong skip criterion in tests/output-complete-obj/test.ml
  testsuite/tests/output-complete-obj/test.ml
  testsuite/tests/output-complete-obj/test.ml_stub.c
Labels: merge-me, no-change-entry-needed, ocamltest-related

#10401 #6654, #9974: make include and with constraints aware of ghost components
  .depend
  Changes
  compilerlibs/Makefile.compilerlibs
  dune
  testsuite/tests/shadow_include/ghosts.ml
  testsuite/tests/shadow_include/shadow_all.ml
  testsuite/tests/typing-modules/with_ghosts.ml
  typing/printtyp.ml
  typing/signature_group.ml
  typing/signature_group.mli
  typing/typemod.ml
Labels: merge-me

#10420 Fix a 22-year-old typo in a comment
  typing/ctype.ml
Labels: no-change-entry-needed

#10414 Spilling and reloading: avoid behavior exponential in loop nesting
  Changes
  asmcomp/spill.ml
Labels: merge-me

#10419 Add %frame_pointers
  .depend
  Changes
  lambda/translprim.ml
Labels: merge-me

#10379 Remove the Pidentity primitive
  bytecomp/bytegen.ml
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/printlambda.ml
  lambda/simplif.ml
  lambda/translprim.ml
  middle_end/closure/closure.ml
  middle_end/convert_primitives.ml
  middle_end/flambda/closure_conversion.ml
  middle_end/internal_variable_names.ml
Labels: merge-me, no-change-entry-needed

#10265 Simplify tools/Makefile
  tools/Makefile
Labels: merge-me, no-change-entry-needed

#9919 Limit declaration of C primitives in runtime headers
  Changes
  bytecomp/bytelink.ml
  manual/src/cmds/intf-c.etex
  runtime/backtrace.c
  runtime/caml/backtrace.h
  runtime/caml/compatibility.h
  runtime/caml/finalise.h
  runtime/caml/gc_ctrl.h
  runtime/caml/md5.h
  runtime/caml/sys.h
  runtime/main.c
  runtime/startup_aux.c
  runtime/startup_byt.c
  runtime/sys.c
  runtime/win32.c
Labels: merge-me
