Repository ocaml/ocaml, pull requests merged in 2021-01, with the labels that each got.

#10114 Don't redo coldstart during opt.opt
  Makefile
Labels: no-change-entry-needed

#10107 Always allow linking AFL-instrumented modules
  Changes
  runtime/afl.c
Labels: bug

#10108 Fix tool-lexyacc/main.ml w.r.t. PR#9872
  testsuite/tests/tool-lexyacc/gram_aux.ml
  testsuite/tests/tool-lexyacc/grammar.mly
  testsuite/tests/tool-lexyacc/input
  testsuite/tests/tool-lexyacc/lexgen.ml
  testsuite/tests/tool-lexyacc/main.compilers.reference
  testsuite/tests/tool-lexyacc/main.ml
  testsuite/tests/tool-lexyacc/main.reference
  testsuite/tests/tool-lexyacc/output.ml
  testsuite/tests/tool-lexyacc/scan_aux.ml
  testsuite/tests/tool-lexyacc/scanner.mll
  testsuite/tests/tool-lexyacc/syntax.ml
Labels: no-change-entry-needed

#10116 Renew table of Win32-incompatible functions in Unix
  manual/manual/library/libunix.etex
  otherlibs/unix/unix.mli
  otherlibs/unix/unixLabels.mli
Labels: no-change-entry-needed

#10119 iff -> if and only if
  stdlib/bool.mli
  stdlib/float.mli
  stdlib/int.mli
  stdlib/option.mli
  stdlib/result.mli
  stdlib/string.mli
  stdlib/stringLabels.mli
  stdlib/templates/float.template.mli
  stdlib/uchar.mli
  utils/misc.mli
Labels: no-change-entry-needed

#9284 Add -config option to ocamlrun
  Changes
  manual/manual/cmds/runtime.etex
  runtime/Makefile
  runtime/caml/dynlink.h
  runtime/dynlink.c
  runtime/startup_byt.c
Labels: enhancement

#9960 Extend -o to work when compiling C files
  Changes
  driver/compenv.ml
  ocamltest/builtin_actions.ml
  ocamltest/builtin_actions.mli
  ocamltest/builtin_variables.ml
  ocamltest/builtin_variables.mli
  testsuite/tests/tool-command-line/hello.c
  testsuite/tests/tool-command-line/test-o-one-c-file.ml
  testsuite/tests/tool-command-line/test-o-several-files.compilers.reference
  testsuite/tests/tool-command-line/test-o-several-files.ml
  testsuite/tests/tool-command-line/test-unknown-file.compilers.reference
  testsuite/tests/tool-command-line/test-unknown-file.ml
Labels: merge-me

#10122 Some small reference manual fixes
  CONTRIBUTING.md
  manual/manual/foreword.etex
  manual/manual/library/stdlib-blurb.etex
  stdlib/either.mli
  stdlib/ephemeron.mli
  stdlib/float.mli
  stdlib/seq.mli
  stdlib/stdLabels.mli
  stdlib/templates/float.template.mli
Labels: no-change-entry-needed

#10095 Switch to Menhir's simplified error handling strategy
  Changes
  Makefile.menhir
  boot/menhir/menhirLib.ml
  boot/menhir/menhirLib.mli
  boot/menhir/parser.ml
  parsing/parse.ml
  testsuite/tests/generated-parse-errors/errors.compilers.reference
  testsuite/tests/typing-sigsubst/sig_local_aliases_syntax_errors.compilers.reference
Labels: merge-me

#10125 Gc.set incorrectly handles the three `custom_*` fields
  Changes
  runtime/gc_ctrl.c
  testsuite/tests/regression/pr9326/gc_set.ml
Labels: bug

#10134 AppVeyor refactoring
  .gitattributes
  tools/ci/appveyor/appveyor_build.cmd
  tools/ci/appveyor/appveyor_build.sh
Labels: no-change-entry-needed

#10141 Tidy up docs for compiler libs
  parsing/location.mli
  parsing/longident.mli
Labels: no-change-entry-needed

#10149 Fix detection of ocamlc.opt in ocamltest
  ocamltest/ocaml_tests.ml
Labels: no-change-entry-needed

#10153 Reference manual spelling fixes
  manual/manual/cmds/intf-c.etex
  manual/manual/tutorials/advexamples.etex
  manual/manual/tutorials/coreexamples.etex
  stdlib/gc.mli
  stdlib/string.mli
  stdlib/stringLabels.mli
Labels: merge-me

#10151 Instrumented runtime: put libraries to link with in their own build variable
  Makefile.config.in
  configure
  configure.ac
  ocamltest/Makefile
  ocamltest/builtin_actions.ml
  ocamltest/ocaml_actions.ml
  ocamltest/ocamltest_config.ml.in
  ocamltest/ocamltest_config.mli
  runtime/Makefile
  stdlib/Makefile
  testsuite/tests/instrumented-runtime/main.ml
Labels: merge-me, no-change-entry-needed

#10152 Fix erroneous header in Chapter 8
  manual/manual/refman/exten.etex
Labels: merge-me, no-change-entry-needed

#10157 testsuite/tests/backtrace: attempt to fix Windows \r\n issue
  testsuite/tests/backtrace/filter-locations.sh
  testsuite/tests/backtrace/inline_traversal_test.reference
Labels: no-change-entry-needed

#10155 Build system: improve Posix threads detection and support
  Makefile.config.in
  build-aux/ax_pthread.m4
  configure
  configure.ac
  otherlibs/systhreads/Makefile
Labels: no-change-entry-needed

#9755 html post-processing
  Changes
  manual/Makefile
  manual/manual/.gitignore
  manual/manual/Makefile
  manual/manual/html_processing/.gitignore
  manual/manual/html_processing/Makefile
  manual/manual/html_processing/README.md
  manual/manual/html_processing/dune-project
  manual/manual/html_processing/js/navigation.js
  manual/manual/html_processing/js/scroll.js
  manual/manual/html_processing/js/search.js
  manual/manual/html_processing/scss/_common.scss
  manual/manual/html_processing/scss/manual.scss
  manual/manual/html_processing/scss/style.scss
  manual/manual/html_processing/src/common.ml
  manual/manual/html_processing/src/dune
  manual/manual/html_processing/src/process_api.ml
  manual/manual/html_processing/src/process_manual.ml
  tools/ci/travis/travis-ci.sh
Labels: merge-me

#10164 Add examples to Arg, Buffer modules
  stdlib/arg.mli
  stdlib/buffer.mli
  stdlib/either.mli
  stdlib/genlex.mli
  stdlib/moreLabels.mli
  stdlib/nativeint.mli
  stdlib/seq.mli
  stdlib/templates/moreLabels.template.mli
Labels: no-change-entry-needed

#10148 Fix build on macOS with GCC
  Changes
  runtime/eventlog.c
Labels: bug

#10052 Move EnvLazy to its own file under typing/
  .depend
  compilerlibs/Makefile.compilerlibs
  otherlibs/dynlink/Makefile
  typing/env.ml
  typing/persistent_env.ml
  typing/persistent_env.mli
  utils/lazy_backtrack.ml
  utils/lazy_backtrack.mli
  utils/misc.ml
  utils/misc.mli
Labels: no-change-entry-needed

#10173 Fix the no-naked-pointers GitHub run on release tags
  .github/workflows/main.yml
Labels: no-change-entry-needed

#9243 parser: simplify array expressions
  Changes
  boot/menhir/parser.ml
  parsing/parser.mly
  testsuite/tests/generated-parse-errors/errors.compilers.reference
Labels: merge-me
