Repository ocaml/ocaml, pull requests merged in 2021-09, with the labels that each got.

#10545 Add {In,Out}_channel to Stdlib
  Changes
  manual/src/library/stdlib-blurb.etex
  manual/tests/check-stdlib-modules
  stdlib/.depend
  stdlib/StdlibModules
  stdlib/in_channel.ml
  stdlib/in_channel.mli
  stdlib/out_channel.ml
  stdlib/out_channel.mli
  stdlib/stdlib.ml
  stdlib/stdlib.mli
  testsuite/tests/basic/patmatch_for_multiple.ml
  testsuite/tests/generalized-open/gpr1506.ml
  testsuite/tests/typing-sigsubst/sigsubst.ml
Labels: stdlib, merge-me

#10588 Fix html manual post-processing
  manual/src/html_processing/Makefile
Labels: no-change-entry-needed

#10590 Add various fast-paths in typechecking
  Changes
  typing/includemod.ml
  typing/rec_check.ml
  typing/typecore.ml
Labels: no-change-entry-needed

#10489 Abstract wmain/main difference with main_os
  bytecomp/bytelink.ml
  runtime/caml/misc.h
  runtime/main.c
  runtime/sak.c
  testsuite/tests/embedded/cmmain.c
  testsuite/tests/output-complete-obj/test.ml_stub.c
  yacc/defs.h
  yacc/main.c
Labels: no-change-entry-needed

#10587 Use $(ROOTDIR) rather than $(SRC) in manual build system
  manual/README.md
  manual/src/Makefile
  manual/src/library/Makefile
  manual/tools/Makefile
  ocaml-variants.opam
  ocamldoc/Makefile
  ocamldoc/Makefile.best_ocamldoc
Labels: no-change-entry-needed

#10601 manual: don't mix up library modules and language extensions
  manual/src/macros.tex
  manual/src/manual.tex
Labels: no-change-entry-needed

#10606 Deobfuscate ignored-partial-application and non-unit-statement check
  typing/typecore.ml
Labels: no-change-entry-needed, merge-me

#10605 manual: fewer hevea-generated css classes
  Changes
  manual/src/html_processing/scss/manual.scss
  manual/src/html_processing/src/process_manual.ml
  manual/src/macros.hva
  manual/src/macros.tex
  manual/src/manual.tex
  manual/styles/syntaxdef.hva
Labels: merge-me

#10602 manual: keep white spaces in error messages
  manual/src/html_processing/scss/manual.scss
Labels: no-change-entry-needed

#10511 Correctly configure Cygwin when flexdll missing
  Changes
  configure
  configure.ac
Labels: bug, merge-me

#10597 Small refactoring in predef.ml when computing the initial environment
  typing/predef.ml
Labels: no-change-entry-needed

#10421 improve documentation of record field Gc.live_words
  stdlib/gc.mli
Labels: no-change-entry-needed

#10629 manual: add missing Bigarray C element kinds
  manual/src/cmds/intf-c.etex
Labels: no-change-entry-needed

#10622 add immediate attribute
  Changes
  stdlib/uchar.mli
Labels: stdlib, merge-me

#10618 Expose more Pprintast functions
  Changes
  parsing/pprintast.ml
  parsing/pprintast.mli
Labels: merge-me

#10637 [refactoring] Outcometree: introduce a record type for constructors
  Changes
  typing/oprint.ml
  typing/oprint.mli
  typing/outcometree.mli
  typing/printtyp.ml
Labels: merge-me

#10632 Ensure -fPIC doesn't get passed to an assembler
  Changes
  configure
  configure.ac
Labels: bug

#10516 [minor] switch.ml: distinguish types for arguments, tests and actions
  Changes
  asmcomp/cmm_helpers.ml
  lambda/matching.ml
  lambda/switch.ml
  lambda/switch.mli
Labels: merge-me

#10657 fix indentation in ocamltest C file
  ocamltest/run_unix.c
Labels: no-change-entry-needed

#10621 Simplify shared library support in `configure`
  configure
  configure.ac
Labels: no-change-entry-needed

#10504 Don't try to build systhreads if unix isn't being built
  configure
  configure.ac
Labels: no-change-entry-needed

#10382 Don't repeat environment entries in Typemod.check_type_decl
  Changes
  boot/ocamlc
  boot/ocamllex
  testsuite/tests/shadow_include/cannot_shadow_error.compilers.reference
  testsuite/tests/typing-modules/merge_constraint.ml
  testsuite/tests/typing-sigsubst/sigsubst.ml
  typing/signature_group.ml
  typing/signature_group.mli
  typing/typemod.ml
Labels: merge-me

#10656 Two minor fixes to check-typo
  tools/check-typo
Labels: no-change-entry-needed

#10665 Remove comments about repr-ing
  typing/btype.mli
Labels: no-change-entry-needed

#10649 Ignore `_opam` in git and check-typo.
  .gitignore
Labels: no-change-entry-needed

#10596 Add {In,Out}_channel.with_open_{bin,text,gen} and In_channel.input_all
  Changes
  stdlib/.depend
  stdlib/in_channel.ml
  stdlib/in_channel.mli
  stdlib/out_channel.ml
  stdlib/out_channel.mli
  testsuite/tests/lib-channels/input_all.ml
Labels: stdlib, merge-me
