Repository ocaml/ocaml, pull requests merged in 2021-06, with the labels that each got.

#9489 Add Random.full_int
  Changes
  stdlib/random.ml
  stdlib/random.mli
  testsuite/tests/lib-random/chi2.ml
  testsuite/tests/lib-random/full_int.ml
  testsuite/tests/lib-random/full_int.reference
Labels: stdlib

#944 Added some missing C99 float operations
  Changes
  INSTALL.adoc
  aclocal.m4
  configure
  configure.ac
  runtime/caml/s.h.in
  runtime/floats.c
  stdlib/float.ml
  stdlib/float.mli
  stdlib/stdlib.ml
  stdlib/stdlib.mli
  stdlib/templates/float.template.mli
  testsuite/tests/backtrace/pr2195-locs.byte.reference
  testsuite/tests/backtrace/pr2195.opt.reference
  testsuite/tests/fma/fma.ml
  testsuite/tests/lib-float/test.ml
  testsuite/tests/lib-float/test.reference
Labels: caml-weekly-news, stdlib

#10439 document @since for Format.stag
  stdlib/format.mli
Labels: no-change-entry-needed

#9961 stdlib: add Array.fold_left_map
  Changes
  stdlib/array.ml
  stdlib/array.mli
  stdlib/arrayLabels.mli
  testsuite/tests/lib-array/test_array.ml
Labels: merge-me, stdlib

#10438 added -e eval option for runtop and natruntop
  Changes
  driver/main_args.ml
  driver/main_args.mli
  toplevel/byte/topmain.ml
  toplevel/native/topmain.ml
  toplevel/topdirs.ml
  toplevel/toploop.ml
  toplevel/toploop.mli
Labels: merge-me

#10447 asmcomp/dune: fix build on RISC-V
  asmcomp/dune
Labels: merge-me, no-change-entry-needed

#10444 Typos
  HACKING.adoc
  Makefile.common
  configure
  configure.ac
  lambda/lambda.mli
  manual/src/html_processing/scss/_common.scss
  manual/src/html_processing/src/common.ml
  middle_end/flambda/invariant_params.ml
  runtime/major_gc.c
  tools/ci/appveyor/appveyor_build.cmd
  tools/eventlog_metadata.in
  typing/ctype.ml
  typing/printtyp.ml
  typing/signature_group.ml
  typing/signature_group.mli
Labels: no-change-entry-needed

#10449 fix work accounting in marking phase
  Changes
  runtime/major_gc.c
Labels: bug

#10454 Check row_more in nondep_type_rec
  Changes
  testsuite/tests/typing-modules/nondep.ml
  typing/ctype.ml
Labels: merge-me

#10468 Correctly pretty print `Psig_typesubst`
  Changes
  parsing/pprintast.ml
  testsuite/tests/parsing/pr10468.ml
Labels: bug

#10192 Support Unix domain sockets and emulate socketpair on Windows
  Changes
  configure
  configure.ac
  manual/src/library/libunix.etex
  otherlibs/unix/socketaddr.c
  otherlibs/unix/socketaddr.h
  otherlibs/unix/unix.mli
  otherlibs/unix/unixLabels.mli
  otherlibs/win32unix/Makefile
  otherlibs/win32unix/accept.c
  otherlibs/win32unix/close_on.c
  otherlibs/win32unix/socket.c
  otherlibs/win32unix/socketpair.c
  otherlibs/win32unix/unix.ml
  otherlibs/win32unix/unixsupport.c
  otherlibs/win32unix/unixsupport.h
  runtime/caml/s.h.in
  runtime/debugger.c
  testsuite/tests/lib-unix/win-socketpair/has-afunix.sh
  testsuite/tests/lib-unix/win-socketpair/test.ml
  testsuite/tests/lib-unix/win-socketpair/test.reference
Labels: review-needed

#10470 Remove unused cstr_normal field from the constructor_description type
  Changes
  typing/datarepr.ml
  typing/types.ml
  typing/types.mli
Labels: merge-me
