Repository ocaml/ocaml, pull requests merged in 2021-12, with the labels that each got.

#10726 Free the alternate signal stack when the main OCaml code / an OCaml thread stops
  Changes
  manual/src/cmds/intf-c.etex
  otherlibs/systhreads/st_stubs.c
  runtime/caml/signals.h
  runtime/fail_nat.c
  runtime/signals_byt.c
  runtime/signals_nat.c
  runtime/startup_nat.c
  runtime/sys.c
  tools/ci/inria/sanitizers/lsan-suppr.txt
Labels: bug

#10776 Manual build system: remove no longer used variable definition
  manual/src/library/Makefile
Labels: no-change-entry-needed, merge-me

#10784 Parsetree: add a comment with an example for module_substitution
  parsing/parsetree.mli
Labels: no-change-entry-needed, merge-me

#10820 Fix 10781 bis: update overriden method privacy
  boot/ocamlc
  testsuite/tests/typing-objects/Tests.ml
  typing/btype.ml
  typing/ctype.ml
  typing/printtyp.ml
  typing/types.ml
  typing/types.mli
Labels: no-change-entry-needed

#10824 Test that Sys.opaque_identity prevents use of FMA
  testsuite/tests/asmcomp/prevent_fma.ml
Labels: no-change-entry-needed

#10823 Fix #10822: Bad interaction between ambivalent types and subtyping coercions
  Changes
  testsuite/tests/typing-gadts/principality-and-gadts.ml
  typing/typecore.ml
Labels: bug
