Repository ocaml/ocaml, pull requests merged in 2021-11, with the labels that each got.

#10743 Don't display prune information for .gitignore
  tools/check-typo
Labels: no-change-entry-needed

#10733 Buffer: reimplement UTF encoders with the new UTF Bytes encoders.
  stdlib/.depend
  stdlib/buffer.ml
Labels: no-change-entry-needed

#10583 Additions to the module Seq
  Changes
  stdlib/.depend
  stdlib/StdlibModules
  stdlib/seq.ml
  stdlib/seq.mli
  testsuite/tests/lib-seq/test.ml
Labels: merge-me

#10746 manual, caml-tex: allow to nest warnings and errors within an example
  tools/caml_tex.ml
Labels: no-change-entry-needed, merge-me

#10751 Add -dlambda to ocamlnat options
  driver/main_args.ml
Labels: no-change-entry-needed

#10752 Fix compile error due to unused open
  manual/src/html_processing/src/common.ml.in
Labels: no-change-entry-needed, merge-me

#10642 Windows: make Sys.remove and Unix.unlink delete symlinks to directories
  Changes
  otherlibs/unix/unlink.c
  otherlibs/win32unix/readlink.c
  otherlibs/win32unix/stat.c
  otherlibs/win32unix/unixsupport.h
  runtime/caml/misc.h
  runtime/caml/osdeps.h
  runtime/caml/winsupport.h
  runtime/sys.c
  runtime/win32.c
  testsuite/tests/lib-unix/win-symlink/test.ml
  testsuite/tests/lib-unix/win-symlink/test.reference
Labels: merge-me

#10757 OCaml 5.00.0 rather than 5.0.0
  VERSION
  build-aux/ocaml_version.m4
  configure
  ocaml-variants.opam
Labels: no-change-entry-needed

#10761 OCaml now require Vista to build
  README.win32.adoc
Labels: no-change-entry-needed

#10783 Replace `Stdlib.stdout` with `Unix.stdout` in doc of `Unix.create_process`
  otherlibs/unix/unix.mli
  otherlibs/unix/unixLabels.mli
Labels: no-change-entry-needed

#10739 Stop installling executable programs in LIBDIR
  Changes
  otherlibs/dynlink/Makefile
Labels: no-change-entry-needed
