Repository ocaml/ocaml, pull requests merged in 2022-02, with the labels that each got.

#10973 Remove unused gc_regs_slot in domain_state
  otherlibs/systhreads/st_stubs.c
  runtime/caml/domain_state.tbl
  runtime/domain.c
Labels: no-change-entry-needed

#10893 Remove configuration options --disable-force-safe-string and DEFAULT_STRING=unsafe
  .depend
  Changes
  Makefile.config.in
  configure
  configure.ac
  driver/compenv.ml
  driver/compmisc.ml
  driver/main_args.ml
  driver/main_args.mli
  file_formats/cmi_format.ml
  file_formats/cmi_format.mli
  lambda/matching.ml
  lambda/translcore.ml
  manual/src/cmds/unified-options.etex
  middle_end/closure/closure.ml
  middle_end/flambda/closure_conversion.ml
  ocaml-variants.opam
  ocamldoc/.depend
  ocamldoc/odoc_analyse.ml
  ocamltest/Makefile
  ocamltest/ocamltest_config.ml.in
  ocamltest/ocamltest_config.mli
  parsing/ast_mapper.ml
  runtime/caml/m.h.in
  runtime/caml/mlvalues.h
  testsuite/tests/asmcomp/staticalloc.ml
  testsuite/tests/compiler-libs/test_untypeast.ml
  typing/ctype.ml
  typing/env.ml
  typing/env.mli
  typing/parmatch.ml
  typing/persistent_env.ml
  typing/persistent_env.mli
  typing/predef.ml
  typing/predef.mli
  typing/typemod.ml
  typing/typemod.mli
  utils/Makefile
  utils/clflags.ml
  utils/clflags.mli
  utils/config.mli
  utils/config.mlp
Labels: merge-me

#10974 domain.c: use an atomic counter for domain unique ids
  runtime/domain.c
  testsuite/tests/parallel/domain_id.ml
Labels: no-change-entry-needed

#10760 Use GNU parallel for the CI testsuite runs
  tools/ci/actions/runner.sh
Labels: no-change-entry-needed

#10985 fix build of trunk with dune
  runtime/dune
  stdlib/dune
Labels: no-change-entry-needed

#10959 Fix #10907: Wrong type inferred from existential types
  Changes
  testsuite/tests/typing-gadts/pr10189.ml
  testsuite/tests/typing-gadts/pr10907.ml
  typing/ctype.ml
  typing/ctype.mli
  typing/typecore.ml
Labels: bug, merge-me

#10952 #10836: recognize unrecoverable errors in the signature inclusion check
  Changes
  testsuite/tests/typing-misc/distant_errors.ml
  typing/includemod.ml
  typing/includemod.mli
Labels: bug

#10988 Provide a default definition of cpu_relax
  runtime/caml/platform.h
Labels: no-change-entry-needed

#10994 [minor] fix multicore merge error in minor_gc.c:reallloc_generic_table
  runtime/minor_gc.c
Labels: no-change-entry-needed

#10750 Improve detection of sed for make alldepend
  Makefile.build_config.in
  stdlib/Makefile
Labels: no-change-entry-needed

#11000 fix a minor regression from #10462
  lambda/translattribute.ml
Labels: no-change-entry-needed

#11003 Adjust mmap alignment of minor heap space
  runtime/domain.c
Labels: no-change-entry-needed

#11006 CONTRIBUTING.md: list the maintainers
  .gitattributes
  CONTRIBUTING.md
Labels: no-change-entry-needed

#11011 [minor] runtime/Makefile: deduplicated C source files + diff-friendly format
  runtime/Makefile
Labels: no-change-entry-needed

#11019 remove unncessary Current_thread restore in caml_thread_enter_blocking_section
  otherlibs/systhreads/st_stubs.c
Labels: no-change-entry-needed

#10397 Specify that Unix functions not implemented on Windows raise Invalid_argument
  otherlibs/unix/unix.mli
  otherlibs/unix/unixLabels.mli
Labels: documentation

#10815 Fix documentation comments
  HACKING.adoc
  Makefile
  api_docgen/Format_tutorial.mld
  api_docgen/Makefile
  api_docgen/Makefile.common
  api_docgen/Ocaml_operators.mld
  api_docgen/ocamldoc/Makefile
  api_docgen/odoc/Makefile
  manual/src/Makefile
  parsing/ast_iterator.mli
  stdlib/bigarray.mli
  stdlib/bytes.mli
  stdlib/bytesLabels.mli
  stdlib/expand_module_aliases.awk
  stdlib/filename.mli
  stdlib/format.mli
  stdlib/gc.mli
  stdlib/hashtbl.mli
  stdlib/lexing.mli
  stdlib/map.mli
  stdlib/moreLabels.mli
  stdlib/obj.mli
  stdlib/option.mli
  stdlib/parsing.mli
  stdlib/result.mli
  stdlib/scanf.mli
  stdlib/set.mli
  stdlib/stdlib.mli
  stdlib/templates/hashtbl.template.mli
  stdlib/templates/map.template.mli
  stdlib/templates/set.template.mli
  utils/diffing.mli
  utils/local_store.mli
  utils/misc.mli
Labels: no-change-entry-needed

#11023 Careful minor heap clear in DEBUG
  runtime/caml/memory.h
  runtime/domain.c
  runtime/minor_gc.c
Labels: no-change-entry-needed

#11033 Fix test callback/test_signalhandler.ml
  testsuite/tests/callback/minor_named.mli
  testsuite/tests/callback/nested_fiber.mli
  testsuite/tests/callback/stack_overflow.mli
  testsuite/tests/callback/test1.mli
  testsuite/tests/callback/test2.mli
  testsuite/tests/callback/test3.mli
  testsuite/tests/callback/test4.mli
  testsuite/tests/callback/test5.mli
  testsuite/tests/callback/test6.mli
  testsuite/tests/callback/test7.mli
  testsuite/tests/callback/test_signalhandler.ml
  testsuite/tests/callback/test_signalhandler.mli
  testsuite/tests/callback/test_signalhandler_.c
Labels: bug, no-change-entry-needed

#11029 doc: abs does not return absolute value on min_int
  stdlib/int32.mli
  stdlib/int64.mli
  stdlib/nativeint.mli
  stdlib/stdlib.mli
  utils/targetint.mli
Labels: no-change-entry-needed

#10900 api_docgen/ocamldoc/Makefile: be portable with printf use
  api_docgen/ocamldoc/Makefile
  api_docgen/odoc/Makefile
Labels: no-change-entry-needed, merge-me

#11038 Atomic: update documentation and add institution
  stdlib/.depend
  stdlib/Compflags
  stdlib/Makefile
  stdlib/StdlibModules
  stdlib/atomic.ml
  stdlib/atomic.mli
  stdlib/camlinternalAtomic.ml
  stdlib/camlinternalAtomic.mli
  stdlib/dune
  stdlib/effect.mli
  stdlib/seq.ml
  stdlib/stdlib.ml
Labels: no-change-entry-needed

#11014 Cut polling of pending signals vector in bytecode interpreter
  runtime/caml/domain.h
  runtime/domain.c
  runtime/interp.c
  runtime/signals.c
Labels: no-change-entry-needed

#11039 Reintroduce caml_final_do_calls_exn
  runtime/caml/finalise.h
  runtime/domain.c
  runtime/finalise.c
  runtime/gc_ctrl.c
Labels: no-change-entry-needed

#11035 Fix comment about Hashtbl resizing
  stdlib/hashtbl.ml
Labels: no-change-entry-needed

#11046 minor bugfix in caml_reallocate_minor_heap
  runtime/domain.c
Labels: no-change-entry-needed

#10962 Ignore compatible --disable options in configure
  configure
  configure.ac
  ocamltest/Makefile
  ocamltest/builtin_actions.ml
  ocamltest/ocamltest_config.ml.in
  ocamltest/ocamltest_config.mli
  runtime/caml/m.h.in
  stdlib/obj.mli
  testsuite/tests/asmcomp/is_in_static_data.c
  testsuite/tests/asmcomp/is_static.ml
  testsuite/tests/asmcomp/is_static_flambda.ml
  testsuite/tests/asmcomp/is_static_flambda_dep.ml
  testsuite/tests/asmcomp/simple_float_const.ml
  testsuite/tests/asmcomp/simple_float_const_opaque.ml
  testsuite/tests/asmcomp/static_float_array_flambda.ml
  testsuite/tests/asmcomp/static_float_array_flambda_opaque.ml
  utils/Makefile
  utils/config.mlp
Labels: no-change-entry-needed

#11053 Make Hd_val a relaxed atomic load
  runtime/caml/mlvalues.h
  runtime/shared_heap.c
Labels: no-change-entry-needed

#11031 With frame-pointers, exception handlers should restore RBP
  Changes
  asmcomp/amd64/emit.mlp
Labels: bug, merge-me

#10986 Add Scanf.{s,b,}scanf_opt
  Changes
  stdlib/scanf.ml
  stdlib/scanf.mli
  testsuite/tests/lib-scanf/tscanf.ml
Labels: stdlib

#11044 Rename Effect.{eff => t}
  stdlib/effect.ml
  stdlib/effect.mli
  testsuite/tests/backtrace/backtrace_effects.ml
  testsuite/tests/backtrace/backtrace_effects_nested.ml
  testsuite/tests/callback/nested_fiber.ml
  testsuite/tests/callback/stack_overflow.ml
  testsuite/tests/callback/test7.ml
  testsuite/tests/effects/backtrace.ml
  testsuite/tests/effects/cmphash.ml
  testsuite/tests/effects/evenodd.ml
  testsuite/tests/effects/issue479.compilers.reference
  testsuite/tests/effects/issue479.ml
  testsuite/tests/effects/overflow.ml
  testsuite/tests/effects/partial.ml
  testsuite/tests/effects/reperform.ml
  testsuite/tests/effects/sched.ml
  testsuite/tests/effects/shallow_state.ml
  testsuite/tests/effects/shallow_state_io.ml
  testsuite/tests/effects/test1.ml
  testsuite/tests/effects/test10.ml
  testsuite/tests/effects/test11.ml
  testsuite/tests/effects/test2.ml
  testsuite/tests/effects/test3.ml
  testsuite/tests/effects/test4.ml
  testsuite/tests/effects/test5.ml
  testsuite/tests/effects/test6.ml
  testsuite/tests/effects/test_lazy.ml
  testsuite/tests/effects/used_cont.ml
  testsuite/tests/parallel/deadcont.ml
  testsuite/tests/parallel/mctest.ml
Labels: no-change-entry-needed

#11063 Fix the opam file after #11049
  ocaml-variants.opam
Labels: no-change-entry-needed

#11067 Remove an unused variable in alloc_async_stubs.c
  testsuite/tests/c-api/alloc_async_stubs.c
Labels: no-change-entry-needed, merge-me

#11041 Minor cleanups in effect.ml
  stdlib/.depend
  stdlib/effect.ml
Labels: no-change-entry-needed, merge-me

#11005 shell: test -a|o is not POSIX
  configure
  configure.ac
Labels: no-change-entry-needed
