Repository ocaml/ocaml, pull requests merged in 2022-01, with the labels that each got.

#10797 Fix compilation of systhreads on Visual Studio 2019 and 2022
  Changes
  aclocal.m4
  configure
  configure.ac
Labels: bug

#10853 Fix a crash in `Obj.reachable_words`
  Changes
  runtime/extern.c
  testsuite/tests/lib-obj/reachable_words_bug.ml
Labels: bug

#10855 Update pthread support detection macro
  build-aux/ax_pthread.m4
  configure
Labels: no-change-entry-needed

#10879 Rename EffectHandlers module to Effect
  manual/src/library/stdlib-blurb.etex
  stdlib/.depend
  stdlib/StdlibModules
  stdlib/effect.ml
  stdlib/effect.mli
  stdlib/stdlib.ml
  stdlib/stdlib.mli
  testsuite/tests/backtrace/backtrace_effects.ml
  testsuite/tests/backtrace/backtrace_effects_nested.ml
  testsuite/tests/callback/nested_fiber.ml
  testsuite/tests/callback/stack_overflow.ml
  testsuite/tests/callback/test7.ml
  testsuite/tests/effects/backtrace.ml
  testsuite/tests/effects/backtrace.reference
  testsuite/tests/effects/cmphash.ml
  testsuite/tests/effects/evenodd.ml
  testsuite/tests/effects/issue479.compilers.reference
  testsuite/tests/effects/issue479.ml
  testsuite/tests/effects/overflow.ml
  testsuite/tests/effects/partial.ml
  testsuite/tests/effects/reperform.ml
  testsuite/tests/effects/sched.ml
  testsuite/tests/effects/shallow_state.ml
  testsuite/tests/effects/shallow_state_io.ml
  testsuite/tests/effects/test1.ml
  testsuite/tests/effects/test10.ml
  testsuite/tests/effects/test11.ml
  testsuite/tests/effects/test2.ml
  testsuite/tests/effects/test3.ml
  testsuite/tests/effects/test4.ml
  testsuite/tests/effects/test5.ml
  testsuite/tests/effects/test6.ml
  testsuite/tests/effects/test_lazy.ml
  testsuite/tests/effects/used_cont.ml
  testsuite/tests/parallel/deadcont.ml
  testsuite/tests/parallel/mctest.ml
Labels: no-change-entry-needed

#10841 add @since on Atomic
  stdlib/atomic.mli
Labels: no-change-entry-needed, merge-me

#10848 change manual to include a subsection about 'let exception'
  manual/src/refman/expr.etex
Labels: merge-me

#10838 Fix Cmm_invariants documentation
  asmcomp/cmm_invariants.mli
Labels: no-change-entry-needed

#10881 Fix build for mingw-w64 on Jenkins
  tools/ci/inria/main
Labels: no-change-entry-needed

#10895 Fixups in sync.h
  runtime/caml/sync.h
Labels: no-change-entry-needed

#10905 opam: remove ocaml-options-nnp from depends
  ocaml-variants.opam
Labels: no-change-entry-needed

#10765 Build system: add and use the distclean target to all makefiles
  Makefile
  api_docgen/Makefile
  debugger/Makefile
  lex/Makefile
  manual/Makefile
  manual/src/Makefile
  manual/src/cmds/Makefile
  manual/src/library/Makefile
  manual/src/refman/Makefile
  manual/src/tutorials/Makefile
  manual/tests/Makefile
  manual/tools/Makefile
  ocamldoc/Makefile
  ocamltest/Makefile
  otherlibs/Makefile
  otherlibs/Makefile.otherlibs.common
  otherlibs/dynlink/Makefile
  otherlibs/systhreads/Makefile
  runtime/Makefile
  testsuite/Makefile
  testsuite/lib/Makefile
  testsuite/tools/Makefile
  tools/Makefile
  yacc/Makefile
Labels: no-change-entry-needed

#10871 Update the configure script for OCaml 5.00
  configure
  configure.ac
  tools/ci/inria/other-configs/script
Labels: no-change-entry-needed

#10903 Update data on duplicate insert to lf_skiplist
  runtime/lf_skiplist.c
Labels: no-change-entry-needed

#10928 Fix race condition on signal mask access in `domain_thread_func`
  runtime/domain.c
Labels: bug, no-change-entry-needed

#10924 Printexc.catch, Printf.kprintf, Unix.SO_ERROR: add deprecation warning
  Changes
  lex/main.ml
  otherlibs/unix/unix.mli
  otherlibs/unix/unixLabels.mli
  stdlib/printexc.mli
  stdlib/printf.mli
  testsuite/tests/lib-arg/testarg.ml
  testsuite/tests/lib-marshal/intext.ml
  testsuite/tests/misc/sorts.ml
  testsuite/tests/typing-poly-bugs/pr6922_ok.ml
  toplevel/expunge.ml
  utils/build_path_prefix_map.ml
Labels: merge-me

#10918 Add an explicit afl-fuzz test
  testsuite/tests/afl-instrumentation/afl-fuzz-test.ml
  testsuite/tests/afl-instrumentation/afl-fuzz-test.run
  testsuite/tests/afl-instrumentation/afl-showmap-test.ml
  testsuite/tests/afl-instrumentation/afl-showmap-test.run
  testsuite/tests/afl-instrumentation/has-afl-fuzz.sh
  testsuite/tests/afl-instrumentation/readline.ml
Labels: no-change-entry-needed

#10872 change domain thread name setting to be more portable and best-effort
  runtime/caml/misc.h
  runtime/domain.c
  runtime/unix.c
  runtime/win32.c
Labels: no-change-entry-needed

#10941 Add comment to document flag in Cmm
  asmcomp/cmm.mli
Labels: no-change-entry-needed

#10890 removing unused OCAMLRUNPARAM parameters from the code and from the manual
  manual/src/cmds/runtime.etex
  runtime/caml/config.h
  runtime/caml/memory.h
  runtime/caml/startup_aux.h
  runtime/gc_ctrl.c
  runtime/startup_aux.c
Labels: no-change-entry-needed

#10948 Document exception raised by read_line
  stdlib/stdlib.mli
Labels: no-change-entry-needed

#10839 fix #show regression in 4.14
  Changes
  testsuite/tests/tool-toplevel/show.ml
  toplevel/topdirs.ml
Labels: bug

#10946 Recommend using verbatim string literals for regexes
  otherlibs/str/str.mli
Labels: no-change-entry-needed

#10968 typo
  manual/src/tutorials/gadtexamples.etex
Labels: no-change-entry-needed

#10803 Release bytecode only after backtrace has been recorded
  Changes
  testsuite/tests/tool-toplevel/pr6468.compilers.reference
  testsuite/tests/tool-toplevel/pr9701.compilers.reference
  testsuite/tests/tool-toplevel/pr9701.ml
  toplevel/byte/topeval.ml
  toplevel/native/tophooks.ml
  toplevel/toploop.ml
Labels: bug, merge-me
