Repository ocaml/ocaml, pull requests merged in 2022-08, with the labels that each got.

#11143 Test 32-bit build in GitHub Actions
  .github/workflows/build.yml
  tools/ci/actions/runner.sh
Labels: no-change-entry-needed

#11466 Fix gethostbyaddr for IPv6 arguments, continued
  Changes
  otherlibs/unix/gethost.c
  testsuite/tests/lib-unix/common/gethostbyaddr.ml
Labels: bug

#11469 runtime_events.h: fix RUNTIME_EVENTS_ITEM_IS_RUNTIME and RUNTIME_EVENTS_ITEM_IS_USER macros
  runtime/caml/runtime_events.h
Labels: no-change-entry-needed

#11470 Github Actions: Move manual changes logic earlier in the build process
  .github/workflows/build.yml
  tools/ci/actions/check-manual-modified.sh
Labels: no-change-entry-needed

#11472 Fix CAML_INTERNALS guard in atomic_refcount.h
  runtime/caml/atomic_refcount.h
Labels: no-change-entry-needed

#11475 Make Unix terminal interface bindings domain-safe
  Changes
  otherlibs/unix/termios.c
Labels: merge-me

#11493 Fix an example in the Scanf documentation
  stdlib/scanf.mli
Labels: no-change-entry-needed

#11500 Manually unbox closure in `Hashtbl.mem`
  Changes
  stdlib/hashtbl.ml
  testsuite/tests/backtrace/backtrace2.reference
Labels: merge-me

#11496 More prudent deallocation of alternate signal stack
  Changes
  otherlibs/systhreads/st_stubs.c
  runtime/caml/signals.h
  runtime/signals_byt.c
  runtime/signals_nat.c
Labels: bug

#11505 Make polling_insertion more robust
  testsuite/tests/asmcomp/polling_insertion.ml
Labels: no-change-entry-needed

#11507 lambda/switch.ml: fix typo
  lambda/switch.ml
Labels: no-change-entry-needed

#11498 Disable warning 66 (unused-open-bang) locally rather than globally
  Makefile
  asmcomp/amd64/scheduling.ml
  asmcomp/arm64/scheduling.ml
  asmcomp/i386/scheduling.ml
  asmcomp/riscv/scheduling.ml
  otherlibs/dynlink/Makefile
Labels: no-change-entry-needed

#11349 Runtime events docs
  manual/README.md
  manual/src/allfiles.etex
  manual/src/cmds/Makefile
  manual/src/cmds/instrumented-runtime.etex
  manual/src/cmds/runtime-tracing.etex
  manual/src/cmds/runtime.etex
  manual/src/library/Makefile
  manual/src/library/libruntime_events.etex
  otherlibs/runtime_events/runtime_events.mli
  otherlibs/runtime_events/runtime_events_consumer.h
  runtime/caml/runtime_events.h
Labels: no-change-entry-needed, documentation

#11497 Revised treatment of alternate stacks for signal handing
  otherlibs/systhreads/st_stubs.c
  runtime/caml/signals.h
  runtime/domain.c
  runtime/fail_byt.c
  runtime/fail_nat.c
  runtime/signals.c
  runtime/startup_aux.c
  runtime/startup_byt.c
  runtime/startup_nat.c
  runtime/sys.c
  testsuite/tests/unwind/unwind_test.reference
Labels: bug

#11511 Fix two undefined usages of `caml_secure_getenv`
  runtime/runtime_events.c
  runtime/startup_aux.c
Labels: no-change-entry-needed

#11027 Separate typing of counter-examples from `type_pat`
  .depend
  Changes
  typing/parmatch.ml
  typing/parmatch.mli
  typing/typecore.ml
Labels: no-change-entry-needed

#11521 fix unix dune build
  otherlibs/unix/dune
Labels: no-change-entry-needed
