Repository ocaml/ocaml, pull requests merged in 2022-05, with the labels that each got.

#11212 Add missing @since annotation to Gc.eventlog_resume / Fix annotation @since to Effect to 5.0.0 rather than 5.00.0
  stdlib/effect.mli
  stdlib/gc.mli
Labels: no-change-entry-needed

#11233 stdlib audit: make gc alarms atomic
  stdlib/gc.ml
Labels: no-change-entry-needed

#11218 Fix source-code references in the backend files
  Makefile
  asmcomp/amd64/CSE.ml
  asmcomp/amd64/arch.ml
  asmcomp/amd64/emit.mlp
  asmcomp/amd64/reload.ml
  asmcomp/amd64/scheduling.ml
  asmcomp/amd64/selection.ml
  asmcomp/arm/CSE.ml
  asmcomp/arm/arch.ml
  asmcomp/arm/emit.mlp
  asmcomp/arm/proc.ml
  asmcomp/arm/reload.ml
  asmcomp/arm/scheduling.ml
  asmcomp/arm/selection.ml
  asmcomp/arm64/CSE.ml
  asmcomp/arm64/arch.ml
  asmcomp/arm64/emit.mlp
  asmcomp/arm64/proc.ml
  asmcomp/arm64/reload.ml
  asmcomp/arm64/scheduling.ml
  asmcomp/arm64/selection.ml
  asmcomp/i386/CSE.ml
  asmcomp/i386/arch.ml
  asmcomp/i386/emit.mlp
  asmcomp/i386/reload.ml
  asmcomp/i386/scheduling.ml
  asmcomp/i386/selection.ml
  asmcomp/power/CSE.ml
  asmcomp/power/arch.ml
  asmcomp/power/emit.mlp
  asmcomp/power/proc.ml
  asmcomp/power/reload.ml
  asmcomp/power/scheduling.ml
  asmcomp/power/selection.ml
  asmcomp/riscv/CSE.ml
  asmcomp/riscv/arch.ml
  asmcomp/riscv/emit.mlp
  asmcomp/riscv/proc.ml
  asmcomp/riscv/reload.ml
  asmcomp/riscv/scheduling.ml
  asmcomp/riscv/selection.ml
  asmcomp/s390x/CSE.ml
  asmcomp/s390x/arch.ml
  asmcomp/s390x/emit.mlp
  asmcomp/s390x/proc.ml
  asmcomp/s390x/reload.ml
  asmcomp/s390x/scheduling.ml
  asmcomp/s390x/selection.ml
Labels: no-change-entry-needed

#11217 Limit bit-rot in the disabled backends
  asmcomp/arm/emit.mlp
  asmcomp/arm/proc.ml
  asmcomp/arm/scheduling.ml
  asmcomp/arm/selection.ml
  asmcomp/i386/CSE.ml
  asmcomp/i386/emit.mlp
  asmcomp/i386/selection.ml
  asmcomp/power/emit.mlp
  asmcomp/power/scheduling.ml
  asmcomp/riscv/emit.mlp
  asmcomp/s390x/emit.mlp
  asmcomp/s390x/scheduling.ml
Labels: no-change-entry-needed

#11228 stdlib audit: inheritable DLS for configurable options
  stdlib/filename.ml
  stdlib/filename.mli
  stdlib/hashtbl.ml
  stdlib/hashtbl.mli
  stdlib/moreLabels.mli
  stdlib/templates/hashtbl.template.mli
Labels: no-change-entry-needed

#11180 Fix "inconsistent assumptions over interface Dynlink_compilerlibs" when working on the compiler
  otherlibs/dynlink/Makefile
Labels: no-change-entry-needed

#11231 Fix dune stanza for stdlib: change of name
  stdlib/dune
Labels: no-change-entry-needed

#11234 Build system: use C preprocessor flags more consistently
  Makefile.config.in
  ocamltest/Makefile
  ocamltest/run_stubs.c
  ocamltest/run_unix.c
  ocamltest/run_win32.c
  otherlibs/Makefile.otherlibs.common
  otherlibs/systhreads/Makefile
  stdlib/Makefile
  yacc/Makefile
Labels: no-change-entry-needed

#11189 runtime: scan all native roots
  runtime/dynlink_nat.c
  runtime/globroots.c
  runtime/roots.c
Labels: no-change-entry-needed

#11236 Add missing @since annotation to Gc.eventlog_pause
  stdlib/gc.mli
Labels: no-change-entry-needed

#11240 Simplify runtime/Makefile
  Makefile.build_config.in
  Makefile.common
  Makefile.config.in
  configure
  configure.ac
  otherlibs/systhreads/Makefile
  runtime/Makefile
  stdlib/Makefile
  testsuite/tools/Makefile
  yacc/Makefile
Labels: no-change-entry-needed

#11219 Tidy-up the sigmask code in domain.c
  runtime/domain.c
Labels: no-change-entry-needed

#11244 hygiene fix in weaklifetime_par.ml
  testsuite/tests/weak-ephe-final/weaklifetime_par.ml
Labels: no-change-entry-needed

#11249 Fix `stat_has_ns_precision` configure check
  configure
  configure.ac
Labels: no-change-entry-needed

#11248 Merge runtime/Makefile in the root Makefile
  .gitignore
  Makefile
  Makefile.build_config.in
  Makefile.common
  otherlibs/Makefile.otherlibs.common
  otherlibs/systhreads/Makefile
  runtime/Makefile
  runtime/gen_primitives.sh
Labels: no-change-entry-needed

#10413 Clarify and fix construction of MKEXE in configure
  Makefile
  Makefile.build_config.in
  Makefile.common
  Makefile.config.in
  configure
  configure.ac
  stdlib/Makefile
  testsuite/Makefile
  utils/Makefile
  utils/config.mlp
Labels: no-change-entry-needed

#11256 Eliminate $(BOOT_FLEXLINK_CMD)
  Makefile
  Makefile.common
  ocamltest/Makefile
  ocamltest/ocamltest_config.ml.in
  utils/Makefile
Labels: no-change-entry-needed

#11250 Simplify systhreads thread-local state management
  otherlibs/systhreads/st_stubs.c
Labels: no-change-entry-needed

#11259 Allow `configure` to generate OCaml quoted strings
  aclocal.m4
  configure
  configure.ac
Labels: no-change-entry-needed

#11254 Expand more variables at configure time
  Makefile.build_config.in
  Makefile.common
  Makefile.config.in
  configure
  configure.ac
  ocamltest/Makefile
  ocamltest/ocamltest_config.ml.in
  tools/ocamlmklib.ml
  utils/Makefile
  utils/config.mlp
Labels: no-change-entry-needed

#11260 configure: fix Windows build when flexlink is not bootstrapped
  configure
  configure.ac
Labels: no-change-entry-needed

#11247 Remove unnecessary loop in lock-free skiplist remove function
  runtime/lf_skiplist.c
Labels: no-change-entry-needed

#11263 misc.h: fix preprocessor conditional on _MSC_VER
  runtime/caml/misc.h
Labels: no-change-entry-needed

#11171 Fix or document concurrency issues on channels in Multicore
  runtime/io.c
  stdlib/in_channel.mli
Labels: merge-me

#11251 stdlib audit: fix race on channel list
  runtime/io.c
  testsuite/tests/lib-channels/refcounting.ml
Labels: no-change-entry-needed

#11274 protect Max_domains with CAML_INTERNALS
  runtime/caml/config.h
  runtime/caml/domain.h
Labels: no-change-entry-needed, merge-me

#11273 Add a unique identifier for fibers
  runtime/caml/config.h
  runtime/caml/fiber.h
  runtime/fiber.c
Labels: no-change-entry-needed

#11277 Ensure Makefile.build_config is only loaded once
  Makefile.build_config.in
  Makefile.config_if_required
Labels: no-change-entry-needed
