Repository ocaml/ocaml, pull requests merged in 2022-04, with the labels that each got.

#11153 ocamltest: keep debug information for all C files
  ocamltest/Makefile
Labels: no-change-entry-needed

#11151 Avoid Fun.id and use "fun" if no pattern matching
  manual/src/tutorials/coreexamples.etex
  manual/src/tutorials/objectexamples.etex
  stdlib/stdLabels.mli
Labels: no-change-entry-needed

#11158 Factor out reading `OCAMLTOP_INCLUDE_PATH` in ocaml/ocamlnat
  .depend
  toplevel/byte/topmain.ml
  toplevel/native/topmain.ml
  toplevel/topcommon.ml
  toplevel/topcommon.mli
Labels: no-change-entry-needed

#11058 runtime/HACKING.adoc: tips on debugging the runtime
  .gitattributes
  Changes
  HACKING.adoc
  runtime/HACKING.adoc
Labels: merge-me

#11159 Make Domain.t injective
  stdlib/domain.mli
  testsuite/tests/lib-domain/type_injectivity.ml
  testsuite/tests/lib-domain/type_injectivity.reference
Labels: no-change-entry-needed

#11093 Effects manual
  Changes
  manual/README.md
  manual/src/library/stdlib-blurb.etex
  manual/src/refman/Makefile
  manual/src/refman/exten.etex
  manual/src/refman/extensions/effects.etex
Labels: merge-me

#11168 A couple small clarifications in the documentation of Random
  stdlib/random.mli
Labels: no-change-entry-needed, merge-me

#11170 Remove some trivial dead code in Closure_conversion_aux.Env
  middle_end/flambda/closure_conversion_aux.ml
  middle_end/flambda/closure_conversion_aux.mli
Labels: no-change-entry-needed

#8878 Add String.hash and String.seeded_hash
  Changes
  runtime/hash.c
  stdlib/string.ml
  stdlib/string.mli
  stdlib/stringLabels.mli
  testsuite/tests/lib-hashtbl/htbl.ml
  testsuite/tests/lib-hashtbl/htbl.reference
  testsuite/tests/lib-string/test_string.ml
  testsuite/tests/lib-string/test_string.reference
Labels: stdlib

#11175 Revise the documentation of Domain
  stdlib/domain.mli
Labels: no-change-entry-needed

#11179 explain the behavior and implementation of Ident.tbl
  typing/ident.ml
  typing/ident.mli
Labels: no-change-entry-needed

#11095 Implement quality treatment for asynchronous actions in multicore (1/N)
  otherlibs/systhreads/st_pthreads.h
  otherlibs/systhreads/st_stubs.c
  runtime/caml/domain.h
  runtime/caml/domain_state.tbl
  runtime/caml/signals.h
  runtime/domain.c
  runtime/memprof.c
  runtime/minor_gc.c
  runtime/signals.c
  runtime/signals_nat.c
  testsuite/tests/parallel/poll.ml
Labels: no-change-entry-needed

#11197 Remove unnecessary linking on unix library in parallel tests
  testsuite/tests/parallel/atomics.ml
  testsuite/tests/parallel/constpromote.ml
  testsuite/tests/parallel/deadcont.ml
  testsuite/tests/parallel/domain_dls.ml
  testsuite/tests/parallel/domain_dls2.ml
  testsuite/tests/parallel/domain_id.ml
  testsuite/tests/parallel/domain_parallel_spawn_burn.ml
  testsuite/tests/parallel/domain_parallel_spawn_burn_gc_set.ml
  testsuite/tests/parallel/join.ml
  testsuite/tests/parallel/pingpong.ml
  testsuite/tests/parallel/prodcons_domains.ml
Labels: no-change-entry-needed

#11201 Make finaliser2 test deterministic
  testsuite/tests/weak-ephe-final/finaliser2.ml
  testsuite/tests/weak-ephe-final/finaliser2.reference
Labels: no-change-entry-needed

#11196 Simplify Domain.join
  runtime/domain.c
  stdlib/.depend
  stdlib/domain.ml
  stdlib/domain.mli
  testsuite/tests/parallel/join.ml
Labels: no-change-entry-needed

#11214 Delay releasing joining domains
  runtime/domain.c
  stdlib/domain.ml
Labels: no-change-entry-needed

#11222 Improve the documentation of List and ListLabels
  stdlib/list.mli
  stdlib/listLabels.mli
Labels: no-change-entry-needed
