Repository ocaml/ocaml, pull requests merged in 2022-09, with the labels that each got.

#11223 Improve error message when unmarshalling using old custom block format
  Changes
  runtime/caml/intext.h
  runtime/intern.c
Labels: merge-me

#11510 Manual grammar fixes
  manual/src/tutorials/coreexamples.etex
  manual/src/tutorials/gadtexamples.etex
  manual/src/tutorials/lablexamples.etex
  manual/src/tutorials/moduleexamples.etex
  manual/src/tutorials/objectexamples.etex
  manual/src/tutorials/polymorphism.etex
  manual/src/tutorials/polyvariant.etex
Labels: no-change-entry-needed

#11528 Restore consistency between `caml_main` and `caml_startup_code_exn`
  runtime/startup_byt.c
Labels: no-change-entry-needed

#11535 Promise that Array.init calls function in order
  stdlib/array.mli
  stdlib/arrayLabels.mli
Labels: no-change-entry-needed

#11420 Merge lex/Makefile into the root Makefile
  .depend
  .gitignore
  Makefile
  Makefile.build_config.in
  Makefile.common
  configure
  configure.ac
  debugger/Makefile
  lex/.depend
  lex/Makefile
  ocamldoc/Makefile
  testsuite/tools/Makefile
Labels: no-change-entry-needed

#11268 Merge utils/Makefile into the root Makefile
  .depend
  .gitignore
  Makefile
  Makefile.build_config.in
  Makefile.common
  Makefile.config.in
  configure
  configure.ac
  ocamltest/Makefile
  ocamltest/ocamltest_config.ml.in
  utils/Makefile
  utils/config.generated.ml.in
  utils/config.mlp
Labels: no-change-entry-needed

#11537 Fix flexlink flags passed when creating DLLs
  Makefile.config.in
  configure
  configure.ac
  utils/config.generated.ml.in
Labels: no-change-entry-needed

#11540 Stop passing -safe-string when building the compiler and in the testsuite
  Makefile.build_config.in
  debugger/Makefile
  manual/src/cmds/intf-c.etex
  ocamldoc/Makefile
  ocamltest/Makefile
  otherlibs/Makefile.otherlibs.common
  otherlibs/dynlink/Makefile
  otherlibs/systhreads/Makefile
  testsuite/tests/lib-unix/win-env/test_env.ml
  testsuite/tests/typing-safe-linking/b_bad.ml
  testsuite/tests/win-unicode/mltest.ml
  tools/Makefile
  typing/ctype.ml
Labels: no-change-entry-needed

#1391 Add an early error when compiling different modules with mismatching -for-pack
  Changes
  asmcomp/asmpackager.ml
  file_formats/cmx_format.mli
  middle_end/compilenv.ml
  middle_end/compilenv.mli
  testsuite/tests/lib-dynlink-native/main.ml
  testsuite/tests/lib-dynlink-native/packed1_client.ml
  tools/objinfo.ml
Labels: high-priority

#11546 rename create_domain into domain_create
  runtime/domain.c
Labels: no-change-entry-needed

#11549 Remove utils/config.generated.ml during distclean
  Makefile
Labels: no-change-entry-needed

#11551 Fix ocamltest built without unix
  configure
  configure.ac
  testsuite/tests/lib-filename/quotecommand.ml
  testsuite/tests/tool-caml-tex/ellipses.ml
  testsuite/tests/tool-caml-tex/redirections.ml
Labels: no-change-entry-needed

#11545 recommended_domain_count: unit -> int
  Changes
  stdlib/domain.ml
  stdlib/domain.mli
  testsuite/tests/parallel/recommended_domain_count.ml
  testsuite/tests/parallel/recommended_domain_count_unix.ml
Labels: merge-me

#11553 Update frame-pointers test reference files
  testsuite/tests/frame-pointers/c_call.reference
  testsuite/tests/frame-pointers/effects.reference
  testsuite/tests/frame-pointers/exception_handler.reference
  testsuite/tests/frame-pointers/reperform.reference
  testsuite/tests/frame-pointers/stack_realloc.reference
  testsuite/tests/frame-pointers/stack_realloc2.reference
Labels: no-change-entry-needed

#11555 Move `Is_young` back to `<caml/address_class.h>` and export it
  runtime/caml/address_class.h
  runtime/caml/domain.h
  runtime/caml/minor_gc.h
  runtime/caml/mlvalues.h
Labels: bug, no-change-entry-needed

#11556 documentation: fix typos
  otherlibs/unix/unix.mli
  stdlib/string.mli
  stdlib/stringLabels.mli
  tools/sync_stdlib_docs
Labels: no-change-entry-needed

#11552 caml_make_float_vect in no-flat-float array: use static allocation
  Changes
  runtime/array.c
Labels: bug

#11562 manual: ocamlyacc parsers are not thread-safe
  manual/src/cmds/lexyacc.etex
Labels: no-change-entry-needed

#11567 Add ability to bootstrap flexdll on Jenkins Windows workers
  tools/ci/inria/main
Labels: no-change-entry-needed

#11541 Make tests on boolean build variables more readable
  .gitattributes
  .gitignore
  Makefile
  Makefile.build_config.in
  Makefile.common
  Makefile.config.in
  api_docgen/Makefile.docfiles
  configure
  configure.ac
  manual/README.md
  manual/src/cmds/Makefile
  manual/src/refman/Makefile
  manual/src/tutorials/Makefile
  ocamltest/ocamltest_config.ml.in
  otherlibs/systhreads/Makefile
  testsuite/tests/tool-caml-tex/ellipses.ml
  testsuite/tests/tool-caml-tex/redirections.ml
  tools/.depend
  tools/Makefile
  tools/ocamltex.ml
Labels: no-change-entry-needed

#11577 Correct CAMLextern in headers
  runtime/caml/backtrace_prim.h
  runtime/caml/fiber.h
  runtime/caml/signals.h
  testsuite/tests/lf_skiplist/stubs.c
Labels: no-change-entry-needed

#11575 Correct letter case of MinGW and MinGW-w64
  INSTALL.adoc
  README.adoc
  README.win32.adoc
  configure
  configure.ac
  stdlib/sys.mli
Labels: no-change-entry-needed

#11389 Appveyor tests
  appveyor.yml
  ocamltest/ocaml_tests.ml
  testsuite/Makefile
  tools/ci/appveyor/appveyor_build.sh
Labels: no-change-entry-needed

#11582 Update frame-pointers test reference files once more; with feeling
  testsuite/tests/frame-pointers/c_call.reference
  testsuite/tests/frame-pointers/effects.reference
  testsuite/tests/frame-pointers/exception_handler.reference
  testsuite/tests/frame-pointers/filter-locations.sh
  testsuite/tests/frame-pointers/reperform.reference
  testsuite/tests/frame-pointers/stack_realloc.reference
  testsuite/tests/frame-pointers/stack_realloc2.reference
Labels: no-change-entry-needed

#11584 FFI documentation: do not use naked pointers in examples
  manual/src/cmds/intf-c.etex
Labels: no-change-entry-needed, documentation
