Repository ocaml/ocaml, pull requests merged in 2022-03, with the labels that each got.

#11032 Dynlink library: use a global lock
  .gitattributes
  Changes
  otherlibs/dynlink/byte/dynlink.ml
  otherlibs/dynlink/dynlink_common.ml
  otherlibs/dynlink/dynlink_platform_intf.ml
  otherlibs/dynlink/native/dynlink.ml
  testsuite/tests/backtrace/backtrace_dynlink.flambda.reference
  testsuite/tests/backtrace/backtrace_dynlink.reference
  testsuite/tests/lib-dynlink-domains/Plugin_0.ml
  testsuite/tests/lib-dynlink-domains/Plugin_0_0.ml
  testsuite/tests/lib-dynlink-domains/Plugin_0_0_0.ml
  testsuite/tests/lib-dynlink-domains/Plugin_0_0_0_0.ml
  testsuite/tests/lib-dynlink-domains/Plugin_0_0_0_1.ml
  testsuite/tests/lib-dynlink-domains/Plugin_0_0_0_2.ml
  testsuite/tests/lib-dynlink-domains/Plugin_1.ml
  testsuite/tests/lib-dynlink-domains/Plugin_1_0.ml
  testsuite/tests/lib-dynlink-domains/Plugin_1_0_0.ml
  testsuite/tests/lib-dynlink-domains/Plugin_1_0_0_0.ml
  testsuite/tests/lib-dynlink-domains/Plugin_1_1.ml
  testsuite/tests/lib-dynlink-domains/Plugin_1_2.ml
  testsuite/tests/lib-dynlink-domains/Plugin_1_2_0.ml
  testsuite/tests/lib-dynlink-domains/Plugin_1_2_0_0.ml
  testsuite/tests/lib-dynlink-domains/Plugin_1_2_1.ml
  testsuite/tests/lib-dynlink-domains/Plugin_1_2_2.ml
  testsuite/tests/lib-dynlink-domains/Plugin_1_2_2_0.ml
  testsuite/tests/lib-dynlink-domains/Plugin_1_2_3.ml
  testsuite/tests/lib-dynlink-domains/Plugin_1_2_3_0.ml
  testsuite/tests/lib-dynlink-domains/main.ml
  testsuite/tests/lib-dynlink-domains/main.reference
  testsuite/tests/lib-dynlink-domains/store.ml
  testsuite/tests/lib-dynlink-domains/test_generator.ml
  testsuite/tests/lib-dynlink-initializers/test10_main.byte.reference
  testsuite/tests/lib-dynlink-initializers/test10_main.native.reference
Labels: merge-me

#11078 Relax caml_initialize assertion in the debug runtime
  runtime/memory.c
Labels: no-change-entry-needed

#10989 Download GNU parallel directly from git
  tools/ci/appveyor/appveyor_build.sh
Labels: no-change-entry-needed

#11084 Disable test_cow_repeated in the lib-dynlink-private testcase when running with the debug runtime.
  testsuite/tests/lib-dynlink-private/test.ml
Labels: no-change-entry-needed

#11086 Fix mistaken tag following #11002
  otherlibs/systhreads/st_posix.h
  otherlibs/systhreads/st_stubs.c
Labels: no-change-entry-needed

#10987 Readability improvements around instance_constructor
  typing/ctype.ml
  typing/ctype.mli
  typing/typecore.ml
  typing/typedecl.ml
Labels: no-change-entry-needed

#11083 documentation: fixes and improved signal/noise ratio
  api_docgen/ocamldoc/Makefile
  stdlib/hashtbl.mli
  stdlib/map.mli
  stdlib/moreLabels.mli
  stdlib/obj.mli
  stdlib/random.mli
  stdlib/set.mli
  stdlib/string.mli
  stdlib/stringLabels.mli
  stdlib/templates/hashtbl.template.mli
  stdlib/templates/map.template.mli
  stdlib/templates/set.template.mli
  utils/local_store.mli
Labels: no-change-entry-needed

#10143 Improve the definition and usage of the diff command
  Makefile.build_config.in
  configure
  configure.ac
  ocamltest/.depend
  ocamltest/Makefile
  ocamltest/filecompare.ml
  ocamltest/ocamltest_config.ml.in
  ocamltest/ocamltest_config.mli
Labels: no-change-entry-needed

#11072 domain.c: document the STW synchronization code
  runtime/domain.c
Labels: no-change-entry-needed, merge-me

#11111 fix `fork()` usage in ocamltest
  Changes
  ocamltest/Makefile
  ocamltest/run_unix.c
Labels: bug, merge-me

#11118 Fix bigarray 32bit interger overflow of offset in C imp.
  Changes
  runtime/bigarray.c
Labels: bug

#10908 Fix possible race in caml_mem_map on Windows
  runtime/platform.c
Labels: no-change-entry-needed

#11116 Fix tool-dumpobj test on Windows
  testsuite/tests/tool-dumpobj/test.run
Labels: no-change-entry-needed

#11088 summarize.awk: should fail when ocamltest result is not understood
  testsuite/summarize.awk
Labels: no-change-entry-needed

#10991 Use zstd for CI artifacts upload and download
  .github/workflows/build.yml
Labels: no-change-entry-needed

#10958 Only rebuild `flexlink.exe` when sources change
  Makefile
Labels: no-change-entry-needed

#11115 Fix performance regression in systhreads on Windows
  otherlibs/systhreads/st_posix.h
  otherlibs/systhreads/st_pthreads.h
  otherlibs/systhreads/st_stubs.c
  otherlibs/systhreads/st_win32.h
  runtime/sync.c
  runtime/sync_posix.h
Labels: no-change-entry-needed

#11132 Fixing typos
  manual/src/cmds/unified-options.etex
  middle_end/flambda/closure_conversion.ml
  otherlibs/systhreads/st_stubs.c
  runtime/arm64.S
  runtime/caml/fiber.h
  runtime/domain.c
  runtime/intern.c
  runtime/lf_skiplist.c
  runtime/memory.c
  runtime/signals_nat.c
  stdlib/bytes.ml
  testsuite/tests/effects/test2.ml
  testsuite/tests/effects/test2.reference
  testsuite/tests/lib-random/parallel.ml
  testsuite/tests/memory-model/opt.ml
  testsuite/tests/memory-model/opt.mli
  testsuite/tests/memory-model/publish.ml
  testsuite/tests/memory-model/run.ml
  testsuite/tests/tool-ocamldoc/Alerts_impl.html.reference
  testsuite/tests/tool-ocamldoc/Alerts_impl.ml
  typing/typecore.ml
Labels: no-change-entry-needed

#11107 `odoc`ify the parsetree comments
  Changes
  parsing/asttypes.mli
  parsing/parsetree.mli
Labels: no-change-entry-needed, merge-me

#11082 Reserve only caml_minor_heap_max_wsz * Max_domains for the minor heap
  runtime/caml/config.h
  runtime/caml/domain.h
  runtime/caml/eventlog.h
  runtime/caml/mlvalues.h
  runtime/domain.c
  runtime/gc_ctrl.c
  stdlib/gc.mli
  testsuite/tests/parallel/domain_parallel_spawn_burn_gc_set.ml
  testsuite/tests/parallel/domain_parallel_spawn_burn_gc_set.reference
  tools/eventlog_metadata.in
Labels: no-change-entry-needed

#11141 Fix 32-bit build
  runtime/gc_ctrl.c
Labels: no-change-entry-needed

#11140 Enable native code on illumos (Solaris) x86_64
  configure
  configure.ac
Labels: no-change-entry-needed

#11135 documentation: update News for 4.14.0 release
  release-info/News
Labels: no-change-entry-needed
