Repository ocaml/ocaml, pull requests merged in 2022-10, with the labels that each got.

#11592 Fix `make promote-menhir`
  Makefile.menhir
Labels: no-change-entry-needed

#11280 Manual chapters on parallelism and memory model
  Changes
  driver/main_args.ml
  lambda/translmod.ml
  manual/src/allfiles.etex
  manual/src/library/libthreads.etex
  manual/src/tutorials/Makefile
  manual/src/tutorials/memorymodel.etex
  manual/src/tutorials/parallelism.etex
  testsuite/tests/basic-modules/recursive_module_evaluation_errors.ml
  testsuite/tests/typing-warnings/ambiguous_guarded_disjunction.ml
  testsuite/tests/warnings/w52.ml
  utils/warnings.ml
Labels: documentation

#11385 Simplifications and fixes to multicore systhreads implementation (2/3)
  otherlibs/systhreads/st_stubs.c
  otherlibs/systhreads/thread.ml
Labels: no-change-entry-needed

#11597 manual: no more master lock
  manual/src/cmds/intf-c.etex
  otherlibs/systhreads/threads.h
Labels: no-change-entry-needed

#11602 Probable bug in runtime/debugger interface + some C cleanups
  runtime/caml/atomic_refcount.h
  runtime/debugger.c
  runtime/shared_heap.c
Labels: bug, no-change-entry-needed

#11607 Temporarily disable the lib-dynlink-domains test on Windows
  testsuite/tests/lib-dynlink-domains/main.ml
  testsuite/tests/lib-dynlink-domains/test_generator.ml
Labels: no-change-entry-needed

#11598 Simpler handling of `caml_state` on macOS and MinGW
  Makefile
  configure
  configure.ac
  runtime/caml/domain_state.h
  runtime/caml/s.h.in
  runtime/domain.c
  runtime/startup_byt.c
  runtime/startup_nat.c
Labels: no-change-entry-needed

#11586 Remove dependency on libwinpthread-1.dll and GCC runtime library for mingw-w64 ports
  Makefile.config.in
  configure
  configure.ac
  otherlibs/str/Makefile
  otherlibs/systhreads/Makefile
  otherlibs/systhreads/st_stubs.c
  tools/ci/appveyor/appveyor_build.sh
  tools/ci/inria/main
Labels: no-change-entry-needed

#11621 Remove unused `#define Context_needs_padding` from `stack.h`
  runtime/caml/stack.h
Labels: no-change-entry-needed

#11624 Fix typo in lf_skiplist.c
  runtime/lf_skiplist.c
Labels: no-change-entry-needed

#11617 Improve the way ignored files are managed
  .gitignore
  Makefile
  manual/src/.gitignore
  manual/src/Makefile
  manual/src/cmds/.gitignore
  manual/src/html_processing/.gitignore
  manual/src/htmlman/.gitignore
  manual/src/infoman/.gitignore
  manual/src/library/.gitignore
  manual/src/refman/.gitignore
  manual/src/texstuff/.gitignore
  manual/src/textman/.gitignore
  manual/src/tutorials/.gitignore
  manual/tests/.gitignore
  manual/tools/.gitignore
  testsuite/tests/no-alias-deps/aliases.compilers.reference
  testsuite/tests/no-alias-deps/aliases.ml
  testsuite/tests/no-alias-deps/b.cmi.in
Labels: no-change-entry-needed

#11627 Use return values instead of globals for linear scan intervals
  .depend
  Changes
  asmcomp/asmgen.ml
  asmcomp/interval.ml
  asmcomp/interval.mli
  asmcomp/linscan.ml
  asmcomp/linscan.mli
  asmcomp/printmach.ml
  asmcomp/printmach.mli
Labels: merge-me

#11632 Fix incorrect size in `free_minor_heap`
  runtime/domain.c
Labels: no-change-entry-needed

#11639 Restore `SYSTEM`, `ARCH` and `MODEL` information for bytecode-only architectures
  configure
  configure.ac
Labels: no-change-entry-needed

#11559 documentation: fixed labelled arguments
  stdlib/bytes.mli
  stdlib/bytesLabels.mli
  stdlib/hashtbl.mli
  stdlib/moreLabels.mli
  stdlib/templates/hashtbl.template.mli
Labels: no-change-entry-needed

#11644 Correct bootstrap versions of `MKDLL` and `MKMAINDLL`
  configure
  configure.ac
  utils/config.generated.ml.in
Labels: no-change-entry-needed

#11631 Fix ephemeron assertion by allowing for data values that are in the minor heap
  runtime/weak.c
Labels: no-change-entry-needed

#11367 Two Windows post-10831 clean-ups
  configure
  configure.ac
  runtime/win32.c
Labels: no-change-entry-needed

#11641 Update lintapidiff
  .gitignore
  tools/lintapidiff.ml
Labels: no-change-entry-needed

#11671 fix a top_heap_words bug in GC statistics
  runtime/gc_stats.c
Labels: no-change-entry-needed

#10464 stdlib: add `List.is_empty`
  Changes
  stdlib/list.ml
  stdlib/list.mli
  stdlib/listLabels.mli
  testsuite/tests/lib-list/test.ml
  testsuite/tests/translprim/comparison_table.compilers.reference
Labels: stdlib

#11683 Remove all ".0" revision numbers from `@since`, `@before` and `@after`
  ocamldoc/odoc_info.mli
  otherlibs/unix/unix.mli
  otherlibs/unix/unixLabels.mli
  stdlib/arg.mli
  stdlib/array.mli
  stdlib/arrayLabels.mli
  stdlib/bigarray.mli
  stdlib/bool.mli
  stdlib/buffer.mli
  stdlib/bytes.mli
  stdlib/bytesLabels.mli
  stdlib/char.mli
  stdlib/digest.mli
  stdlib/ephemeron.mli
  stdlib/filename.mli
  stdlib/float.mli
  stdlib/format.mli
  stdlib/gc.mli
  stdlib/hashtbl.mli
  stdlib/in_channel.mli
  stdlib/int.mli
  stdlib/int32.mli
  stdlib/int64.mli
  stdlib/lazy.mli
  stdlib/lexing.mli
  stdlib/list.mli
  stdlib/listLabels.mli
  stdlib/map.mli
  stdlib/marshal.mli
  stdlib/moreLabels.mli
  stdlib/nativeint.mli
  stdlib/obj.mli
  stdlib/out_channel.mli
  stdlib/parsing.mli
  stdlib/printexc.mli
  stdlib/printf.mli
  stdlib/random.mli
  stdlib/scanf.mli
  stdlib/set.mli
  stdlib/stack.mli
  stdlib/stdlib.mli
  stdlib/string.mli
  stdlib/stringLabels.mli
  stdlib/sys.mli
  stdlib/templates/float.template.mli
  stdlib/templates/floatarraylabeled.template.mli
  stdlib/templates/hashtbl.template.mli
  stdlib/templates/map.template.mli
  stdlib/templates/set.template.mli
  stdlib/uchar.mli
  tools/check-typo
  utils/config.mli
  utils/misc.mli
Labels: no-change-entry-needed
