Repository ocaml/ocaml, pull requests merged in 2022-11, with the labels that each got.

#11665 [code readability] update ctype instantiation comments and variable names
  typing/ctype.ml
Labels: no-change-entry-needed

#11301 manual: mention the new location for otherlibs
  manual/src/library/Makefile
  manual/src/library/libdynlink.etex
  manual/src/library/libstr.etex
  manual/src/library/libthreads.etex
  manual/src/library/libunix.etex
Labels: no-change-entry-needed

#11688 Fix manual build from #11301
  manual/src/library/Makefile
Labels: no-change-entry-needed

#11697 better pretty-printing of module shapes
  testsuite/tests/shapes/comp_units.ml
  testsuite/tests/shapes/functors.ml
  testsuite/tests/shapes/recmodules.ml
  testsuite/tests/shapes/rotor_example.ml
  typing/shape.ml
Labels: no-change-entry-needed

#11698 Remove dead code
  debugger/.depend
  debugger/pattern_matching.ml
  debugger/pattern_matching.mli
Labels: no-change-entry-needed

#11703 yacc/closure.c: fix 'closure' prototype
  yacc/closure.c
Labels: no-change-entry-needed

#11701 Config.mkexe should not include C flags that are used internally only
  configure
  configure.ac
Labels: no-change-entry-needed

#11706 Use __asm__ instead of asm for strict ISO C conformance
  runtime/caml/platform.h
Labels: no-change-entry-needed

#11710 manual: fix build by including the common Makefile
  manual/src/library/Makefile
Labels: no-change-entry-needed

#11711 test_instrumented.ml: should run only if instrumented runtime is available
  testsuite/tests/lib-runtime-events/test_instrumented.ml
Labels: no-change-entry-needed

#11600 Fix #10664 by fixing `Ctype.copy` in `erase_either` mode
  Changes
  testsuite/tests/typing-gadts/test.ml
  testsuite/tests/typing-poly/poly.ml
  testsuite/tests/typing-polyvariants-bugs/pr10664.ml
  testsuite/tests/typing-polyvariants-bugs/pr10664.reference
  testsuite/tests/typing-polyvariants-bugs/pr10664a.ml
  typing/ctype.ml
Labels: bug

#11715 Remove unused includes from yacc/defs.h
  yacc/defs.h
Labels: no-change-entry-needed

#11405 Tighten token permissions in GitHub actions
  .github/workflows/build.yml
  .github/workflows/hygiene.yml
  tools/ci/actions/check-changes-modified.sh
Labels: no-change-entry-needed

#11719 Fix handling of <assert.h>
  Makefile
  otherlibs/systhreads/st_pthreads.h
  yacc/defs.h
Labels: no-change-entry-needed

#11725 Remove `caml_alloc_N` function
  runtime/alloc.c
  runtime/caml/alloc.h
Labels: no-change-entry-needed

#11734 Reorganize utils/misc.mli and add or reformat documentation comments
  utils/misc.mli
Labels: no-change-entry-needed

#11660 Remove force-instrumented-runtime configure option
  Makefile.config.in
  configure
  configure.ac
  utils/clflags.ml
  utils/config.fixed.ml
  utils/config.generated.ml.in
  utils/config.mli
Labels: no-change-entry-needed

#11526 stdlib: add an experimental alert to the Effect and Domain modules
  stdlib/domain.mli
  stdlib/effect.mli
  stdlib/format.mli
  stdlib/stdlib.mli
  utils/warnings.ml
Labels: no-change-entry-needed

#11726 Don't call `mmap`/`munmap` with `len = 0`
  runtime/platform.c
Labels: no-change-entry-needed

#11744 Weak.check missing exception in documentation
  stdlib/weak.mli
Labels: no-change-entry-needed

#11193 Concurrency safety documentation, part one: concurrency unsafe types
  stdlib/buffer.mli
  stdlib/ephemeron.mli
  stdlib/hashtbl.mli
  stdlib/moreLabels.mli
  stdlib/oo.mli
  stdlib/queue.mli
  stdlib/scanf.mli
  stdlib/stack.mli
  stdlib/templates/hashtbl.template.mli
  stdlib/weak.mli
  utils/warnings.ml
Labels: no-change-entry-needed

#11749 Avoid field reload in ephe_get_field
  runtime/weak.c
  testsuite/tests/weak-ephe-final/weaktest_par_load.ml
Labels: bug, no-change-entry-needed, merge-me

#11713 Stop ignoring the change of verbosity when using Gc.set
  runtime/caml/misc.h
  runtime/caml/startup_aux.h
  runtime/gc_ctrl.c
  runtime/major_gc.c
  runtime/minor_gc.c
  runtime/misc.c
  runtime/startup_aux.c
  runtime/startup_byt.c
  runtime/sys.c
  runtime/win32.c
Labels: no-change-entry-needed

#11227 stdlib concurrency safety documentation, part two: global states
  stdlib/arg.mli
  stdlib/gc.mli
  stdlib/sys.mli
Labels: no-change-entry-needed

#11751 [minor] gc_ctrl.c:caml_gc_set cleanup
  runtime/gc_ctrl.c
Labels: no-change-entry-needed

#11752 topdirs.ml: refactoring the install_printer logic
  testsuite/tests/tool-toplevel/install_printer.compilers.reference
  testsuite/tests/tool-toplevel/install_printer.ml
  toplevel/topdirs.ml
Labels: no-change-entry-needed

#11760 Add a missing break statement in startup_aux
  runtime/startup_aux.c
Labels: no-change-entry-needed
