Repository ocaml/ocaml, pull requests merged in 2023-03, with the labels that each got.

#12058 replace 1&>2 by 1>&2
  testsuite/tests/lib-unix/unix-execvpe/exec.run
Labels: no-change-entry-needed, merge-me

#12054 typecore: comment the backtracking logic in type_label_exp
  typing/typecore.ml
Labels: no-change-entry-needed

#12064 fix random failure in Marshal.from_{string,bytes} (PR#12056)
  Changes
  runtime/intern.c
Labels: merge-me

#12036 Unix.times: use Store_double_flat_field
  manual/src/cmds/intf-c.etex
  otherlibs/unix/itimer.c
  otherlibs/unix/times_unix.c
  otherlibs/unix/times_win32.c
  runtime/bigarray.c
Labels: no-change-entry-needed

#12079 clarify native code support for 32-bit will not be returning in 5.x
  README.adoc
Labels: no-change-entry-needed

#12076 Minor ergonomic improvements to the manual Makefile
  manual/Makefile
  manual/src/Makefile
Labels: no-change-entry-needed

#12086 Small refactoring for null separated values
  .depend
  bytecomp/bytelink.ml
  bytecomp/dll.ml
  bytecomp/dll.mli
  bytecomp/symtable.ml
  tools/dumpobj.ml
  tools/objinfo.ml
  utils/misc.ml
  utils/misc.mli
Labels: no-change-entry-needed

#12099 Provide event trace for ocamlrund, with -events option
  Changes
  runtime/backtrace_byt.c
  runtime/caml/backtrace_prim.h
  runtime/caml/instrtrace.h
  runtime/caml/startup_aux.h
  runtime/instrtrace.c
  runtime/interp.c
  runtime/startup_aux.c
  runtime/startup_byt.c
Labels: merge-me

#12105 Unix module: clarify the documentation for open_process_args*.
  otherlibs/unix/unix.mli
Labels: no-change-entry-needed

#12077 Tail-mod-constr manual: set an explicit stack limit
  manual/src/cmds/tail-mod-cons.etex
Labels: no-change-entry-needed

#12112 Fix GC corruption when using caml_callback{2,3}_exn with effect handlers
  Changes
  runtime/callback.c
  testsuite/tests/callback/callback_effects_gc.ml
Labels: merge-me

#12108 Various build-system fixes and enhancements
  Makefile
  Makefile.build_config.in
  Makefile.common
  Makefile.config.in
  Makefile.menhir
  configure
  configure.ac
  otherlibs/Makefile.otherlibs.common
  otherlibs/systhreads/Makefile
Labels: no-change-entry-needed

#12120 Fix bug introduced in Bytesections: cleanup API #11623
  .depend
  Changes
  bytecomp/bytelink.ml
  bytecomp/meta.ml
  bytecomp/meta.mli
  bytecomp/symtable.ml
Labels: no-change-entry-needed, merge-me

#12088 one-line fix for #9265, #11949
  debugger/command_line.ml
Labels: no-change-entry-needed

#12119 parsetree: explicit type constraints for value bindings
  .depend
  Changes
  boot/menhir/parser.ml
  parsing/ast_helper.ml
  parsing/ast_helper.mli
  parsing/ast_iterator.ml
  parsing/ast_mapper.ml
  parsing/parser.mly
  parsing/parsetree.mli
  parsing/pprintast.ml
  parsing/printast.ml
  testsuite/tests/parsetree/locations_test.compilers.reference
  testsuite/tests/parsing/attributes.compilers.reference
  testsuite/tests/parsing/extensions.compilers.reference
  testsuite/tests/parsing/quotedextensions.compilers.reference
  testsuite/tests/typing-gadts/test.ml
  typing/typecore.ml
Labels: parsetree-change

#12116 Don't suggest a semicolon when the type is not unit
  Changes
  testsuite/tests/typing-misc/apply_non_function.ml
  typing/typecore.ml
  typing/typecore.mli
Labels: error-messages, merge-me

#12138 New Build_path_prefix_map module interface
  Changes
  parsing/location.ml
  parsing/location.mli
  utils/build_path_prefix_map.ml
  utils/build_path_prefix_map.mli
Labels: merge-me

#12149 Revert "Use ocamlyacc's support for OCaml-style comments"
  debugger/debugger_parser.mly
  lex/parser.mly
  ocamldoc/odoc_parser.mly
  ocamldoc/odoc_text_parser.mly
  ocamltest/tsl_parser.mly
  testsuite/tools/parsecmm.mly
Labels: no-change-entry-needed
