Repository ocaml/ocaml, pull requests merged in 2023-11, with the labels that each got.

#12708 disable the finaliser_handover test
  testsuite/tests/weak-ephe-final/finaliser_handover.ml
Labels: no-change-entry-needed

#12243 Ocamltest new log format and better error report
  .depend
  ocamltest/main.ml
  ocamltest/ocaml_actions.ml
  ocamltest/ocaml_actions.mli
  ocamltest/ocaml_filetypes.ml
  ocamltest/ocaml_filetypes.mli
  ocamltest/tsl_ast.ml
  ocamltest/tsl_ast.mli
  ocamltest/tsl_semantics.ml
  ocamltest/tsl_semantics.mli
Labels: no-change-entry-needed

#12694 Documentation comments of TSan instrumentation choices
  Changes
  runtime/major_gc.c
  runtime/tsan.c
Labels: runtime-system

#12711 Minor TSan stack unwinding cleanup
  runtime/tsan.c
Labels: no-change-entry-needed, merge-me, runtime-system

#12716 add Format.pp_print_nothing
  Changes
  stdlib/format.ml
  stdlib/format.mli
Labels: merge-me

#12715 disable CSE for atomic loads
  Changes
  asmcomp/CSEgen.ml
Labels: merge-me

#12717 Improve the documentation of {String,Byte}.split_on_char
  stdlib/bytes.mli
  stdlib/bytesLabels.mli
  stdlib/string.mli
  stdlib/stringLabels.mli
Labels: no-change-entry-needed, documentation, merge-me

#12718 Fix the documentation of Bytes.split_on_char
  stdlib/bytes.mli
  stdlib/bytesLabels.mli
Labels: no-change-entry-needed, merge-me

#12710 Fix finaliser handover flakiness
  Changes
  runtime/caml/major_gc.h
  runtime/domain.c
  runtime/major_gc.c
  testsuite/tests/weak-ephe-final/finaliser_handover.ml
Labels: merge-me, runtime-system

#12720 Fix label evaluation order
  Changes
  lambda/translcore.ml
  testsuite/tests/basic-more/labels_evaluation_order.ml
  testsuite/tests/basic-more/labels_evaluation_order.reference
Labels: merge-me

#12729 Vendored files and languages in .gitattributes
  .gitattributes
Labels: no-change-entry-needed

#12681 Fix TSan false positives due to volatile write handling
  Changes
  runtime/tsan.c
Labels: merge-me, runtime-system

#12731 Fix parallel recursive invocations of make causing sporadic "Other checks" CI failure
  .gitignore
  Makefile
Labels: no-change-entry-needed

#12318 fix bad behaviour of `caml_alloc_custom_mem`
  Changes
  runtime/caml/config.h
  runtime/caml/custom.h
  runtime/caml/memory.h
  runtime/custom.c
  runtime/memory.c
  stdlib/gc.mli
  testsuite/tests/lib-runtime-events/test.ml
  testsuite/tests/lib-runtime-events/test.reference
  testsuite/tests/lib-runtime-events/test_caml.ml
  testsuite/tests/lib-runtime-events/test_instrumented.ml
  testsuite/tests/lib-runtime-events/test_instrumented.reference
Labels: runtime-system

#12741 Some syntactic changes in Changes to ease information extraction
  Changes
Labels: merge-me

#12742 Fix assertion failure from #12712
  Changes
  runtime/domain.c
Labels: no-change-entry-needed

#12304 [backport, 4.14] emit (amd64): emit frametable size on BSD as well (#10845)
  Changes
  asmcomp/amd64/emit.mlp
  asmcomp/x86_proc.ml
  asmcomp/x86_proc.mli
Labels: merge-me

#12744 `make -C testsuite parallel` always runs tests in subdirs
  Changes
  testsuite/Makefile
Labels: testsuite

#12743 Use pthread_sigmask instead of sigprocmask
  Changes
  otherlibs/unix/signals.c
Labels: merge-me, runtime-system

#12750 Display primitives retrieval command in `ocamlc -verbose`
  Changes
  bytecomp/symtable.ml
Labels: bug, compiler-driver, merge-me

#12754 Do not change GC pace when creating sub-arrays of bigarrays
  Changes
  runtime/bigarray.c
  runtime/caml/bigarray.h
Labels: bug

#12609 Fix compilation of nested packs
  Changes
  middle_end/compilenv.ml
Labels: bug

#12757 Fix ocamlnat by registering frametables correctly
  Changes
  runtime/dynlink_nat.c
  testsuite/tests/tool-toplevel/topeval.ml
Labels: merge-me

#12759 Fix testsuite operation on Windows
  testsuite/Makefile
  testsuite/summarize.awk
Labels: no-change-entry-needed

#12760 Update `msvs-promote-path` to upstream's 0.6.0
  tools/msvs-promote-path
Labels: no-change-entry-needed, windows

#12761 Remove useless Obj.magic from ocamlnat code
  toplevel/native/tophooks.ml
Labels: no-change-entry-needed

#12767 Fix summary computation in ocamltest
  ocamltest/main.ml
Labels: no-change-entry-needed

#12765 Update function name in comment
  runtime/caml/mlvalues.h
Labels: no-change-entry-needed

#12778 format: fix incorrect odoc format
  stdlib/format.mli
Labels: no-change-entry-needed

#12608 Add Constant and Class classifications for recursive bindings
  .depend
  Changes
  Makefile
  asmcomp/cmmgen.ml
  bytecomp/bytegen.ml
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/printlambda.ml
  lambda/translmod.ml
  middle_end/clambda.ml
  middle_end/clambda.mli
  middle_end/flambda/build_export_info.ml
  middle_end/flambda/flambda.ml
  middle_end/flambda/flambda.mli
  middle_end/flambda/flambda_invariants.ml
  middle_end/flambda/flambda_iterators.ml
  middle_end/flambda/flambda_to_clambda.ml
  middle_end/flambda/flambda_utils.ml
  middle_end/flambda/inconstant_idents.ml
  middle_end/flambda/inline_and_simplify.ml
  middle_end/flambda/lift_code.ml
  middle_end/flambda/lift_let_to_initialize_symbol.ml
  middle_end/flambda/ref_to_variables.ml
  middle_end/flambda/un_anf.ml
  middle_end/printclambda.ml
  otherlibs/dynlink/Makefile
  typing/typeclass.ml
  typing/typecore.ml
  typing/typedtree.ml
  typing/typedtree.mli
  typing/value_rec_check.ml
  typing/value_rec_check.mli
  typing/value_rec_types.mli
Labels: merge-me

#12383 Improve backtrace abstractions inside runtime
  Changes
  runtime/backtrace_byt.c
  runtime/backtrace_nat.c
  runtime/caml/backtrace.h
  runtime/caml/frame_descriptors.h
Labels: statmemprof

#12753 Scan runtime/*.c for primitives less often
  Makefile
  runtime/dune
  runtime/gen_primitives.sh
Labels: no-change-entry-needed

#12777 Include "got" and "expected" details in method mismatch errors
  Changes
  testsuite/tests/typing-modules/inclusion_errors.ml
  testsuite/tests/typing-objects-bugs/pr4018_bad.compilers.reference
  testsuite/tests/typing-poly/poly.ml
  testsuite/tests/typing-poly/pr9603.ml
  typing/printtyp.ml
Labels: error-messages

#12770 Stdlib: Add function composition combinator
  Changes
  stdlib/fun.ml
  stdlib/fun.mli
  testsuite/tests/backtrace/backtrace_dynlink.flambda.reference
  testsuite/tests/backtrace/backtrace_dynlink.reference
  testsuite/tests/lib-dynlink-initializers/test10_main.byte.reference
  testsuite/tests/lib-dynlink-initializers/test10_main.native.reference
Labels: stdlib, merge-me

#12795 Replace ssize_t with ptrdiff_t
  runtime/backtrace_byt.c
  runtime/backtrace_nat.c
  runtime/caml/backtrace.h
  runtime/fiber.c
Labels: no-change-entry-needed, merge-me

#12735 Store both ends of the stack chain in continuations
  Changes
  asmcomp/cmmgen.ml
  boot/ocamlc
  boot/ocamllex
  bytecomp/bytegen.ml
  lambda/translprim.ml
  runtime/amd64.S
  runtime/arm64.S
  runtime/callback.c
  runtime/interp.c
  runtime/minor_gc.c
  runtime/power.S
  runtime/riscv.S
  runtime/s390x.S
  stdlib/effect.ml
  testsuite/tests/backtrace/backtrace_effects_nested.flambda.reference
  testsuite/tests/effects/backtrace.reference
Labels: need-precheck, runtime-system, Performance, effect handlers

#12209 stdlib documentation: superscript fixes
  stdlib/int.mli
  stdlib/marshal.mli
Labels: no-change-entry-needed
