Repository ocaml/ocaml, pull requests merged in 2023-04, with the labels that each got.

#12156 caml_update_dummy: do not try to update size-0 atoms
  Changes
  runtime/alloc.c
  testsuite/tests/letrec-compilation/pr12153_miscompilation_of_recursive_atoms.ml
Labels: merge-me

#12159 Fix off-by-one in debug runtime
  runtime/shared_heap.c
Labels: no-change-entry-needed, merge-me

#12164 Fix ocamldep after value binding parsetree change
  parsing/depend.ml
Labels: bug, no-change-entry-needed, merge-me

#12148 Fix dune build of stdlib
  stdlib/dune
Labels: no-change-entry-needed

#12128 interruptible compare.c
  .mailmap
  Changes
  runtime/compare.c
Labels: merge-me

#12134 Use ghost locs for nodes used to handle default value of optional arguments
  Changes
  typing/typecore.ml
Labels: merge-me

#12163 Format.sprintf -- direct users to asprintf if they have %a in the format string
  stdlib/format.mli
Labels: no-change-entry-needed, merge-me

#12169 No reified var counter
  Changes
  typing/ctype.ml
  typing/ctype.mli
  typing/typetexp.ml
Labels: merge-me

#12178 runtime events consumer: fix invalid value returned from runtime_events_read_poll
  Changes
  otherlibs/runtime_events/runtime_events_consumer.c
Labels: bug

#12172 major_gc.c: avoid using a PAGE_MASK macro
  runtime/major_gc.c
Labels: no-change-entry-needed

#12171 extern.c: raise OOM instead of passing null in `caml_output_*` entrypoints
  Changes
  runtime/extern.c
Labels: merge-me

#12179 Update GDB scripts to work with OCaml 5
  Changes
  tools/gdb-macros
  tools/gdb_ocamlrun.py
Labels: merge-me

#12190 Take host into account when looking for pkg-config
  configure
  configure.ac
Labels: no-change-entry-needed

#11876 Document the situation regarding `remove_global_root` inside custom finalizers
  Changes
  manual/src/cmds/intf-c.etex
Labels: runtime-system

#12187 Fix warnings emitted when compiling the documentation
  api_docgen/ocamldoc/Makefile
  otherlibs/unix/unix.mli
  otherlibs/unix/unixLabels.mli
  stdlib/marshal.mli
Labels: no-change-entry-needed

#12196 Don't include stdbool.h systematically
  runtime/caml/config.h
  runtime/caml/frame_descriptors.h
  runtime/weak.c
Labels: bug, no-change-entry-needed, merge-me

#12194 Check for syntax errors in test scripts instead of ignoring them.
  ocamltest/main.ml
  ocamltest/tsl_lexer.mli
  ocamltest/tsl_lexer.mll
Labels: no-change-entry-needed

#11846 Simplify and fix the shadow store reservation on Win64
  Changes
  asmcomp/amd64/emit.mlp
  asmcomp/amd64/proc.ml
  runtime/amd64.S
  runtime/caml/fiber.h
Labels: windows

#12206 remove unused error constructor: Unbound_row_variable
  typing/typetexp.ml
  typing/typetexp.mli
Labels: no-change-entry-needed

#12192 Simplification with atomic_ helpers
  otherlibs/runtime_events/runtime_events_consumer.c
  otherlibs/systhreads/st_pthreads.h
  otherlibs/systhreads/st_stubs.c
  otherlibs/unix/symlink_win32.c
  otherlibs/unix/unixsupport_unix.c
  otherlibs/unix/unixsupport_win32.c
  runtime/array.c
  runtime/caml/atomic_refcount.h
  runtime/caml/domain.h
  runtime/caml/lf_skiplist.h
  runtime/caml/platform.h
  runtime/codefrag.c
  runtime/domain.c
  runtime/fail_nat.c
  runtime/fiber.c
  runtime/interp.c
  runtime/lf_skiplist.c
  runtime/major_gc.c
  runtime/memory.c
  runtime/minor_gc.c
  runtime/obj.c
  runtime/platform.c
  runtime/runtime_events.c
  runtime/signals.c
  testsuite/tests/lf_skiplist/stubs.c
Labels: no-change-entry-needed

#12147 ocamllex: Accept line directives ended with CR/LF. (#12146)
  Changes
  lex/lexer.mll
Labels: submitter-action-needed, merge-me

#12213 Improve legibility of dynamic linking error messages
  Changes
  otherlibs/dynlink/byte/dynlink.ml
  otherlibs/dynlink/dynlink_common.ml
  otherlibs/dynlink/dynlink_types.ml
  otherlibs/dynlink/native/dynlink.ml
  testsuite/tests/backtrace/backtrace_dynlink.flambda.reference
  testsuite/tests/backtrace/backtrace_dynlink.reference
  testsuite/tests/lib-dynlink-initializers/test10_main.byte.reference
  testsuite/tests/lib-dynlink-initializers/test10_main.native.reference
Labels: merge-me
