Repository ocaml/ocaml, pull requests merged in 2023-02, with the labels that each got.

#11988 Fail the build if `configure` needs to be re-run
  Makefile
  Makefile.build_config.in
  configure
  configure.ac
Labels: no-change-entry-needed

#11987 Rebuild testsuite tools on compiler-libs changes
  testsuite/tools/Makefile
Labels: no-change-entry-needed

#11827 Restore prefetching for GC marking
  Changes
  runtime/major_gc.c
Labels: runtime-system

#11991 Win32 Unix: map ERROR_TOO_MANY_LINKS to EMLINK
  Changes
  otherlibs/unix/unixsupport_win32.c
Labels: merge-me

#11936 typedecl: document well-foundedness
  Changes
  typing/typedecl.ml
Labels: documentation, typing

#11978 #11889: ocamldoc, type parameter fixes
  Changes
  ocamldoc/odoc_ast.ml
  ocamldoc/odoc_info.ml
  ocamldoc/odoc_info.mli
  ocamldoc/odoc_latex.ml
  ocamldoc/odoc_sig.ml
  ocamldoc/odoc_str.ml
  ocamldoc/odoc_str.mli
  ocamldoc/odoc_texi.ml
  ocamldoc/odoc_type.ml
  ocamldoc/odoc_type.mli
Labels: ocamldoc

#11984 Add syntax for generative functor application
  Changes
  boot/menhir/parser.ml
  lambda/translmod.ml
  man/ocamlc.1
  middle_end/flambda/base_types/export_id.ml
  middle_end/flambda/base_types/set_of_closures_id.ml
  ocamldoc/odoc_analyse.ml
  ocamldoc/odoc_ast.ml
  ocamldoc/odoc_cross.ml
  ocamldoc/odoc_html.ml
  ocamldoc/odoc_info.mli
  ocamldoc/odoc_latex.ml
  ocamldoc/odoc_module.ml
  ocamldoc/odoc_module.mli
  ocamldoc/odoc_to_text.ml
  parsing/ast_helper.ml
  parsing/ast_helper.mli
  parsing/ast_iterator.ml
  parsing/ast_mapper.ml
  parsing/depend.ml
  parsing/parser.mly
  parsing/parsetree.mli
  parsing/pprintast.ml
  parsing/printast.ml
  testsuite/tests/tmc/usage_warnings.ml
  testsuite/tests/typing-modules/generative.ml
  tools/ocamlprof.ml
  typing/printtyped.ml
  typing/rec_check.ml
  typing/tast_iterator.ml
  typing/tast_mapper.ml
  typing/typecore.ml
  typing/typedtree.ml
  typing/typedtree.mli
  typing/typemod.ml
  typing/untypeast.ml
  utils/warnings.ml
  utils/warnings.mli
Labels: parsetree-change

#12004 Handle attributes on lambdas with locally abstract types
  Changes
  lambda/translcore.ml
  testsuite/tests/ppx-attributes/inline.ml
Labels: merge-me

#12001 Move last finalisers book keeping to the end of minor gc
  Changes
  runtime/minor_gc.c
  testsuite/tests/weak-ephe-final/pr12001.ml
  testsuite/tests/weak-ephe-final/pr12001.reference
Labels: runtime-system

#11912 Refactor treatment of type variables
  Changes
  typing/typeclass.ml
  typing/typecore.ml
  typing/typedecl.ml
  typing/typemod.ml
  typing/typetexp.ml
  typing/typetexp.mli
Labels: no-change-entry-needed, typing

#12008 Remove an unused parameter in Printtyp.filter_trace
  typing/printtyp.ml
Labels: no-change-entry-needed, merge-me

#11930 Some small changes to CONTRIBUTING.md
  CONTRIBUTING.md
  testsuite/HACKING.adoc
Labels: no-change-entry-needed, merge-me

#11910 error messages: simpler names for shadowed identifiers
  .depend
  Changes
  testsuite/tests/generalized-open/gpr1506.ml
  testsuite/tests/shadow_include/cannot_shadow_error.compilers.reference
  testsuite/tests/shadow_include/shadow_all.ml
  testsuite/tests/typing-sigsubst/sigsubst.ml
  typing/printtyp.ml
  typing/printtyp.mli
  typing/typecore.ml
  typing/typemod.ml
Labels: error-messages, merge-me

#12022 Fix undefined Makefile variables
  Makefile
  Makefile.common
  tools/ci/actions/runner.sh
Labels: no-change-entry-needed

#12012 move Typetexp.TyVarEnv.reset inside with_local_level etc.
  Changes
  typing/ctype.ml
  typing/typeclass.ml
  typing/typecore.ml
  typing/typedecl.ml
  typing/typetexp.ml
Labels: typing, refactoring

#12028 documentation: Format.pp_print_newline wording
  Changes
  stdlib/format.ml
  stdlib/format.mli
Labels: merge-me

#11980 fix quadratic behavior in natdynlink by using a STW section for frame-descriptor updates
  Changes
  runtime/frame_descriptors.c
Labels: merge-me

#12040 dune: enable building @libs target
  ocamltest/dune
  otherlibs/unix/dune
  stdlib/gc.ml
  utils/dune
Labels: no-change-entry-needed
