Repository ocaml/ocaml, pull requests merged in 2023-08, with the labels that each got.

#12391 Add parameter location information to parsetree/typedtree
  Changes
  boot/menhir/parser.ml
  lambda/translcore.ml
  parsing/ast_invariants.ml
  parsing/ast_iterator.ml
  parsing/ast_mapper.ml
  parsing/depend.ml
  parsing/parser.mly
  parsing/parsetree.mli
  parsing/pprintast.ml
  parsing/printast.ml
  testsuite/tests/parsetree/locations_test.compilers.reference
  testsuite/tests/parsing/attributes.compilers.reference
  testsuite/tests/parsing/shortcut_ext_attr.compilers.reference
  testsuite/tests/typing-gadts/pr7269.ml
  typing/tast_iterator.ml
  typing/tast_mapper.ml
  typing/typeclass.ml
  typing/typecore.ml
  typing/typedtree.ml
  typing/typedtree.mli
  typing/untypeast.ml
Labels: merge-me

#12381 Multicore statmemprof API
  Changes
  runtime/memprof.c
  stdlib/gc.ml
  stdlib/gc.mli
Labels: flaky-ci-failure, statmemprof

#12432 Fix semantically-important typo in 'Ch 10. Memory model'
  manual/src/tutorials/memorymodel.etex
Labels: no-change-entry-needed

#12441 parmatch: bugfix? in set_args_erase_mutable
  typing/parmatch.ml
Labels: no-change-entry-needed, merge-me

#12465 Update `config.sub` and `config.guess`
  .gitattributes
  .github/workflows/build.yml
  HACKING.adoc
  build-aux/config.guess
  build-aux/config.sub
  tools/ci/actions/runner.sh
Labels: no-change-entry-needed

#12473 memory.c doc: add a note on the 'mixed' memory non-model
  Changes
  runtime/memory.c
Labels: merge-me

#12479 Correct mismatched argument names in array documentation
  stdlib/array.mli
  stdlib/arrayLabels.mli
Labels: no-change-entry-needed, documentation

#12398 Reduce loop length in runtime event test to avoid overflowing ring buffers
  testsuite/tests/lib-runtime-events/test_caml.ml
  testsuite/tests/lib-runtime-events/test_caml.reference
Labels: no-change-entry-needed

#12488 gc.mli: update documentation of allocation policy
  stdlib/gc.mli
Labels: no-change-entry-needed, documentation

#12499 bigarray: fix deserialization of float16 bigarrays
  Changes
  otherlibs/unix/mmap_ba.c
  runtime/bigarray.c
  runtime/caml/bigarray.h
  testsuite/tests/lib-bigarray/bigarrays.ml
  testsuite/tests/lib-bigarray/bigarrays.reference
Labels: merge-me

#12505 Initialize the block allocated by `caml_alloc_shr_check_gc`
  Changes
  asmcomp/cmmgen.ml
  runtime/alloc.c
Labels: bug

#12511 Minor performance improvements and cleanups in the implementation of Int32, Int64, Nativeint
  Changes
  stdlib/int32.ml
  stdlib/int64.ml
  stdlib/nativeint.ml
Labels: Performance

#12517 Avoid the "constant-logical-operand" warning of recent clang versions
  runtime/printexc.c
Labels: no-change-entry-needed

#12504 chore: add .vscode/ to .gitignore
  .gitignore
Labels: no-change-entry-needed

#12520 GitHub Actions updates for 4.14 branch
  .gitattributes
  .github/workflows/build.yml
  .github/workflows/hygiene.yml
  HACKING.adoc
  Makefile
  build-aux/config.guess
  build-aux/config.sub
  tools/ci/actions/check-configure.sh
  tools/ci/actions/runner.sh
Labels: no-change-entry-needed
