Repository ocaml/ocaml, pull requests merged in 2023-10, with the labels that each got.

#12613 Make ocamlc/ocamlopt fail when not given input files
  Changes
  driver/compenv.ml
  testsuite/tests/tool-command-line/test-no-input-file.compilers.reference
  testsuite/tests/tool-command-line/test-no-input-file.ml
  testsuite/tests/tool-command-line/test-unknown-file.compilers.reference
Labels: merge-me

#12626 Fix ARM build with mixed-endian fp doubles
  runtime/intern.c
Labels: no-change-entry-needed, merge-me

#11594 Update framepointers tests to avoid false positive with inlined C functions
  testsuite/tests/frame-pointers/c_call.ml
  testsuite/tests/frame-pointers/c_call.reference
  testsuite/tests/frame-pointers/c_call.run
  testsuite/tests/frame-pointers/c_call_.c
  testsuite/tests/frame-pointers/effects.ml
  testsuite/tests/frame-pointers/effects.reference
  testsuite/tests/frame-pointers/effects.run
  testsuite/tests/frame-pointers/exception_handler.ml
  testsuite/tests/frame-pointers/exception_handler.reference
  testsuite/tests/frame-pointers/exception_handler.run
  testsuite/tests/frame-pointers/filter-locations.sh
  testsuite/tests/frame-pointers/fp_backtrace.c
  testsuite/tests/frame-pointers/reperform.ml
  testsuite/tests/frame-pointers/reperform.reference
  testsuite/tests/frame-pointers/reperform.run
  testsuite/tests/frame-pointers/stack_realloc.ml
  testsuite/tests/frame-pointers/stack_realloc.reference
  testsuite/tests/frame-pointers/stack_realloc.run
  testsuite/tests/frame-pointers/stack_realloc2.ml
  testsuite/tests/frame-pointers/stack_realloc2.reference
  testsuite/tests/frame-pointers/stack_realloc2.run
Labels: no-change-entry-needed

#12638 Implement Caml_state in MASM
  .gitignore
  Makefile
  runtime/amd64nt.asm
  runtime/gen_domain_state32_inc.awk
  runtime/gen_domain_state64_inc.awk
Labels: no-change-entry-needed

#12637 Avoid pointer arithmetic over void * in the runtime
  otherlibs/unix/read_unix.c
  otherlibs/unix/read_win32.c
  otherlibs/unix/write_unix.c
  otherlibs/unix/write_win32.c
  runtime/io.c
Labels: no-change-entry-needed

#12635 feat: `caml_fatal_error` on misuse of deserialize functions
  Changes
  runtime/extern.c
  runtime/intern.c
Labels: runtime-system

#12439 Fix custom block promotion
  Changes
  runtime/minor_gc.c
Labels: merge-me, runtime-system

#12437 generalize tests/unwind to work on clang -O0
  testsuite/tests/unwind/stack_walker.c
  testsuite/tests/unwind/unwind_test.reference
Labels: no-change-entry-needed

#12655 Remove configure detection of `ffs` and `_BitScanForward`
  configure
  configure.ac
  runtime/caml/s.h.in
Labels: no-change-entry-needed

#11636 Fix 'caml_unregister_frametable(table)' when 'table' is the first element
  Changes
  runtime/roots_nat.c
Labels: bug, merge-me

#12619 [refactoring] runtime: define and enforce naming conventions for STW functions
  Changes
  runtime/caml/codefrag.h
  runtime/caml/domain.h
  runtime/caml/minor_gc.h
  runtime/caml/shared_heap.h
  runtime/codefrag.c
  runtime/domain.c
  runtime/frame_descriptors.c
  runtime/major_gc.c
  runtime/minor_gc.c
  runtime/runtime_events.c
  runtime/shared_heap.c
Labels: merge-me, runtime-system

#12659 More reliable tests for TSan
  testsuite/tests/tsan/array_elt.ml
  testsuite/tests/tsan/array_elt.reference
  testsuite/tests/tsan/exn_from_c.ml
  testsuite/tests/tsan/exn_from_c.reference
  testsuite/tests/tsan/exn_in_callback.ml
  testsuite/tests/tsan/exn_in_callback.reference
  testsuite/tests/tsan/exn_reraise.ml
  testsuite/tests/tsan/exn_reraise.reference
  testsuite/tests/tsan/norace_atomics.ml
  testsuite/tests/tsan/perform.ml
  testsuite/tests/tsan/perform.reference
  testsuite/tests/tsan/raise_through_handler.ml
  testsuite/tests/tsan/raise_through_handler.reference
  testsuite/tests/tsan/record_field.ml
  testsuite/tests/tsan/record_field.reference
  testsuite/tests/tsan/reperform.ml
  testsuite/tests/tsan/reperform.reference
  testsuite/tests/tsan/unhandled.ml
  testsuite/tests/tsan/unhandled.reference
  testsuite/tests/tsan/waitgroup.ml
  testsuite/tests/tsan/waitgroup_stubs.c
Labels: no-change-entry-needed, merge-me

#12657 [4.14] Fix `_BitScanForward` detection
  configure
  configure.ac
Labels: no-change-entry-needed

#12537 Use C11/C++11 standard static assertion
  Changes
  runtime/caml/domain_state.h
  runtime/caml/fiber.h
  runtime/caml/misc.h
  runtime/domain.c
  runtime/fiber.c
  runtime/shared_heap.c
Labels: runtime-system

#12671 Identify mismatched class type parameters and class parameters by ordinal in error messages.
  .depend
  Changes
  testsuite/tests/typing-misc/includeclass_errors.ml
  typing/ctype.ml
  typing/ctype.mli
  typing/includeclass.ml
  utils/misc.ml
  utils/misc.mli
Labels: merge-me

#12644 Re-enable ThreadSanitizer in the Inria CI
  testsuite/tests/parallel/catch_break.ml
  tools/ci/inria/sanitizers/script
Labels: no-change-entry-needed

#12674 Simplify `opam pin` command in `HACKING.adoc`
  HACKING.adoc
Labels: no-change-entry-needed, documentation

#12672 Silence ocamldoc warning on iter2
  utils/misc.mli
Labels: merge-me

#12586 Merge compilerlibs/Makefile.compilerlibs into the root Makefile
  Changes
  Makefile
  Makefile.build_config.in
  Makefile.common
  compilerlibs/Makefile.compilerlibs
  configure
  configure.ac
Labels: merge-me

#12616 Merge ocamldoc/Makefile into the root Makefile
  .depend
  Changes
  Makefile
  Makefile.best_binaries
  Makefile.build_config.in
  Makefile.config.in
  api_docgen/ocamldoc/Makefile
  configure
  configure.ac
  ocamldoc/.depend
  ocamldoc/Makefile
  ocamldoc/Makefile.best_ocamldoc
Labels: merge-me

#11882 Dynarrays, boxed
  Changes
  manual/src/library/stdlib-blurb.etex
  stdlib/.depend
  stdlib/StdlibModules
  stdlib/dynarray.ml
  stdlib/dynarray.mli
  stdlib/stdlib.ml
  stdlib/stdlib.mli
  testsuite/tests/basic/patmatch_for_multiple.ml
  testsuite/tests/lib-dynarray/heap_sort.ml
  testsuite/tests/lib-dynarray/test.ml
  testsuite/tests/match-side-effects/partiality.ml
  testsuite/tests/match-side-effects/test_contexts_code.ml
  testsuite/tests/shapes/comp_units.ml
  testsuite/tests/shapes/functors.ml
  testsuite/tests/shapes/open_arg.ml
  testsuite/tests/shapes/recmodules.ml
  testsuite/tests/shapes/rotor_example.ml
Labels: stdlib, merge-me

#12683 Annotate Domain.self with noalloc
  stdlib/domain.ml
Labels: no-change-entry-needed

#12673 Fix type directed disambiguation of optional arg defaults
  Changes
  testsuite/tests/typing-extensions/disambiguation.ml
  typing/typecore.ml
Labels: merge-me

#12679 clarify meaning of "non-path module type"
  Changes
  manual/src/refman/extensions/signaturesubstitution.etex
  testsuite/tests/typing-modules/module_type_substitution.ml
  typing/typemod.ml
Labels: merge-me

#12618 Make tests/parallel/catch_break.ml more robust
  testsuite/tests/parallel/catch_break.ml
Labels: no-change-entry-needed, runtime-system

#12687 Make sure TSan false positive from #12282 is silenced
  runtime/weak.c
Labels: no-change-entry-needed, merge-me

#12688 Update the logic of detecting NO_COLOR
  Changes
  driver/compmisc.ml
Labels: merge-me

#12662 ocamldoc: centralize lexical convention before utf-8
  .depend
  ocamldoc/odoc_lexer.mll
  ocamldoc/odoc_parser.mly
Labels: no-change-entry-needed, ocamldoc, merge-me

#12689 Remove benign data race in parallel test
  testsuite/tests/parallel/domain_serial_spawn_burn.ml
Labels: no-change-entry-needed

#12693 Remove no longer needed `CAMLno_tsan` attributes
  runtime/major_gc.c
Labels: no-change-entry-needed

#12640 Make the module separator used in symbol names configurable
  .depend
  Changes
  asmcomp/asmpackager.ml
  asmcomp/emitaux.ml
  asmcomp/x86_proc.ml
  middle_end/compilenv.ml
  middle_end/compilenv.mli
  runtime/dynlink_nat.c
Labels: windows, runtime-system

#12707 Fix assertion race condition in #11800
  Changes
  runtime/domain.c
Labels: merge-me
