Repository ocaml/ocaml, pull requests merged in 2023-01, with the labels that each got.

#11615 Remove globals from asmcomp/linearize.ml
  Changes
  asmcomp/linearize.ml
Labels: merge-me

#11847 type-checker cleanup: less global state, more meaningful types (1/N)
  Changes
  typing/ctype.ml
  typing/ctype.mli
  typing/typeclass.ml
  typing/typeclass.mli
Labels: merge-me

#11694 Add short syntax for generative functor types: () -> ...
  Changes
  boot/menhir/parser.ml
  manual/src/refman/extensions/generativefunctors.etex
  parsing/parser.mly
  parsing/pprintast.ml
  testsuite/tests/generated-parse-errors/errors.compilers.reference
  testsuite/tests/parse-errors/mismatch_struct_sig.compilers.reference
  testsuite/tests/typing-modules/generative.ml
Labels: merge-me

#11852 Tab align arm64 code in emit
  asmcomp/arm64/emit.mlp
Labels: no-change-entry-needed

#11815 Disallow marshalling of continuations
  Changes
  runtime/extern.c
  testsuite/tests/effects/marshal.ml
  testsuite/tests/effects/marshal.reference
Labels: merge-me

#11856 TRMC implementation of List.concat_map
  Changes
  stdlib/list.ml
Labels: stdlib

#11860 documentation: sort modules alphabetically
  api_docgen/Makefile.docfiles
Labels: no-change-entry-needed

#11837 Add Array.mapi_inplace, Float.Array.map_inplace, Float.Array.mapi_inplace
  Changes
  stdlib/array.ml
  stdlib/array.mli
  stdlib/arrayLabels.mli
  stdlib/float.ml
  stdlib/float.mli
  stdlib/templates/floatarraylabeled.template.mli
  testsuite/tests/lib-array/test_array.ml
  testsuite/tests/lib-floatarray/floatarray.ml
Labels: stdlib, merge-me

#11859 TRMC implementation of @
  Changes
  stdlib/list.mli
  stdlib/listLabels.mli
  stdlib/stdlib.ml
  stdlib/stdlib.mli
  testsuite/tests/backtrace/pr2195-locs.byte.reference
  testsuite/tests/backtrace/pr2195.opt.reference
Labels: stdlib

#11850 Always remove asm temp file, unless explicitly kept
  Changes
  asmcomp/asmgen.ml
Labels: merge-me

#11854 Disable bytecode publish.ml test on Windows
  testsuite/tests/memory-model/publish.ml
Labels: no-change-entry-needed

#11870 fix over-eager label erasure in the documentation
  stdlib/hashtbl.mli
  stdlib/moreLabels.mli
  stdlib/templates/hashtbl.template.mli
Labels: no-change-entry-needed

#11830 Add Type.Id
  Changes
  stdlib/.depend
  stdlib/StdlibModules
  stdlib/type.ml
  stdlib/type.mli
Labels: stdlib

#11886 Document environment variables for running the testsuite
  testsuite/HACKING.adoc
Labels: no-change-entry-needed

#11881 Fix thread-unsafety with custom operations
  Changes
  runtime/custom.c
Labels: merge-me

#11884 improving the {In,Out}_channel documentation
  Changes
  stdlib/in_channel.mli
  stdlib/out_channel.mli
Labels: merge-me

#11863 Adding -stop-after lambda flag option in ocaml{c,opt} (Was #8602)
  Changes
  driver/maindriver.ml
  driver/optcompile.ml
  driver/optmaindriver.ml
  testsuite/tests/tool-ocamlc-stop-after/stop_after_lambda.compilers.reference
  testsuite/tests/tool-ocamlc-stop-after/stop_after_lambda.ml
  testsuite/tests/tool-ocamlc-stop-after/stop_after_scheduling.compilers.reference
  testsuite/tests/tool-ocamlopt-stop-after/stop_after_lambda.compilers.reference
  testsuite/tests/tool-ocamlopt-stop-after/stop_after_lambda.ml
  utils/clflags.ml
  utils/clflags.mli
Labels: merge-me

#11134 Optimise "include struct ... end" in more cases
  Changes
  lambda/translmod.ml
  testsuite/tests/typing-modules/struct_include_optimisation.ml
  testsuite/tests/typing-modules/struct_include_optimisation.reference
Labels: merge-me

#11848 Add `find_mapi` and `find_index` to `List`, `Seq`, `Array` and `Float.Array`.
  Changes
  stdlib/array.ml
  stdlib/array.mli
  stdlib/arrayLabels.mli
  stdlib/float.ml
  stdlib/float.mli
  stdlib/list.ml
  stdlib/list.mli
  stdlib/listLabels.mli
  stdlib/seq.ml
  stdlib/seq.mli
  stdlib/templates/floatarraylabeled.template.mli
  testsuite/tests/lib-array/test_array.ml
  testsuite/tests/lib-floatarray/floatarray.ml
  testsuite/tests/lib-list/test.ml
  testsuite/tests/lib-seq/test.ml
Labels: stdlib, merge-me

#11843 Add `In_channel.input_lines` and `In_channel.fold_lines`
  Changes
  stdlib/in_channel.ml
  stdlib/in_channel.mli
  testsuite/tests/lib-channels/input_lines.ml
Labels: stdlib

#11885 Fix the computation of dependencies for the standard library
  stdlib/Makefile
Labels: no-change-entry-needed, merge-me

#11898 typing/typetexp: simplify create_package_type_mty
  .depend
  Changes
  typing/typetexp.ml
  typing/typetexp.mli
Labels: no-change-entry-needed, merge-me, refactoring

#11207 Fix #11150: avoid recomputation in Typedecl.check_wellfounded
  Changes
  boot/ocamlc
  boot/ocamllex
  testsuite/tests/typing-misc/constraints.ml
  testsuite/tests/typing-misc/wellfounded.ml
  testsuite/tests/typing-misc/wellfounded11150.ml
  testsuite/tests/typing-modules/pr7726.ml
  testsuite/tests/typing-modules/recursive.ml
  testsuite/tests/typing-objects/Tests.ml
  testsuite/tests/typing-poly/poly.ml
  testsuite/tests/typing-polyvariants-bugs/pr10664.reference~
  testsuite/tests/typing-private-bugs/pr5026_bad.compilers.reference
  testsuite/tests/typing-recmod/t01bad.compilers.reference
  testsuite/tests/typing-recmod/t04bad.compilers.reference
  testsuite/tests/typing-recmod/t15bad.compilers.reference
  testsuite/tests/typing-rectypes-bugs/pr5343_bad.compilers.reference
  testsuite/tests/typing-unboxed-types/test_flat.ml
  typing/typedecl.ml
Labels: bug

#11901 Update magic number bumping instructions
  Makefile.config.in
  utils/HACKING.adoc
Labels: no-change-entry-needed

#11514 Document ocamltest builtin variables and actions
  Changes
  ocamltest/actions.ml
  ocamltest/actions.mli
  ocamltest/actions_helpers.ml
  ocamltest/builtin_actions.ml
  ocamltest/ocaml_actions.ml
  ocamltest/ocaml_tests.ml
  ocamltest/ocamltest.org
  ocamltest/ocamltest_config.mli
  ocamltest/options.ml
  ocamltest/tests.ml
  ocamltest/tests.mli
Labels: merge-me

#11893 Fix code duplication in pattern matching of polymorphic variants
  Changes
  lambda/matching.ml
  testsuite/tests/regression/pr11887/pr11887.ml
Labels: merge-me

#11914 tools/check-typo-since: Fix syntax error
  tools/check-typo-since
Labels: no-change-entry-needed

#11679 Improve the error message about too many arguments
  .depend
  Changes
  parsing/location.ml
  testsuite/tests/typing-misc/apply_non_function.ml
  typing/typecore.ml
  typing/typecore.mli
  typing/typedtree.ml
  typing/typedtree.mli
Labels: merge-me

#11892 Improve documentation of exec* functions (#11754)
  Changes
  otherlibs/unix/unix.mli
  otherlibs/unix/unixLabels.mli
Labels: merge-me

#11872 Fix #11287 by cleaning up "reserved header bits" in the runtime
  Changes
  Makefile.config.in
  asmcomp/cmm_helpers.ml
  asmcomp/cmm_helpers.mli
  configure
  configure.ac
  runtime/caml/gc.h
  runtime/caml/m.h.in
  runtime/caml/memory.h
  runtime/caml/misc.h
  runtime/caml/mlvalues.h
  runtime/caml/shared_heap.h
  runtime/hash.c
  runtime/intern.c
  runtime/major_gc.c
  runtime/memory.c
  runtime/minor_gc.c
  runtime/shared_heap.c
  runtime/startup_byt.c
  utils/config.fixed.ml
  utils/config.generated.ml.in
  utils/config.mli
Labels: merge-me, runtime-system

#11329 serialization functions between Random.State.t and Bytes.t
  Changes
  stdlib/.depend
  stdlib/random.ml
  stdlib/random.mli
Labels: merge-me

#10931 Improve warning 14: illegal backslash. Fix #10929
  Changes
  testsuite/tests/lexing/escape.ocaml.reference
  testsuite/tests/lexing/uchar_esc.ocaml.reference
  utils/warnings.ml
Labels: merge-me

#11967 Multicore cleanup: remove traces of Obj.truncate
  Changes
  asmcomp/cmm_helpers.ml
  middle_end/semantics_of_primitives.ml
  runtime/caml/misc.h
  runtime/caml/mlvalues.h
  stdlib/list.ml
Labels: merge-me

#11929 testsuite: include an example of each spellcheck-style error message
  testsuite/tests/messages/spellcheck.ml
Labels: no-change-entry-needed, error-messages

#11919 Add new runtime events counters for major heap stats and minor heap sizing
  Changes
  otherlibs/runtime_events/runtime_events.ml
  otherlibs/runtime_events/runtime_events.mli
  runtime/caml/runtime_events.h
  runtime/major_gc.c
  testsuite/tests/lib-runtime-events/test_caml_counters.ml
Labels: runtime-system

#10967 Add Filename.temp_dir function to create a temporary directory
  Changes
  stdlib/filename.ml
  stdlib/filename.mli
  testsuite/tests/lib-filename/temp.ml
Labels: stdlib, merge-me

#11894 Correct descriptions of CAMLreturn and CAMLreturn0 in interfacing C page, Fixes #7179
  Changes
  manual/src/cmds/intf-c.etex
Labels: documentation

#11972 refactor runtime/frame_descriptors.c in preparation for quadratic-time fix
  Changes
  runtime/caml/frame_descriptors.h
  runtime/fiber.c
  runtime/frame_descriptors.c
  runtime/signals_nat.c
Labels: approved
