Repository ocaml/ocaml, pull requests merged in 2023-05, with the labels that each got.

#12240 Fix typo in privatetypes.etex
  manual/src/refman/extensions/privatetypes.etex
Labels: no-change-entry-needed

#12244 Dune build: `gen_primitives.sh` must be called from the root
  runtime/dune
  runtime/gen_primitives.sh
Labels: no-change-entry-needed

#12245 Dune build: fix domainstate ml/mli generation
  utils/dune
Labels: no-change-entry-needed

#12191 #12188: fix coercion in value bindings
  Changes
  boot/menhir/parser.ml
  parsing/ast_helper.ml
  parsing/ast_helper.mli
  parsing/ast_iterator.ml
  parsing/ast_mapper.ml
  parsing/depend.ml
  parsing/parser.mly
  parsing/parsetree.mli
  parsing/pprintast.ml
  parsing/printast.ml
  testsuite/tests/exotic-syntax/exotic.ml
  testsuite/tests/parsetree/source.ml
  testsuite/tests/typing-gadts/test.ml
  typing/typecore.ml
Labels: parsetree-change

#12247 Provide an --{enable,disable}-ocamldebug option synonym of --{enable,disable}-debugger
  Changes
  Makefile
  configure
  configure.ac
Labels: merge-me

#12217 Add Array.shuffle
  Changes
  stdlib/array.ml
  stdlib/array.mli
  stdlib/arrayLabels.mli
  stdlib/float.ml
  stdlib/float.mli
  stdlib/templates/floatarraylabeled.template.mli
Labels: stdlib, merge-me

#12254 ocamltest/README.md: translate examples to new test script syntax
  ocamltest/README.md
Labels: no-change-entry-needed

#12270 testsuite: unlock mutexes in tests before exit
  testsuite/tests/backtrace/backtrace_systhreads.ml
  testsuite/tests/lib-sync/trylock.ml
  testsuite/tests/lib-threads/mutex_errors.ml
Labels: no-change-entry-needed, merge-me

#12025 Split `Typecore.unify_pat_types` into two to avoid unnecessary references to the environment in `type_pat`
  Changes
  typing/typecore.ml
Labels: typing, merge-me, refactoring

#12266 Clean lex directory during partialclean rather than clean
  Makefile
Labels: no-change-entry-needed

#12265 Fix the configuration of ZSTD on mingw-w64
  Changes
  Makefile.config.in
  configure
  configure.ac
  ocamltest/ocamltest_config.ml.in
  utils/config.generated.ml.in
Labels: bug
