Repository ocaml/ocaml, pull requests merged in 2023-06, with the labels that each got.

#12227 configure: detect mixed mode userspace on arm
  configure
  configure.ac
Labels: no-change-entry-needed

#12263 Document that `Domain.spawn` can raise an exception
  stdlib/domain.mli
Labels: no-change-entry-needed

#12285 Update deprecated GitHub Actions
  .github/workflows/build.yml
  .github/workflows/hygiene.yml
Labels: no-change-entry-needed

#12288 manual: remove 32-bit x86 native code references
  manual/src/cmds/native.etex
Labels: no-change-entry-needed

#12279 Improve man pages rendering
  man/ocaml.1
  man/ocamlc.1
  man/ocamlcp.1
  man/ocamldebug.1
  man/ocamldep.1
  man/ocamldoc.1
  man/ocamllex.1
  man/ocamlmktop.1
  man/ocamlopt.1
  man/ocamlprof.1
  man/ocamlrun.1
  man/ocamlyacc.1
Labels: no-change-entry-needed

#12292 Fix incorrect dependency and tweak shell quoting
  Makefile
  stdlib/Makefile
  stdlib/header.c
  stdlib/headernt.c
Labels: no-change-entry-needed

#12290 Fix typo in `blit_string` doc
  stdlib/bytes.mli
  stdlib/bytesLabels.mli
Labels: no-change-entry-needed

#12286 Replace the set-output command with the GITHUB_OUTPUT environment file
  tools/ci/actions/check-manual-modified.sh
  tools/ci/actions/runner.sh
Labels: no-change-entry-needed

#12296 Dust .gitattributes
  .gitattributes
Labels: no-change-entry-needed

#12031 Use a dedicated type to represent global identifiers in CMO files
  .depend
  Changes
  boot/ocamlc
  boot/ocamllex
  bytecomp/bytelink.ml
  bytecomp/bytelink.mli
  bytecomp/bytepackager.ml
  bytecomp/bytepackager.mli
  bytecomp/emitcode.ml
  bytecomp/emitcode.mli
  bytecomp/symtable.ml
  bytecomp/symtable.mli
  debugger/eval.ml
  debugger/loadprinter.ml
  debugger/printval.ml
  driver/compile.ml
  file_formats/cmo_format.mli
  otherlibs/dynlink/byte/dynlink.ml
  otherlibs/dynlink/dynlink_common.ml
  otherlibs/dynlink/dynlink_platform_intf.ml
  otherlibs/dynlink/native/dynlink.ml
  testsuite/tests/lib-dynlink-initializers/test10_main.byte.reference
  testsuite/tests/tool-dumpobj/test.reference
  testsuite/tests/tool-toplevel/pr6468.compilers.reference
  testsuite/tests/tool-toplevel/pr9701.compilers.reference
  tools/dumpobj.ml
  tools/objinfo.ml
  tools/primreq.ml
  toplevel/byte/topeval.ml
  toplevel/expunge.ml
  toplevel/topcommon.ml
Labels: merge-me

#12308 Allow `make promote-menhir` from Windows
  Makefile.common
  Makefile.menhir
Labels: no-change-entry-needed

#12293 Compute `$(STDLIB_MODULES)` with GNU make functions instead of `runtime/sak`
  Makefile.common
  runtime/sak.c
  stdlib/StdlibModules
Labels: no-change-entry-needed

#12306 Correct dependencies on otherlibs
  .depend
  .gitignore
  Makefile
  boot/menhir/parser.ml
  parsing/ast_mapper.ml
  parsing/parser.mly
  toplevel/topcommon.ml
  typing/typecore.ml
  typing/untypeast.ml
Labels: no-change-entry-needed

#12310 update README with native code architecture support in 5.1/2
  Changes
  README.adoc
Labels: no-change-entry-needed

#12315 Use type annotations from arguments in let rec
  Changes
  testsuite/tests/typing-misc/let_rec_approx.ml
  typing/typecore.ml
Labels: merge-me

#12316 update the ill-types ppx_example in Ast_mapper module
  parsing/ast_mapper.mli
Labels: no-change-entry-needed

#12319 Remove eroneous line directives in dynlink
  otherlibs/dynlink/byte/dynlink.ml
  otherlibs/dynlink/dynlink_common.ml
  otherlibs/dynlink/dynlink_platform_intf.ml
  otherlibs/dynlink/dynlink_types.ml
  otherlibs/dynlink/native/dynlink.ml
  testsuite/tests/backtrace/backtrace_dynlink.flambda.reference
  testsuite/tests/backtrace/backtrace_dynlink.reference
  testsuite/tests/lib-dynlink-initializers/test10_main.byte.reference
  testsuite/tests/lib-dynlink-initializers/test10_main.native.reference
Labels: no-change-entry-needed

#12333 manual: Link to Effect module in Effect handlers chapter
  manual/src/refman/extensions/effects.etex
Labels: no-change-entry-needed

#12336 changelog: explain Topdirs breaking changes
  Changes
Labels: no-change-entry-needed, merge-me

#11931 Fix tricky typing bug with type substitutions
  Changes
  testsuite/tests/typing-signatures/regression_tsubst_error.ml
  typing/ctype.ml
  typing/subst.ml
  typing/subst.mli
Labels: bug, typing, merge-me

#12341 Infinite recursion detected (sic)
  runtime/misc.c
Labels: no-change-entry-needed

#12320 Fix Windows Sys.rename regression from #12184
  Changes
  runtime/win32.c
  testsuite/tests/lib-sys/rename.ml
  testsuite/tests/lib-sys/rename.reference
Labels: flaky-ci-failure
