Repository ocaml/ocaml, pull requests merged in 2024-04, with the labels that each got.

#13058 [tsan] Add instrumentation to caml_call_gc
  Changes
  runtime/amd64.S
  runtime/arm64.S
  runtime/power.S
  runtime/riscv.S
  runtime/s390x.S
Labels: run-thread-sanitizer

#13029 On Windows, only enable zstd if programs can run
  configure
  configure.ac
Labels: no-change-entry-needed

#13056 Refer to paper about polymorphic unification
  typing/ctype.ml
Labels: no-change-entry-needed

#13066 manual: fix OCAMLRUNPARAM l parameter documentation
  Changes
  manual/src/cmds/runtime.etex
Labels: no-change-entry-needed

#13065 Perform CI builds on macOS 14 for ARM64 and macOS 13 for x86_64.
  .github/workflows/build.yml
Labels: no-change-entry-needed

#13071 Uniform usage message for all tools
  debugger/main.ml
  lex/main.ml
  tools/ocamlcmt.ml
  tools/ocamlcp_common.ml
  tools/ocamlprof.ml
Labels: no-change-entry-needed

#13069 Workaround Cygwin 3.5.x regression in AppVeyor
  tools/ci/appveyor/appveyor_build.cmd
  tools/ci/appveyor/appveyor_build.sh
Labels: no-change-entry-needed

#13068 Minor post-merge improvements to statmemprof
  runtime/memprof.c
Labels: no-change-entry-needed, merge-me

#13080 Harden `gen_primitives.sh` to cope with Windows sort utility
  runtime/gen_primitives.sh
Labels: no-change-entry-needed, merge-me

#13082 matching: minor simplification in `do_for_multiple_match`
  lambda/matching.ml
Labels: no-change-entry-needed

#13081 C fixes for Windows
  otherlibs/unix/access.c
  otherlibs/unix/chmod.c
  otherlibs/unix/close_win32.c
  otherlibs/unix/dup_win32.c
  otherlibs/unix/select_win32.c
  otherlibs/unix/socketaddr.c
  runtime/backtrace_byt.c
  runtime/dynlink.c
  runtime/startup_byt.c
  runtime/sys.c
  yacc/error.c
Labels: no-change-entry-needed

#13085 Fix some messages emitted by the verbose option.
  runtime/major_gc.c
Labels: no-change-entry-needed

#13089 Fix `snprintf_os` use in `runtime_events_consumer.c`
  Changes
  otherlibs/runtime_events/runtime_events_consumer.c
Labels: windows, merge-me

#13047 Add Sys.poll_actions to run pending runtime actions
  Changes
  asmcomp/cmm.ml
  asmcomp/cmm.mli
  asmcomp/cmmgen.ml
  asmcomp/printcmm.ml
  asmcomp/selectgen.ml
  asmcomp/thread_sanitizer.ml
  boot/ocamlc
  boot/ocamllex
  bytecomp/bytegen.ml
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/printlambda.ml
  lambda/tmc.ml
  lambda/translprim.ml
  lambda/value_rec_compiler.ml
  middle_end/clambda_primitives.ml
  middle_end/clambda_primitives.mli
  middle_end/convert_primitives.ml
  middle_end/internal_variable_names.ml
  middle_end/printclambda_primitives.ml
  middle_end/semantics_of_primitives.ml
  runtime/signals.c
  stdlib/sys.ml.in
  stdlib/sys.mli
Labels: merge-me

#13001 shapes: do not read_back entire shape to get aliases uids
  Changes
  testsuite/tests/shape-index/index_aliases.ml
  testsuite/tests/shape-index/index_aliases.reference
  testsuite/tests/shape-index/index_functor.reference
  typing/shape_reduce.ml
  typing/shape_reduce.mli
Labels: merge-me

#13094 Fix undefined behavior of left-shifting a negative number
  Changes
  runtime/bigarray.c
Labels: merge-me

#13087 Clarify `ocamldebug` availability
  README.win32.adoc
  manual/src/cmds/debugger.etex
Labels: no-change-entry-needed, merge-me

#13086 Fix spurious major GC slices.
  Changes
  runtime/caml/domain_state.tbl
  runtime/domain.c
  runtime/intern.c
  runtime/major_gc.c
  runtime/memory.c
Labels: merge-me

#13100 Fix detection of zstd when compiling with musl-gcc
  configure
  configure.ac
Labels: no-change-entry-needed

#13105 dune: improve build by adding missing dependencies
  dune
Labels: no-change-entry-needed

#13095 Improve Autoconf C compiler feature detection
  aclocal.m4
  build-aux/ax_check_compile_flag.m4
  configure
  configure.ac
Labels: no-change-entry-needed

#13076 The Pattern-Matching Bug: special handling of final exits
  Changes
  lambda/matching.ml
  testsuite/tests/basic/patmatch_for_multiple.ml
  testsuite/tests/basic/patmatch_split_no_or.ml
  testsuite/tests/match-side-effects/partiality.ml
Labels: merge-me

#13114 Update debugger network code
  Changes
  debugger/program_management.ml
  debugger/unix_tools.ml
  debugger/unix_tools.mli
  runtime/debugger.c
Labels: merge-me

#13117 [runtime] make rounding computations more explicit
  Changes
  runtime/caml/misc.h
  runtime/fiber.c
  runtime/platform.c
Labels: merge-me

#13119 [runtime] Introduce a platform-independent header for portable CFI/DWARF constructs
  runtime/amd64.S
  runtime/arm64.S
  runtime/caml/asm.h
  runtime/riscv.S
  runtime/s390x.S
Labels: no-change-entry-needed, merge-me

#13088 Make [list_labels] pure
  Changes
  testsuite/tests/typing-gadts/optional_args.ml
  typing/typecore.ml
Labels: merge-me

#13125 gha: Cache Autoconf cache between MSVC builds
  .github/workflows/build-msvc.yml
Labels: no-change-entry-needed

#13130 [RESUBMIT] Simple pretty-printing patches for 5.2 based on trunk
  Changes
  parsing/pprintast.ml
  testsuite/tests/parsetree/source.ml
Labels: merge-me

#13103 FreeBSD amd64: emit .note.GNU-stack same as on Linux
  Changes
  asmcomp/amd64/emit.mlp
  runtime/amd64.S
Labels: merge-me

#13131 gha: use all available cores when building MSVC
  .github/workflows/build-msvc.yml
Labels: no-change-entry-needed

#13126 Update some GitHub Actions actions
  .github/workflows/build-msvc.yml
  .github/workflows/build.yml
  .github/workflows/hygiene.yml
  .github/workflows/tsan.yml
Labels: no-change-entry-needed

#13128 Fix some parallel tests that assume fairness.
  testsuite/tests/parallel/domain_parallel_spawn_burn.ml
  testsuite/tests/parallel/domain_parallel_spawn_burn_gc_set.ml
  testsuite/tests/parallel/domain_serial_spawn_burn.ml
Labels: no-change-entry-needed

#13137 Remove obsolete `SHRINKED_GNUC` macro check
  runtime/caml/config.h
Labels: no-change-entry-needed

#13129 Matching minor refactorings
  lambda/matching.ml
Labels: no-change-entry-needed, merge-me

#13121 The Pattern-Matching Bug: testsuite improvements
  testsuite/tests/match-side-effects/check_partial.ml
  testsuite/tests/match-side-effects/partiality.ml
Labels: no-change-entry-needed
