Repository ocaml/ocaml, pull requests merged in 2024-01, with the labels that each got.

#12872 stdlib: dynarrays are injective
  stdlib/dynarray.mli
Labels: no-change-entry-needed

#12880 Update opam file dependency to 5.3 after branching 5.2
  ocaml-variants.opam
Labels: no-change-entry-needed, merge-me

#12869 Stdlib: Add take, drop, take_while and drop_while to the List module
  Changes
  stdlib/list.ml
  stdlib/list.mli
  stdlib/listLabels.mli
  testsuite/tests/lib-list/test.ml
Labels: stdlib, merge-me

#12810 ThreadSanitizer support for arm64
  Changes
  asmcomp/arm64/emit.mlp
  configure
  configure.ac
  manual/src/cmds/tsan.etex
  runtime/arm64.S
Labels: merge-me, thread-sanitizer

#12883 optimize Dynarray.of_list
  stdlib/dynarray.ml
Labels: no-change-entry-needed

#12746 Simplify and clean up TSan annotations
  Changes
  runtime/caml/mlvalues.h
  runtime/caml/tsan.h
  runtime/fiber.c
  runtime/major_gc.c
  runtime/memory.c
  runtime/minor_gc.c
  runtime/misc.c
  runtime/shared_heap.c
  runtime/str.c
  runtime/tsan.c
  runtime/weak.c
  tools/ci/inria/sanitizers/script
Labels: merge-me, runtime-system, thread-sanitizer

#12859 Make Gc.compact do a complete compaction, add Gc.quick_compact
  Changes
  runtime/gc_ctrl.c
  testsuite/tests/compaction/test_compact_full.ml
  testsuite/tests/lib-runtime-events/test.reference
  testsuite/tests/lib-runtime-events/test_caml.reference
Labels: runtime-system

#12839 Remove dead code from `camlatomic.h` and remove the dependency of `domain.h` on `platform.h`
  Changes
  configure
  configure.ac
  runtime/afl.c
  runtime/caml/camlatomic.h
  runtime/caml/domain.h
  runtime/caml/platform.h
  runtime/caml/s.h.in
  runtime/caml/sync.h
  runtime/domain.c
  runtime/fail_nat.c
  runtime/gc_stats.c
  runtime/globroots.c
  runtime/runtime_events.c
  runtime/signals.c
Labels: runtime-system

#12890 arm64 backend: tweak specific_operation names
  asmcomp/arm64/arch.ml
  asmcomp/arm64/arch.mli
  asmcomp/arm64/emit.mlp
Labels: no-change-entry-needed

#12851 Fixes #12799 (race between runtime events teardown and event emission)
  Changes
  runtime/domain.c
Labels: bug, runtime-system

#12892 testsuite: flush stdout when testing printing
  testsuite/tests/typing-objects/Exemples.ml
Labels: no-change-entry-needed, merge-me

#12834 Refactor caml_c_thread_(un)register to fix various bugs
  Changes
  otherlibs/systhreads/st_stubs.c
Labels: bug, threads, runtime-system

#12899 make Runtime_events.Type.register domain-safe
  otherlibs/runtime_events/runtime_events.ml
Labels: bug, no-change-entry-needed

#12896 Explicitly compile the primitives object before linking bytecode executables
  Changes
  Makefile
  bytecomp/bytelink.ml
  bytecomp/symtable.ml
  runtime/caml/mlvalues.h
  utils/ccomp.ml
  utils/ccomp.mli
Labels: compiler-driver, merge-me

#12906 Fix data race in scan_native_globals
  runtime/globroots.c
Labels: no-change-entry-needed

#12886 Reinitialize IO mutexes after fork
  Changes
  otherlibs/systhreads/st_stubs.c
  runtime/caml/platform.h
  runtime/platform.c
Labels: runtime-system

#12855 Do not fail too hard in domain_thread_func
  runtime/domain.c
Labels: no-change-entry-needed, runtime-system

#12911 Consistent domain count when domain creation fails
  runtime/domain.c
Labels: no-change-entry-needed

#12909 Reorganise how MKEXE_VIA_CC is built to make it correct for MSVC
  Changes
  Makefile.build_config.in
  configure
  configure.ac
Labels: merge-me

#12878 Fix treatment of injectivity for private recursive types.
  Changes
  testsuite/tests/typing-misc/injectivity.ml
  typing/typedecl_variance.ml
Labels: bug, typing, typing-modules

#12084 Check link order when creating archive and when using ocamlopt
  .depend
  Changes
  Makefile
  asmcomp/asmlibrarian.ml
  asmcomp/asmlibrarian.mli
  asmcomp/asmlink.ml
  asmcomp/asmlink.mli
  bytecomp/bytelibrarian.ml
  bytecomp/bytelibrarian.mli
  bytecomp/bytelink.ml
  bytecomp/bytelink.mli
  testsuite/tests/badly-ordered-deps/main.bytecode.reference
  testsuite/tests/badly-ordered-deps/main.ml
  testsuite/tests/badly-ordered-deps/main.native.reference
  testsuite/tests/lib-dynlink-initializers/test4_main.ml
  testsuite/tests/lib-dynlink-initializers/test4_plugin_a.ml
  testsuite/tests/lib-dynlink-initializers/test4_plugin_b.ml
  utils/linkdeps.ml
  utils/linkdeps.mli
Labels: compiler-driver

#12599 Refactor Dynlink startup to avoid parsing bytecode sections twice
  .depend
  Changes
  bytecomp/bytelink.ml
  bytecomp/dll.ml
  bytecomp/meta.ml
  bytecomp/meta.mli
  bytecomp/symtable.ml
  bytecomp/symtable.mli
  runtime/caml/startup.h
  runtime/dynlink.c
  runtime/startup_byt.c
Labels: runtime-system

#12918 Disable control flow integrity on OpenBSD
  Changes
  configure
  configure.ac
Labels: merge-me

#12922 Remove caml_get_section_table (+bootstrap)
  boot/ocamlc
  boot/ocamllex
  runtime/meta.c
  runtime/startup_byt.c
Labels: no-change-entry-needed

#12942 Correct order of "In module `Foo`" lines in module inclusion type errors
  Changes
  testsuite/tests/typing-modules/inclusion_errors.ml
  typing/includemod_errorprinter.ml
Labels: bug, merge-me

#12908 Fix overflow in ocamllex's table backend
  Changes
  lex/output.ml
  runtime/lexing.c
Labels: bug

#12895 ocamltest: one line per passing test
  ocamltest/main.ml
  testsuite/summarize.awk
Labels: no-change-entry-needed, ocamltest
