Repository ocaml/ocaml, pull requests merged in 2024-02, with the labels that each got.

#12907 ThreadSanitizer support for Risc-V
  Changes
  asmcomp/riscv/emit.mlp
  configure
  configure.ac
  runtime/riscv.S
  testsuite/tests/regression/pr9853/compaction_corner_case.ml
Labels: merge-me, thread-sanitizer

#12952 Reword misleading comment
  stdlib/stdlib.ml
Labels: no-change-entry-needed

#12861 Properly modify Caml_state->backtrace_last_exn
  otherlibs/systhreads/st_stubs.c
Labels: bug, threads

#12888 toplevel: fix printing of uncaught exceptions when loading `.cmo` files
  .depend
  Changes
  testsuite/tests/tool-ocaml/gpr12887.compilers.reference
  testsuite/tests/tool-ocaml/gpr12887.ml
  toplevel/byte/topmain.ml
  toplevel/native/topmain.ml
  toplevel/topcommon.ml
  toplevel/topcommon.mli
  toplevel/toploop.ml
  toplevel/toploop.mli
Labels: bug

#12949 Release cycle description
  CONTRIBUTING.md
  Changes
  release-info/introduction.md
Labels: merge-me

#12751 Construct the bytecode executable header in ocamlc
  .gitignore
  Changes
  Makefile
  Makefile.common
  Makefile.config.in
  boot/ocamlc
  boot/ocamllex
  bytecomp/bytelink.ml
  configure
  configure.ac
  stdlib/Makefile
  stdlib/header.c
  stdlib/headernt.c
  tools/ocamlsize
  tools/stripdebug.ml
Labels: bug, compiler-driver

#12955 Fixing typos
  Changes
  Makefile.common
  asmcomp/stackframegen.ml
  manual/src/cmds/intf-c.etex
  parsing/builtin_attributes.mli
  release-info/introduction.md
  runtime/caml/domain.h
  runtime/lf_skiplist.c
  runtime/memprof.c
  runtime/tsan.c
  stdlib/CONTRIBUTING.md
  stdlib/dynarray.ml
  stdlib/marshal.mli
  stdlib/random.ml
  testsuite/tests/basic/stringmatch.ml
  testsuite/tests/frame-pointers/fp_backtrace.c
  testsuite/tests/typing-modules/inclusion_errors.ml
  tools/objinfo.ml
  typing/typecore.ml
  typing/value_rec_check.ml
  utils/linkdeps.mli
  utils/local_store.mli
Labels: no-change-entry-needed

#12133 Format: add `pp_print_substring` and `pp_print_substring_as`
  Changes
  stdlib/format.ml
  stdlib/format.mli
Labels: stdlib

#11716 ocamllex: Check for matched parentheses in actions
  Changes
  lex/lexer.mll
  testsuite/tests/tool-lexyacc/csets.mll
Labels: merge-me

#12962 add user-friendly message to debug runtime
  runtime/startup_aux.c
  runtime/startup_byt.c
  runtime/startup_nat.c
Labels: no-change-entry-needed, merge-me

#12894 Fix datarace between oldify and allocation
  Changes
  runtime/caml/tsan.h
  runtime/major_gc.c
  runtime/shared_heap.c
Labels: merge-me, run-thread-sanitizer

#12919 s390x: fix register corruption in runtime
  Changes
  runtime/s390x.S
Labels: bug

#12900 Fix locking bug with custom runtime events
  Changes
  otherlibs/runtime_events/runtime_events.ml
  runtime/caml/runtime_events.h
  runtime/runtime_events.c
  testsuite/tests/lib-runtime-events/test_user_event_signal.ml
  testsuite/tests/lib-runtime-events/test_user_event_signal.reference
Labels: bug, merge-me

#12876 ThreadSanitizer support for POWER
  Changes
  asmcomp/power/emit.mlp
  configure
  configure.ac
  manual/src/cmds/tsan.etex
  runtime/power.S
Labels: thread-sanitizer

#12915 ThreadSanitizer support for s390x
  Changes
  asmcomp/s390x/emit.mlp
  configure
  configure.ac
  manual/src/cmds/tsan.etex
  runtime/s390x.S
Labels: thread-sanitizer

#12970 fix typo in runtime_events.ml
  otherlibs/runtime_events/runtime_events.ml
Labels: no-change-entry-needed

#12969 Fix a data race in `caml_darken_cont`
  Changes
  runtime/major_gc.c
Labels: merge-me

#12882 Execute preemptive systhread switching as a delayed pending action
  Changes
  manual/src/cmds/intf-c.etex
  otherlibs/systhreads/st_stubs.c
  runtime/caml/domain.h
  runtime/domain.c
  runtime/signals.c
Labels: bug, runtime-system

#12860 Fix assertion in caml_ephe_clean
  runtime/caml/shared_heap.h
  runtime/weak.c
Labels: bug, runtime-system

#12978 add missing @since in docs
  otherlibs/unix/unix.mli
  otherlibs/unix/unixLabels.mli
Labels: no-change-entry-needed, merge-me

#12987 #12984: restore the filename computation for companion cmi
  Changes
  asmcomp/asmpackager.ml
  parsing/unit_info.ml
  parsing/unit_info.mli
Labels: merge-me

#12994 Remove un-used and unsafe caml_drop_continuation
  Changes
  boot/ocamlc
  boot/ocamllex
  runtime/fiber.c
Labels: merge-me
