Repository ocaml/ocaml, pull requests merged in 2024-06, with the labels that each got.

#13201 Fix and speedup builds with TSan
  Changes
  Makefile
  Makefile.build_config.in
  Makefile.config.in
  configure
  configure.ac
  utils/ccomp.ml
  utils/config.common.ml.in
  utils/config.fixed.ml
  utils/config.generated.ml.in
  utils/config.mli
Labels: run-thread-sanitizer

#13113 Refactored label comparison
  typing/ctype.ml
Labels: no-change-entry-needed, typing

#13213 Silence cl output when building executables without flexlink
  configure
  configure.ac
Labels: no-change-entry-needed

#12579 OS-based Synchronisation for Stop-the-World Sections
  Changes
  configure
  configure.ac
  runtime/caml/domain.h
  runtime/caml/major_gc.h
  runtime/caml/misc.h
  runtime/caml/platform.h
  runtime/caml/s.h.in
  runtime/domain.c
  runtime/frame_descriptors.c
  runtime/major_gc.c
  runtime/minor_gc.c
  runtime/platform.c
  runtime/runtime_events.c
  runtime/shared_heap.c
Labels: merge-me, runtime-system

#13013 caml_result: an exception monad in C for resource-safe interfaces
  Changes
  runtime/callback.c
  runtime/caml/callback.h
  runtime/caml/fail.h
  runtime/caml/finalise.h
  runtime/caml/memory.h
  runtime/caml/memprof.h
  runtime/caml/mlvalues.h
  runtime/caml/signals.h
  runtime/compare.c
  runtime/domain.c
  runtime/fail_byt.c
  runtime/fail_nat.c
  runtime/finalise.c
  runtime/gc_ctrl.c
  runtime/memprof.c
  runtime/minor_gc.c
  runtime/printexc.c
  runtime/runtime_events.c
  runtime/signals.c
  runtime/startup_aux.c
Labels: merge-me

#13221 [power] more accurate instruction sizes for branch relaxation
  Changes
  asmcomp/power/emit.mlp
Labels: merge-me

#13226 Cleanups for fail.h
  Changes
  manual/src/cmds/intf-c.etex
  runtime/fail.c
Labels: merge-me

#13083 Use macros from `limits.h` to prevent signed integer wrap-around warnigns
  Changes
  runtime/array.c
  runtime/bigarray.c
  runtime/caml/config.h
  runtime/caml/lf_skiplist.h
  runtime/compare.c
  runtime/domain.c
  runtime/ints.c
  runtime/lf_skiplist.c
  runtime/signals.c
Labels: merge-me

#13223 Make the CI dump `config.log` and verbosely print failed commands
  .github/workflows/build-msvc.yml
  .github/workflows/build.yml
  appveyor.yml
  tools/ci/actions/runner.sh
  tools/ci/appveyor/appveyor_build.sh
Labels: no-change-entry-needed

#13206 more documentation about the release calendar
  release-info/News
  release-info/calendar.md
  release-info/howto.md
  release-info/introduction.md
Labels: no-change-entry-needed

#13239 Detect labels as values C extension to enable threaded code interpretation
  Changes
  Makefile
  aclocal.m4
  configure
  configure.ac
  runtime/caml/config.h
  runtime/caml/s.h.in
Labels: merge-me

#13238 Enable software prefetching on MSVC and clang-cl x86 and x86_64
  Changes
  runtime/caml/misc.h
  runtime/misc.c
Labels: merge-me

#13240 Bring `Uchar` hashing on par with other base types like `Int`, `Char`, ...
  Changes
  stdlib/uchar.ml
  stdlib/uchar.mli
  testsuite/tests/lib-uchar/test.ml
Labels: stdlib, merge-me

#12884 add Queue.drop
  Changes
  stdlib/queue.ml
  stdlib/queue.mli
  testsuite/tests/lib-queue/test.ml
Labels: stdlib, merge-me

#13258 Add an easier remember to alias for keeping testsuite artefacts
  testsuite/Makefile
Labels: no-change-entry-needed, merge-me

#13261 Restore GDB backtrace on Linux
  Changes
  runtime/arm64.S
Labels: merge-me

#13265 [asmcomp] s390x: minor simplification
  asmcomp/s390x/arch.ml
  asmcomp/s390x/arch.mli
  asmcomp/s390x/emit.mlp
  utils/clflags.ml
Labels: no-change-entry-needed, merge-me

#13266 [asmcomp] riscv64: minor simplification
  asmcomp/riscv/emit.mlp
Labels: no-change-entry-needed, merge-me
