Repository ocaml/ocaml, pull requests merged in 2024-11, with the labels that each got.

#13592 Perform a shallow clone of git submodules by default
  .gitattributes
  .gitmodules
Labels: no-change-entry-needed, merge-me

#13593 Unify separate atomic counter functions in runtime
  otherlibs/unix/mmap_ba.c
  runtime/bigarray.c
  runtime/caml/atomic_refcount.h
  runtime/caml/bigarray.h
  runtime/caml/camlatomic.h
  runtime/caml/misc.h
  runtime/caml/mlvalues.h
  runtime/caml/platform.h
  runtime/major_gc.c
Labels: no-change-entry-needed, merge-me

#13514 Fix #13495: typechecker crash while typing objects
  Changes
  testsuite/tests/typing-objects/pr13495.ml
  testsuite/tests/typing-recmod/pr13514.ml
  typing/ctype.ml
Labels: bug

#13602 adds data_types to dune configuration
  dune
Labels: no-change-entry-needed

#13611 [runtime] [trivial] Do not include <runtime/caml/config.h> from runtime assembly...
  runtime/amd64.S
  runtime/s390x.S
Labels: no-change-entry-needed, merge-me

#13614 Hold lock around ephemeron debugging code.
  runtime/major_gc.c
Labels: no-change-entry-needed, merge-me

#13587 Enable native backend on x86_64 GNU/Hurd
  Changes
  configure
  configure.ac
Labels: merge-me

#13621 gprinttyp: pretty printing for levels
  .depend
  typing/gprinttyp.ml
  typing/gprinttyp.mli
Labels: no-change-entry-needed

#13625 Various fixes to set thread name
  Changes
  configure
  configure.ac
  otherlibs/systhreads/st_stubs.c
  runtime/caml/s.h.in
Labels: merge-me

#13628 lexer: lowercase-only delimiters for quoted strings
  .gitattributes
  Changes
  parsing/lexer.mll
  testsuite/tests/parsing/comments.compilers.reference
  testsuite/tests/parsing/comments.ml
  testsuite/tests/parsing/quotedextensions.compilers.reference
  testsuite/tests/parsing/quotedextensions.ml
Labels: merge-me

#13624 Added a few location while parsing
  Changes
  boot/menhir/parser.ml
  parsing/parser.mly
Labels: merge-me

#13556 A few Autoconf improvements
  aclocal.m4
  configure
  configure.ac
  otherlibs/runtime_events/runtime_events_consumer.c
  otherlibs/systhreads/st_pthreads.h
  otherlibs/unix/access.c
  otherlibs/unix/caml/unixsupport.h
  otherlibs/unix/envir_unix.c
  otherlibs/unix/fcntl.c
  otherlibs/unix/ftruncate.c
  otherlibs/unix/getgroups.c
  otherlibs/unix/initgroups.c
  otherlibs/unix/lockf_unix.c
  otherlibs/unix/lseek_unix.c
  otherlibs/unix/lseek_win32.c
  otherlibs/unix/mmap_unix.c
  otherlibs/unix/nice.c
  otherlibs/unix/open_unix.c
  otherlibs/unix/setgroups.c
  otherlibs/unix/setsid.c
  otherlibs/unix/truncate_unix.c
  otherlibs/unix/unixsupport_unix.c
  runtime/backtrace_byt.c
  runtime/caml/compatibility.h
  runtime/caml/s.h.in
  runtime/debugger.c
  runtime/domain.c
  runtime/dynlink.c
  runtime/fiber.c
  runtime/fix_code.c
  runtime/io.c
  runtime/platform.c
  runtime/runtime_events.c
  runtime/startup_byt.c
  runtime/sys.c
  runtime/unix.c
  stdlib/header.c
  yacc/main.c
Labels: no-change-entry-needed

#13610 Document how to regenerate the `configure` script
  HACKING.adoc
  release-info/howto.md
  tools/ci/actions/check-configure.sh
  tools/pre-commit-githook
Labels: no-change-entry-needed

#13640 [tsan] Update oracles
  testsuite/tests/tsan/array_elt.reference
  testsuite/tests/tsan/exn_from_c.reference
  testsuite/tests/tsan/exn_in_callback.reference
  testsuite/tests/tsan/exn_reraise.reference
  testsuite/tests/tsan/perform.reference
  testsuite/tests/tsan/raise_through_handler.reference
  testsuite/tests/tsan/record_field.reference
  testsuite/tests/tsan/reperform.reference
  testsuite/tests/tsan/unhandled.reference
  testsuite/tests/tsan/waitgroup_stubs.c
Labels: no-change-entry-needed

#13600 Fix #13598 by protecting partial_pred
  Changes
  testsuite/tests/typing-gadts/pr13579.ml
  typing/ctype.ml
  typing/ctype.mli
  typing/typecore.ml
Labels: bug

#13431 Simplify Parsetree change action and add ppxlib maintainers mention
  .github/workflows/hygiene.yml
  .github/workflows/parsetree-change.yml
  Changes
  tools/ci/actions/check-parsetree-modified.sh
Labels: merge-me

#13585 Fix side-effect of removal of equation_generation
  testsuite/tests/typing-gadts/pr13579.ml
  typing/ctype.ml
  typing/ctype.mli
  typing/typecore.ml
Labels: bug, no-change-entry-needed

#13510 Fix regression on mutually recursive types caused by #12180
  Changes
  testsuite/tests/typing-misc/constraints.ml
  testsuite/tests/typing-modules/mixmod5.ml
  typing/typedecl.ml
Labels: bug

#13650 Fix mangling of caml_system$frametable
  runtime/power.S
  runtime/s390x.S
Labels: no-change-entry-needed

#13639 Put G into FUNCTION, END_FUNCTION and OBJECT
  runtime/amd64.S
  testsuite/tests/frame-pointers/fp_backtrace.c
  testsuite/tests/frame-pointers/stack_realloc.arm64.reference
  testsuite/tests/frame-pointers/stack_realloc2.arm64.reference
Labels: no-change-entry-needed

#13652 Fix a few typos
  HACKING.adoc
  configure
  configure.ac
Labels: no-change-entry-needed, merge-me
