Repository ocaml/ocaml, pull requests merged in 2024-03, with the labels that each got.

#13000 Fix tests that use Unix without checking whether Unix is available.
  testsuite/tests/lib-runtime-events/test_user_event_signal.ml
  testsuite/tests/tsan/array_elt.ml
  testsuite/tests/tsan/exn_from_c.ml
  testsuite/tests/tsan/exn_in_callback.ml
  testsuite/tests/tsan/exn_reraise.ml
  testsuite/tests/tsan/norace_atomics.ml
  testsuite/tests/tsan/perform.ml
  testsuite/tests/tsan/raise_through_handler.ml
  testsuite/tests/tsan/record_field.ml
  testsuite/tests/tsan/reperform.ml
  testsuite/tests/tsan/unhandled.ml
  testsuite/tests/win-unicode/mltest.ml
Labels: no-change-entry-needed, merge-me

#12997 Prevent tail call optimization in unwind test
  testsuite/tests/unwind/stack_walker.c
Labels: no-change-entry-needed

#13006 Fix parsing and setting of parameter v in OCAMLRUNPARAM
  runtime/startup_aux.c
Labels: no-change-entry-needed

#13007 ocamltest: add backtrace to unexpected exception message
  Makefile
  ocamltest/main.ml
Labels: no-change-entry-needed, merge-me

#13008 ocamltest: fix unexpected exception when cma not found
  ocamltest/ocaml_actions.ml
Labels: no-change-entry-needed, merge-me

#13016 riscv64: add a non-executable stack note
  runtime/riscv.S
Labels: no-change-entry-needed

#12678 Free channel buffers on close rather than leaving them to the GC.
  Changes
  runtime/caml/io.h
  runtime/io.c
  testsuite/tests/lib-channels/close_in.ml
  testsuite/tests/lib-channels/close_out.ml
Labels: merge-me, runtime-system

#13017 Ci tweaks for msvc
  .gitattributes
  tools/ci/inria/main
Labels: no-change-entry-needed

#12988 #12985: tweak functor error msgs by prefering changes on the left
  Changes
  testsuite/tests/typing-modules/functors.ml
  testsuite/tests/typing-modules/records_errors_test.ml
  testsuite/tests/typing-modules/variants_errors_test.ml
  typing/includecore.ml
  utils/diffing.ml
Labels: merge-me

#13025 fix some test scripts
  testsuite/tests/backtrace/backtrace_dynlink.ml
  testsuite/tests/lib-dynlink-initializers/test10_main.ml
  testsuite/tests/lib-dynlink-initializers/test1_main.ml
  testsuite/tests/lib-dynlink-initializers/test2_main.ml
  testsuite/tests/lib-dynlink-initializers/test3_main.ml
  testsuite/tests/lib-dynlink-initializers/test5_main.ml
  testsuite/tests/lib-dynlink-initializers/test6_main.ml
  testsuite/tests/lib-dynlink-initializers/test7_main.ml
  testsuite/tests/lib-dynlink-initializers/test8_main.ml
  testsuite/tests/lib-dynlink-initializers/test9_main.ml
  testsuite/tests/lib-dynlink-packed/loader.ml
  testsuite/tests/lib-dynlink-pr4229/main.ml
Labels: no-change-entry-needed

#13028 Tests should not run with -j with ThreadSanitizer
  .github/workflows/tsan.yml
Labels: no-change-entry-needed

#13027 Add an include guard to yacc/defs.h
  yacc/defs.h
Labels: no-change-entry-needed

#13038 Olivier Nicole was recently co-opted as a new maintainer
  CONTRIBUTING.md
Labels: no-change-entry-needed

#12920 Save and restore univar_pairs instead of clobbering
  Changes
  typing/ctype.ml
Labels: bug

#12889 Attempt at a thread-safe implementation of DLS
  Changes
  runtime/domain.c
  stdlib/domain.ml
  stdlib/domain.mli
  testsuite/tests/lib-domain/DLS_thread_safety.ml
  testsuite/tests/lib-domain/DLS_thread_safety.reference
Labels: bug, approved

#13039 Github CI/TSan: tune mmap_rnd_bits for TSan
  .github/workflows/tsan.yml
Labels: no-change-entry-needed, run-thread-sanitizer

#13044 Remove small OCaml3 leftovers
  .depend
  asmcomp/amd64/proc.ml
  asmcomp/arm64/proc.ml
  asmcomp/cmm_helpers.ml
  asmcomp/power/proc.ml
  asmcomp/proc.mli
  asmcomp/riscv/proc.ml
  asmcomp/s390x/proc.ml
Labels: no-change-entry-needed

#13043 manual: remove empty syntax block for lazy patterns
  manual/src/refman/patterns.etex
Labels: no-change-entry-needed, merge-me

#13051 Add a "Syntax error" to a syntax error message that didn't have that information
  Changes
  parsing/parse.ml
  testsuite/tests/parse-errors/unclosed_simple_pattern.compilers.reference
Labels: merge-me

#13052 Make caml_max_stack_wsize atomic to avoid a data race
  runtime/caml/gc_ctrl.h
  runtime/fiber.c
  runtime/gc_ctrl.c
Labels: no-change-entry-needed, run-thread-sanitizer

#13012 parsing: Fix dropped attributes after a '-' or '+'
  Changes
  boot/menhir/parser.ml
  parsing/parser.mly
  testsuite/tests/parsing/prefix_op.compilers.reference
  testsuite/tests/parsing/prefix_op.ml
Labels: merge-me

#13009 Fix native flexlink check on Cygwin
  Changes
  configure
  configure.ac
Labels: merge-me

#12789 Restore 'caml_unregister_frametable' in OCaml 5
  Changes
  runtime/backtrace_nat.c
  runtime/caml/frame_descriptors.h
  runtime/fiber.c
  runtime/frame_descriptors.c
  runtime/signals_nat.c
  runtime/tsan.c
Labels: merge-me

#13060 Remove unused Arch.num_args_addressing
  asmcomp/amd64/arch.ml
  asmcomp/amd64/arch.mli
  asmcomp/arm64/arch.ml
  asmcomp/arm64/arch.mli
  asmcomp/power/arch.ml
  asmcomp/power/arch.mli
  asmcomp/riscv/arch.ml
  asmcomp/riscv/arch.mli
  asmcomp/s390x/arch.ml
  asmcomp/s390x/arch.mli
Labels: no-change-entry-needed
