Repository ocaml/ocaml, pull requests merged in 2024-12, with the labels that each got.

#13595 Use correct CFA register on ARM64
  Changes
  asmcomp/arm64/emit.mlp
  testsuite/tests/unwind/check-linker-version.sh
Labels: merge-me

#13607 [riscv] Fix CFA annotation
  asmcomp/riscv/emit.mlp
Labels: no-change-entry-needed, merge-me

#13661 runtime: help gcc static analyzer by widening a test
  runtime/startup_byt.c
Labels: no-change-entry-needed

#13664 Improve documentation of Map.S.add_to_list
  stdlib/map.mli
  stdlib/moreLabels.mli
  stdlib/templates/map.template.mli
Labels: no-change-entry-needed, documentation

#13666 Improve `regular_nested` example for “Polymorphism” chapter of the manual
  Changes
  manual/src/tutorials/polymorphism.etex
Labels: merge-me

#13660 Remove redundant ~refine argument in Typecore, and clarify use of unify_gadt.
  typing/ctype.ml
  typing/ctype.mli
  typing/typecore.ml
Labels: no-change-entry-needed

#13671 Fix use of incompletely initialised variable in configure.ac
  configure
  configure.ac
Labels: no-change-entry-needed

#13670 AppVeyor: only call Cygwin setup once when upgrading is forced
  tools/ci/appveyor/appveyor_build.cmd
Labels: no-change-entry-needed

#13665 Update GitHub CI Ubuntu from 22.04 to 24.04.
  .github/workflows/build.yml
  testsuite/tests/native-debugger/linux-lldb-amd64.reference
  testsuite/tests/native-debugger/sanitize.awk
Labels: no-change-entry-needed

#13536 toplevel: print shorter paths for constructors/labels in submodules of open modules
  .depend
  Changes
  testsuite/tests/tool-toplevel/constructor_printing.ml
  toplevel/genprintval.ml
  typing/data_types.ml
  typing/data_types.mli
Labels: toplevel, feature-wish

#13681 Refactor `transl_type` in typing/typetexp
  typing/typetexp.ml
Labels: no-change-entry-needed

#13682 Refactor `tree_of_typexp` in typing/tree_of_typexp.ml
  typing/out_type.ml
Labels: no-change-entry-needed

#13684 Refactor in typing/typemod
  typing/typemod.ml
Labels: no-change-entry-needed

#13683 Refactor in parsing/pprintast
  parsing/pprintast.ml
Labels: no-change-entry-needed, merge-me

#13690 Fix #13688 by moving before_generalize call inside with_new_pool
  testsuite/tests/typing-misc/automatic_generalize.ml
  typing/ctype.ml
Labels: bug, no-change-entry-needed

#13679 runtime: remove backup_thread_running
  Changes
  runtime/domain.c
Labels: run-multicoretests

#13668 manual: document support for latin-9 identifier.
  .github/workflows/build.yml
  Changes
  manual/src/Makefile
  manual/src/manual.tex
  manual/src/refman/lex.etex
  manual/tools/transf.mll
Labels: documentation

#13612 Refactor `Typecore.type_application`
  Changes
  lambda/translcore.ml
  lambda/translcore.mli
  ocamldoc/odoc_ast.ml
  typing/printtyped.ml
  typing/tast_iterator.ml
  typing/tast_mapper.ml
  typing/typeclass.ml
  typing/typecore.ml
  typing/typedtree.ml
  typing/typedtree.mli
  typing/untypeast.ml
  typing/value_rec_check.ml
Labels: merge-me

#13674 Fix build of the compiler with `--disable-shared`
  Makefile
  Makefile.cross
Labels: no-change-entry-needed, run-crosscompiler-tests
