Repository ocaml/ocaml, pull requests merged in 2025-07, with the labels that each got.

#14118 Add {Set,Map}.S.is_singleton
  Changes
  stdlib/map.ml
  stdlib/map.mli
  stdlib/moreLabels.mli
  stdlib/set.ml
  stdlib/set.mli
  stdlib/templates/map.template.mli
  stdlib/templates/set.template.mli
  testsuite/tests/generalized-open/accepted_expect.ml
  testsuite/tests/shapes/comp_units.ml
  testsuite/tests/typing-implicit_unpack/implicit_unpack.ml
  testsuite/tests/typing-modules/aliases.ml
  testsuite/tests/typing-modules/pr7818.ml
  testsuite/tests/typing-short-paths/short-paths.compilers.reference
Labels: stdlib, merge-me

#14124 Make List.{take,drop} total
  Changes
  stdlib/list.ml
  stdlib/list.mli
  stdlib/listLabels.mli
  testsuite/tests/lib-list/test.ml
Labels: stdlib

#14100 Fix ignored signature constraints in approximation of recursive modules signatures
  Changes
  testsuite/tests/typing-modules/merge_constraint.ml
  testsuite/tests/typing-recmod/regression_destructive_subst.ml
  typing/typemod.ml
Labels: merge-me

#14082 `__tsan_func_exit()` signature mismatch (#14065)
  Changes
  asmcomp/thread_sanitizer.ml
  configure
  configure.ac
  runtime/amd64.S
  runtime/arm64.S
  runtime/caml/s.h.in
  runtime/caml/tsan.h
  runtime/memory.c
  runtime/power.S
  runtime/riscv.S
  runtime/s390x.S
  runtime/tsan.c
Labels: thread-sanitizer, run-thread-sanitizer

#14119 Speedup some Set/Map access by using is_empty instead of cardinal = 0
  middle_end/flambda/augment_specialised_args.ml
  middle_end/flambda/flambda_to_clambda.ml
  middle_end/flambda/flambda_utils.ml
  middle_end/flambda/freshening.ml
  middle_end/flambda/inline_and_simplify.ml
  middle_end/flambda/ref_to_variables.ml
Labels: no-change-entry-needed

#14141 Rename cstrs to constraints to distinguish from cstrs = constructors
  Changes
  boot/menhir/parser.ml
  ocamldoc/odoc_env.ml
  parsing/ast_helper.ml
  parsing/ast_helper.mli
  parsing/ast_invariants.ml
  parsing/ast_iterator.ml
  parsing/ast_mapper.ml
  parsing/depend.ml
  parsing/parser.mly
  parsing/parsetree.mli
  parsing/pprintast.ml
  parsing/printast.ml
  testsuite/tests/parsetree/locations_test.compilers.reference
  testsuite/tests/parsing/attributes.compilers.reference
  testsuite/tests/parsing/extensions.compilers.reference
  testsuite/tests/parsing/hash_ambiguity.compilers.reference
  testsuite/tests/parsing/shortcut_ext_attr.compilers.reference
  typing/btype.ml
  typing/ctype.ml
  typing/gprinttyp.ml
  typing/oprint.ml
  typing/out_type.ml
  typing/outcometree.mli
  typing/printtyped.ml
  typing/rawprinttyp.ml
  typing/subst.ml
  typing/tast_iterator.ml
  typing/tast_mapper.ml
  typing/typeclass.ml
  typing/typedecl.ml
  typing/typedecl_separability.ml
  typing/typedecl_variance.ml
  typing/typedtree.ml
  typing/typedtree.mli
  typing/typemod.ml
  typing/types.ml
  typing/types.mli
  typing/typetexp.ml
  typing/untypeast.ml
Labels: merge-me, parsetree-change

#14158 runtime: free the minor heap when leaving STW participants
  runtime/domain.c
Labels: bug, no-change-entry-needed, merge-me

#14159 Fix dependency generation when things are disabled
  Makefile
  configure
  configure.ac
Labels: no-change-entry-needed

#14157 minor gc: more consistent memprof logging
  runtime/minor_gc.c
Labels: no-change-entry-needed

#14161 [refactoring] runtime: add a category of 'parked' domains that are undergoing initialization
  Changes
  runtime/domain.c
Labels: merge-me

#14160 Minor heap reservation: change the terminology
  runtime/caml/domain.h
  runtime/domain.c
  runtime/minor_gc.c
Labels: no-change-entry-needed

#13616 Change free list representation in shared heap
  Changes
  runtime/shared_heap.c
Labels: runtime-system

#14164 domain.c: fix `stw_resize_minor_heaps_reservation`.
  runtime/domain.c
Labels: no-change-entry-needed

#14149 Distinguish `(module M : S)` from `(module M) : (module S)` in patterns
  Changes
  boot/menhir/parser.ml
  file_formats/cmt_format.ml
  parsing/ast_helper.ml
  parsing/ast_helper.mli
  parsing/ast_iterator.ml
  parsing/ast_mapper.ml
  parsing/depend.ml
  parsing/parser.mly
  parsing/parsetree.mli
  parsing/pprintast.ml
  parsing/printast.ml
  testsuite/tests/compiler-libs/test_untypeast.ml
  testsuite/tests/parsetree/locations_test.compilers.reference
  testsuite/tests/typing-implicit_unpack/implicit_unpack.ml
  typing/printpat.ml
  typing/printtyped.ml
  typing/tast_iterator.ml
  typing/tast_mapper.ml
  typing/typecore.ml
  typing/typedtree.ml
  typing/typedtree.mli
  typing/typetexp.ml
  typing/untypeast.ml
Labels: parsetree-change

#14053 Make multicore memprof more compositional
  Changes
  runtime/memprof.c
  stdlib/gc.ml
  stdlib/gc.mli
  testsuite/tests/statmemprof/restart.ml
  testsuite/tests/statmemprof/restart.reference
  testsuite/tests/statmemprof/start_stop.ml
  testsuite/tests/statmemprof/start_stop.reference
Labels: merge-me

#14174 Restore multicoretests CI workflow
  .github/workflows/multicoretests.yml
Labels: no-change-entry-needed, merge-me, run-multicoretests
