Repository ocaml/ocaml, pull requests merged in 2025-09, with the labels that each got.

#14215 Better error message when a functor is its own unsafe functor
  lambda/translmod.ml
  testsuite/tests/basic-modules/recursive_module_evaluation_errors.ml
Labels: no-change-entry-needed, merge-me

#14219 Disable TSan test on weak_array_par.ml
  testsuite/tests/weak-ephe-final/weak_array_par.ml
Labels: no-change-entry-needed

#14220 Fix C++ name-mangling issue with `caml_state` on Cygwin
  Changes
  runtime/caml/misc.h
Labels: CI: Full matrix

#14233 Manual attributes page fixes
  manual/src/refman/extensions/attributes.etex
Labels: no-change-entry-needed

#14230 Fix ocamltest criterion for using `-custom` to link test file.
  Changes
  ocamltest/ocaml_actions.ml
Labels: merge-me, CI: Full matrix

#14234 Avoid an undefined variable warning from Make
  Makefile.common
Labels: no-change-entry-needed

#14226 document why sprintf still exists despite asprintf
  stdlib/format.mli
Labels: no-change-entry-needed, merge-me

#13747 Add a chapter on native debugger to the manual.
  Changes
  manual/src/allfiles.etex
  manual/src/cmds/Makefile
  manual/src/cmds/native-debugger.etex
  manual/src/cmds/profil.etex
Labels: documentation

#14252 Fix backport of #14209
  runtime/weak.c
Labels: merge-me, run-thread-sanitizer

#14237 parsing: refactor ast {iter,map} location functions
  parsing/ast_iterator.ml
  parsing/ast_mapper.ml
Labels: no-change-entry-needed

#14269 manual: always refer to headers as `<caml/example.h>`
  manual/src/cmds/intf-c.etex
Labels: no-change-entry-needed, merge-me

#14276 Small cleanup in filename.ml
  stdlib/filename.ml
Labels: no-change-entry-needed, merge-me
