Repository ocaml/ocaml, pull requests merged in 2025-04, with the labels that each got.

#13902 Enrich ocamltest doc about scripts
  ocamltest/OCAMLTEST.org
Labels: no-change-entry-needed

#13815 check-typo: enforce gawk
  tools/check-typo
Labels: no-change-entry-needed

#13818 Makefile.dev: work around #13817
  Makefile.dev
  parsing/HACKING.adoc
Labels: no-change-entry-needed

#13362 runtime/array.c: expose {uniform_,float}array_concat, use it in Float.Array
  Changes
  runtime/array.c
  stdlib/float.ml
  testsuite/tests/lib-floatarray/floatarray.ml
Labels: merge-me

#13932 Add `List.singleton` and `Seq.singleton`
  Changes
  stdlib/list.ml
  stdlib/list.mli
  stdlib/listLabels.mli
  stdlib/seq.ml
  stdlib/seq.mli
  testsuite/tests/backtrace/backtrace_dynlink.flambda.reference
  testsuite/tests/backtrace/backtrace_dynlink.reference
  testsuite/tests/lib-dynlink-initializers/test10_main.byte.reference
  testsuite/tests/lib-dynlink-initializers/test10_main.native.reference
  testsuite/tests/translprim/comparison_table.compilers.reference
Labels: stdlib

#13934 Fix ocamldoc `@since 5.0` Annotation Loss by Swapping Alert and Header in domain.mli and effect.mli
  stdlib/domain.mli
  stdlib/effect.mli
Labels: no-change-entry-needed

#13643 Allow values reachable from ephemeron keys to be collected by minor GC
  Changes
  runtime/caml/minor_gc.h
  runtime/caml/runtime_events.h
  runtime/caml/weak.h
  runtime/major_gc.c
  runtime/minor_gc.c
  runtime/shared_heap.c
  runtime/weak.c
  testsuite/tests/weak-ephe-final/weak_array_par.ml
  testsuite/tests/weak-ephe-final/weak_array_par.reference
Labels: Performance, gc

#13942 Fix assertion on empty array case
  Changes
  runtime/array.c
Labels: merge-me

#13936 refactoring: merge Matching.get_mod_field and Lambda.transl_prim
  .depend
  lambda/lambda.ml
  lambda/lambda.mli
  lambda/matching.ml
Labels: no-change-entry-needed, merge-me

#13830 Removed abstraction of module types when a field triggers avoidance
  .depend
  Changes
  testsuite/tests/shadow_include/shadow_all.ml
  testsuite/tests/typing-modules/nondep.ml
  typing/mtype.ml
Labels: typing

#13954 Pin Cygwin to 3.6.1 until AppVeyor updates
  tools/ci/appveyor/appveyor_build.cmd
Labels: no-change-entry-needed, merge-me, CI

#13862 List.sort_uniq : remove nonfirst duplicates.
  Changes
  stdlib/list.ml
  stdlib/list.mli
  stdlib/listLabels.mli
  testsuite/tests/lib-list/test.ml
Labels: stdlib, merge-me

#13946 Pre-requirements of #13945 (polymorphic #install_printers in debugger)
  .depend
  debugger/command_line.ml
  debugger/loadprinter.ml
  debugger/loadprinter.mli
  debugger/printval.ml
  debugger/printval.mli
  toplevel/topdirs.ml
  toplevel/topprinters.ml
  toplevel/topprinters.mli
Labels: no-change-entry-needed

#13958 Fix multicoretests workflow
  .github/workflows/multicoretests.yml
Labels: no-change-entry-needed, merge-me

#13957 Allow 'effect' as attribute id
  Changes
  boot/menhir/parser.ml
  parsing/parser.mly
Labels: merge-me

#13861 `Gc.ramp_{up,down}` to avoid wasted collection work during program initialization
  Changes
  runtime/caml/domain_state.tbl
  runtime/caml/gc_ctrl.h
  runtime/caml/major_gc.h
  runtime/caml/misc.h
  runtime/domain.c
  runtime/gc_ctrl.c
  runtime/intern.c
  runtime/major_gc.c
  runtime/memory.c
  runtime/minor_gc.c
  stdlib/gc.ml
  stdlib/gc.mli
Labels: devel-discussion, Performance

#13866 `occur_rec` on a graph rather than a tree
  Changes
  typing/ctype.ml
Labels: bug, typing

#13935 Fix hygiene check for generating `configure`
  tools/ci/actions/check-configure.sh
Labels: no-change-entry-needed, CI

#13751 Add profiling with perf chapter OCaml manual
  Changes
  manual/README.md
  manual/src/cmds/Makefile
  manual/src/cmds/profil.etex
Labels: approved, documentation

#13968 Fix compilation failures in some nested recursive value definitions
  Changes
  lambda/value_rec_compiler.ml
  testsuite/tests/letrec-compilation/nested2.ml
Labels: merge-me

#13854 parser: partially align use of loc_ghost with what the documentation says
  .depend
  Changes
  boot/menhir/parser.ml
  driver/main_args.ml
  driver/main_args.mli
  driver/pparse.ml
  parsing/ast_invariants.ml
  parsing/ast_invariants.mli
  parsing/parser.mly
  testsuite/tests/parsetree/locations_test.compilers.reference
  testsuite/tests/parsing/shortcut_ext_attr.compilers.reference
  testsuite/tests/parsing/shortcut_ext_attr.ml
  utils/clflags.ml
  utils/clflags.mli
Labels: merge-me, parsetree-change

#13971 Keep generalized structure from patterns when typing let (again)
  Changes
  testsuite/tests/effect-syntax/error_messages.ml
  testsuite/tests/typing-fstclassmod/scope_escape.ml
  testsuite/tests/typing-poly/pr11544.ml
  typing/typecore.ml
Labels: merge-me

#13950 Avoid tearing in Array.sub
  Changes
  runtime/array.c
Labels: run-thread-sanitizer, run-multicoretests

#13921 Preserve `O_CLOEXEC` when converting `Unix.file_descr` to a CRT fd on Windows
  Changes
  otherlibs/unix/channels_win32.c
  testsuite/tests/lib-unix/common/cloexec.ml
  testsuite/tests/lib-unix/common/fdstatus_aux.c
  testsuite/tests/lib-unix/common/fdstatus_main.ml
Labels: bug, otherlibs, windows

#13723 Set `FLEXDIR` when bootstrapping flexlink
  Makefile
  Makefile.build_config.in
  Makefile.common
  Makefile.cross
Labels: bug, no-change-entry-needed, run-crosscompiler-tests

#13966 #install_printer in the debugger: another attempt
  .depend
  Changes
  debugger/debugcom.ml
  debugger/debugcom.mli
  debugger/eval.ml
  debugger/loadprinter.ml
  debugger/printval.ml
  debugger/printval.mli
  testsuite/tests/tool-debugger/printer/debuggee.ml
  testsuite/tests/tool-debugger/printer/debuggee.reference
  testsuite/tests/tool-debugger/printer/input_script
  testsuite/tests/tool-debugger/printer/printer.ml
  toplevel/genprintval.ml
  toplevel/genprintval.mli
  toplevel/topcommon.ml
Labels: merge-me

#14003 Restore run-multicoretests workflow with trunk-compatible dune
  .github/workflows/multicoretests.yml
Labels: no-change-entry-needed, merge-me

#14000 Refactor confusing names for non aliasable modules
  testsuite/tests/typing-modules/aliases.ml
  testsuite/tests/typing-modules/pr13185.ml
  testsuite/tests/typing-sigsubst/sigsubst.ml
  typing/env.ml
  typing/env.mli
  typing/envaux.ml
  typing/includemod.ml
  typing/mtype.ml
  typing/out_type.ml
  typing/typemod.ml
Labels: no-change-entry-needed, merge-me

#13975 Made the "remove_aliases" properly treated as a built-in attribute
  .depend
  Changes
  manual/src/refman/extensions/attributes.etex
  parsing/builtin_attributes.ml
  parsing/builtin_attributes.mli
  typing/typemod.ml
Labels: bug, merge-me

#13839 Reimplement `let open`, `let module` and `let exception` in terms of a single construct
  .depend
  Changes
  boot/menhir/parser.ml
  file_formats/cmt_format.ml
  lambda/translcore.ml
  lambda/translcore.mli
  lambda/translmod.ml
  parsing/ast_helper.ml
  parsing/ast_helper.mli
  parsing/ast_invariants.ml
  parsing/ast_iterator.ml
  parsing/ast_mapper.ml
  parsing/depend.ml
  parsing/parser.mly
  parsing/parsetree.mli
  parsing/pprintast.ml
  parsing/printast.ml
  testsuite/tests/parsetree/locations_test.compilers.reference
  testsuite/tests/parsing/shortcut_ext_attr.compilers.reference
  testsuite/tests/shape-index/index_modules.reference
  tools/ocamlprof.ml
  typing/cmt2annot.ml
  typing/printtyped.ml
  typing/tast_iterator.ml
  typing/tast_mapper.ml
  typing/typecore.ml
  typing/typecore.mli
  typing/typedtree.ml
  typing/typedtree.mli
  typing/typemod.ml
  typing/untypeast.ml
  typing/value_rec_check.ml
Labels: typing, refactoring, parsetree-change

#14002 webman: add anchors for API items, headings
  Changes
  manual/src/html_processing/scss/style.scss
  manual/src/html_processing/src/process_api.ml
Labels: merge-me
