Repository ocaml/ocaml, pull requests merged in 2025-02, with the labels that each got.

#13767 Describe the termination behaviour in `seq.mli`
  stdlib/seq.mli
Labels: no-change-entry-needed, merge-me

#13736 Reset the major GC's pacing clock after any synchronous GC work.
  Changes
  runtime/caml/major_gc.h
  runtime/gc_ctrl.c
  runtime/major_gc.c
Labels: Performance

#13775 Fix ocamltest line numbers after multiline comments, strings
  ocamltest/tsl_lexer.mll
Labels: no-change-entry-needed, merge-me, ocamltest

#13097 Immutable arrays
  .depend
  Changes
  boot/ocamlc
  boot/ocamllex
  lambda/matching.ml
  lambda/translcore.ml
  manual/src/library/stdlib-blurb.etex
  stdlib/.depend
  stdlib/StdlibModules
  stdlib/iarray.ml
  stdlib/iarray.mli
  stdlib/stdlib.ml
  stdlib/stdlib.mli
  testsuite/tests/array-functions/test_iarray.ml
  testsuite/tests/array-functions/test_iarray.reference
  testsuite/tests/basic/patmatch_for_multiple.ml
  testsuite/tests/lib-array/test_iarray.ml
  testsuite/tests/match-side-effects/check_partial.ml
  testsuite/tests/match-side-effects/partiality.ml
  testsuite/tests/match-side-effects/test_contexts_code.ml
  testsuite/tests/typing-extensions/iarray.ml
  tools/ocamlprof.ml
  toplevel/genprintval.ml
  typing/oprint.ml
  typing/outcometree.mli
  typing/parmatch.ml
  typing/patterns.ml
  typing/patterns.mli
  typing/predef.ml
  typing/predef.mli
  typing/printpat.ml
  typing/printtyped.ml
  typing/tast_iterator.ml
  typing/tast_mapper.ml
  typing/typecore.ml
  typing/typedtree.ml
  typing/typedtree.mli
  typing/typeopt.ml
  typing/untypeast.ml
  typing/value_rec_check.ml
Labels: stdlib, language-features, middle-end

#13589 Stdlib: Mirror IO_BUFFER_SIZE and UNIX_BUFFER_SIZE in the stdlib and unix lib
  Changes
  otherlibs/unix/caml/unixsupport.h
  runtime/caml/io.h
  runtime/caml/misc.h
  runtime/sys.c
  stdlib/in_channel.ml
  stdlib/sys.ml.in
  stdlib/sys.mli
  testsuite/tests/match-side-effects/check_partial.ml
Labels: stdlib

#13786 Unicode chars in error messages: respect the Unicode notation.
  ocamldoc/odoc_lexer.mll
  parsing/lexer.mll
Labels: no-change-entry-needed

#13791 Display the `configure` command executed in AppVeyor runs
  tools/ci/appveyor/appveyor_build.sh
Labels: no-change-entry-needed, CI

#13570 Format: add an out_width function to output device
  .gitattributes
  Changes
  stdlib/.depend
  stdlib/format.ml
  stdlib/format.mli
  testsuite/tests/lib-format/unicode.ml
  testsuite/tests/tool-toplevel/strings.compilers.reference
  testsuite/tests/win-unicode/mltest.compilers.reference
Labels: stdlib

#13789 Fix escaping of `runtime/build_config.h` when cross-compiling
  Changes
  Makefile
  Makefile.build_config.in
  Makefile.config.in
  aclocal.m4
  configure
  configure.ac
Labels: bug, run-crosscompiler-tests

#13724 Some minor UTF-8 spring-cleaning
  .gitattributes
  .github/workflows/hygiene.yml
  tools/check-typo
  tools/ci/actions/check-typo.sh
Labels: no-change-entry-needed

#13790 Fix bytecode-only build of Cygwin
  Changes
  Makefile
Labels: bug

#13763 Track type of variables bound by `as`
  Changes
  lambda/matching.ml
  lambda/translclass.ml
  lambda/translcore.ml
  ocamldoc/odoc_ast.ml
  testsuite/tests/asmcomp/regression_value_kinds.ml
  typing/cmt2annot.ml
  typing/parmatch.ml
  typing/patterns.ml
  typing/patterns.mli
  typing/printpat.ml
  typing/printtyped.ml
  typing/tast_iterator.ml
  typing/tast_mapper.ml
  typing/typecore.ml
  typing/typedtree.ml
  typing/typedtree.mli
  typing/untypeast.ml
  typing/value_rec_check.ml
Labels: bug

#13582 Enable software prefetching support for ARM64, s390x, PPC64 and Riscv
  Changes
  runtime/caml/misc.h
Labels: merge-me, Performance

#13759 Propagate missing Cmm value kind
  Changes
  asmcomp/cmm_helpers.ml
  asmcomp/cmm_helpers.mli
  asmcomp/cmmgen.ml
Labels: merge-me

#13760 Add String.{edit_distance,spellcheck}, UTF-8 aware spellchecking functions
  .gitattributes
  Changes
  stdlib/.depend
  stdlib/StdlibModules
  stdlib/array.ml
  stdlib/string.ml
  stdlib/string.mli
  stdlib/stringLabels.mli
  testsuite/tests/lib-string/test_string.ml
Labels: merge-me

#12871 Stdlib priority queues
  Changes
  manual/src/library/stdlib-blurb.etex
  stdlib/.depend
  stdlib/StdlibModules
  stdlib/pqueue.ml
  stdlib/pqueue.mli
  stdlib/stdlib.ml
  stdlib/stdlib.mli
  testsuite/tests/lib-pqueue/test.ml
  testsuite/tests/lib-pqueue/test.reference
Labels: stdlib, merge-me

#13605 Added an error detection when generating typing constraints
  Changes
  testsuite/tests/typing-misc/constraints.ml
  typing/typetexp.ml
Labels: merge-me

#13802 PDF manual: add section titles to right-hand page headers
  manual/src/macros.tex
Labels: no-change-entry-needed

#13808 types: fix a small bug in the scope+marks bitmasking code
  typing/types.ml
Labels: no-change-entry-needed

#13809 Distinguish module packing annotations
  Changes
  boot/menhir/parser.ml
  parsing/ast_helper.ml
  parsing/ast_helper.mli
  parsing/ast_invariants.ml
  parsing/ast_iterator.ml
  parsing/ast_iterator.mli
  parsing/ast_mapper.ml
  parsing/ast_mapper.mli
  parsing/depend.ml
  parsing/parser.mly
  parsing/parsetree.mli
  parsing/pprintast.ml
  parsing/printast.ml
  testsuite/tests/parsetree/locations_test.compilers.reference
  testsuite/tests/parsing/attributes.compilers.reference
  testsuite/tests/parsing/shortcut_ext_attr.compilers.reference
  testsuite/tests/typing-modules/firstclass.ml
  testsuite/tests/typing-modules/package_constraint.ml
  tools/ocamlprof.ml
  typing/typecore.ml
  typing/typetexp.ml
  typing/untypeast.ml
Labels: parsetree-change

#13302 Store locations of longidents components
  .depend
  Changes
  boot/menhir/menhirLib.ml
  boot/menhir/menhirLib.mli
  boot/menhir/parser.ml
  boot/ocamlc
  boot/ocamllex
  debugger/debugger_parser.mly
  lambda/lambda.ml
  ocamldoc/odoc_misc.ml
  parsing/ast_invariants.ml
  parsing/ast_iterator.ml
  parsing/ast_mapper.ml
  parsing/depend.ml
  parsing/longident.ml
  parsing/longident.mli
  parsing/parser.mly
  parsing/pprintast.ml
  parsing/printast.ml
  testsuite/tests/basic/unit_naming.compilers.reference
  testsuite/tests/compiler-libs/test_longident.ml
  testsuite/tests/hidden_includes/cant_reference_hidden.ocamlc.reference
  testsuite/tests/hidden_includes/hidden_stays_hidden.ocamlc.reference
  testsuite/tests/parsing/illegal_ppx.ml
  testsuite/tests/typing-misc/injectivity.ml
  testsuite/tests/typing-misc/records.ml
  testsuite/tests/typing-modules/Test.ml
  testsuite/tests/typing-modules/applicative_functor_type.ml
  testsuite/tests/typing-modules/functors.ml
  testsuite/tests/typing-modules/pr6633.ml
  testsuite/tests/typing-modules/pr7207.ml
  testsuite/tests/typing-modules/pr7726.ml
  testsuite/tests/typing-modules/pr7851.ml
  testsuite/tests/typing-objects/pr6383.ml
  testsuite/tests/typing-recmod/pr6491.ml
  testsuite/tests/typing-sigsubst/sig_local_aliases.ml
  testsuite/tests/warnings/deprecated_module.compilers.reference
  testsuite/tests/warnings/deprecated_module_use.compilers.reference
  toplevel/byte/trace.ml
  toplevel/genprintval.ml
  toplevel/topdirs.ml
  typing/ctype.ml
  typing/ctype.mli
  typing/env.ml
  typing/gprinttyp.ml
  typing/out_type.ml
  typing/printtyped.ml
  typing/rawprinttyp.ml
  typing/tast_iterator.ml
  typing/tast_mapper.ml
  typing/typeclass.ml
  typing/typecore.ml
  typing/typecore.mli
  typing/typemod.ml
  typing/typemod.mli
  typing/types.ml
  typing/types.mli
  typing/typetexp.ml
  typing/untypeast.ml
Labels: tools, merge-me, parsetree-change

#13569 stdlib: add a format_text function for text-like format strings
  Changes
  stdlib/camlinternalFormatBasics.ml
  stdlib/camlinternalFormatBasics.mli
  stdlib/format.ml
  stdlib/format.mli
  testsuite/tests/lib-format/format_text.ml
Labels: stdlib, feature-wish

#13578 Use the Windows CSPRNG to get a random seed for `Stdlib.Random`
  Changes
  runtime/sys.c
  runtime/win32.c
  stdlib/random.mli
Labels: windows, runtime-system

#13823 Print warning when set thread name fails.
  otherlibs/systhreads/st_stubs.c
  otherlibs/systhreads/thread.mli
  runtime/caml/misc.h
  runtime/misc.c
Labels: no-change-entry-needed

#13816 Skip running native debugger tests when TSan is enabled.
  testsuite/tests/native-debugger/linux-gdb-amd64.ml
  testsuite/tests/native-debugger/linux-gdb-arm64.ml
  testsuite/tests/native-debugger/linux-gdb-riscv.ml
  testsuite/tests/native-debugger/linux-lldb-amd64.ml
  testsuite/tests/native-debugger/linux-lldb-arm64.ml
  testsuite/tests/native-debugger/macos-lldb-amd64.ml
  testsuite/tests/native-debugger/macos-lldb-arm64.ml
Labels: no-change-entry-needed, run-thread-sanitizer

#13832 Translmod.transl_structure: remove unnecessary plumbing for module block size
  lambda/translmod.ml
  lambda/translobj.ml
  lambda/translobj.mli
Labels: no-change-entry-needed

#13834 fix pexp_function documentation
  parsing/parsetree.mli
Labels: no-change-entry-needed

#13840 Always call `apt-get update` in CI before installing
  .github/workflows/build-cross.yml
  .github/workflows/build.yml
  .github/workflows/tsan.yml
Labels: no-change-entry-needed, run-thread-sanitizer, CI, run-crosscompiler-tests
