Repository ocaml/ocaml, pull requests merged in 2025-03, with the labels that each got.

#13846 dune support: iarray placeholder
  stdlib/dune
  stdlib/dune_support/dune
  stdlib/dune_support/new_predef_types.mli
Labels: no-change-entry-needed

#13855 Ensure root safety in caml_register_named_value
  runtime/callback.c
Labels: no-change-entry-needed

#13869 Add pointer to ocamltest docs from testsuite/HACKING.md
  testsuite/HACKING.adoc
Labels: no-change-entry-needed

#13879 Restore lib-unix/common/cloexec.ml test on Windows
  ocamltest/builtin_actions.ml
  ocamltest/ocamltest_config.ml.in
  ocamltest/ocamltest_config.mli
  testsuite/tests/callback/signals_alloc.ml
  testsuite/tests/callback/test_signalhandler.ml
  testsuite/tests/hidden_includes/test.ml
  testsuite/tests/lib-runtime-events/test_corrupted.ml
  testsuite/tests/lib-runtime-events/test_external.ml
  testsuite/tests/lib-runtime-events/test_external_preserve.ml
  testsuite/tests/lib-runtime-events/test_fork.ml
  testsuite/tests/lib-runtime-events/test_user_event_signal.ml
  testsuite/tests/lib-runtime-events/test_user_event_unknown.ml
  testsuite/tests/lib-systhreads/eintr.ml
  testsuite/tests/lib-systhreads/testfork.ml
  testsuite/tests/lib-systhreads/testfork2.ml
  testsuite/tests/lib-systhreads/testpreempt.ml
  testsuite/tests/lib-systhreads/testyield.ml
  testsuite/tests/lib-systhreads/threadsigmask.ml
  testsuite/tests/lib-threads/delayintr.ml
  testsuite/tests/lib-threads/signal.ml
  testsuite/tests/lib-threads/sockets.ml
  testsuite/tests/lib-unix/common/cloexec.ml
  testsuite/tests/lib-unix/common/fdstatus_aux.c
  testsuite/tests/lib-unix/common/fdstatus_main.ml
  testsuite/tests/lib-unix/common/fork_cleanup.ml
  testsuite/tests/lib-unix/common/fork_cleanup_systhreads.ml
  testsuite/tests/lib-unix/common/multicore_fork_domain_alone.ml
  testsuite/tests/lib-unix/common/multicore_fork_domain_alone2.ml
  testsuite/tests/lib-unix/common/sigwait.ml
  testsuite/tests/lib-unix/isatty/isatty_tty.ml
  testsuite/tests/lib-unix/kill/unix_kill.ml
  testsuite/tests/lib-unix/win-channel-of/parallel_channel_of.ml
  testsuite/tests/lib-unix/win-createprocess/test.ml
  testsuite/tests/lib-unix/win-env/test_env.ml
  testsuite/tests/lib-unix/win-socketpair/test.ml
  testsuite/tests/lib-unix/win-stat/test.ml
  testsuite/tests/lib-unix/win-symlink/parallel_symlink.ml
  testsuite/tests/lib-unix/win-symlink/test.ml
  testsuite/tests/parallel/catch_break.ml
  testsuite/tests/runtime-errors/syserror.ml
Labels: no-change-entry-needed, windows, testsuite

#13820 add -print-variance and Asttypes.Bivariant
  Changes
  boot/menhir/parser.ml
  driver/main_args.ml
  driver/main_args.mli
  parsing/asttypes.ml
  parsing/asttypes.mli
  parsing/parser.mly
  parsing/pprintast.ml
  testsuite/tests/typing-misc/constraints.ml
  testsuite/tests/typing-misc/injectivity.ml
  testsuite/tests/typing-misc/variance.ml
  typing/oprint.ml
  typing/out_type.ml
  typing/typedecl_variance.ml
  typing/typemod.ml
  typing/types.ml
  utils/clflags.ml
  utils/clflags.mli
Labels: parsetree-change

#13864 faster Float.Array.fill
  stdlib/float.ml
Labels: no-change-entry-needed

#13852 manual: clarify documentation of C macros on integers
  manual/src/cmds/intf-c.etex
Labels: no-change-entry-needed

#13863 shape: tune occurrence index printer
  testsuite/tests/shape-index/index.reference
  testsuite/tests/shape-index/index_aliases.reference
  testsuite/tests/shape-index/index_bindingops.reference
  testsuite/tests/shape-index/index_constrs.reference
  testsuite/tests/shape-index/index_constrs_records.reference
  testsuite/tests/shape-index/index_functor.reference
  testsuite/tests/shape-index/index_labels.reference
  testsuite/tests/shape-index/index_modules.reference
  testsuite/tests/shape-index/index_objects.reference
  testsuite/tests/shape-index/index_types.reference
  testsuite/tests/shape-index/index_vb.reference
  typing/shape_reduce.ml
Labels: no-change-entry-needed

#13880 Make object stat counters atomic
  Changes
  stdlib/.depend
  stdlib/camlinternalOO.ml
Labels: merge-me

#13885 Implement `Dynarray.{exists2, for_all2}`
  Changes
  stdlib/dynarray.ml
  stdlib/dynarray.mli
  testsuite/tests/lib-dynarray/test.ml
Labels: stdlib, maintainer-approval-needed

#13833 document what Location.loc_ghost is
  parsing/location.mli
  parsing/parser.mly
Labels: no-change-entry-needed, documentation

#13884 [shapes] Correctly index modules in constructors and labels paths
  Changes
  file_formats/cmt_format.ml
  testsuite/tests/shape-index/index_constrs_records.ml
  testsuite/tests/shape-index/index_constrs_records.reference
  typing/path.ml
  typing/path.mli
  typing/shape.ml
Labels: merge-me

#13912 fixed definition of Fibonacci numbers in the manual
  manual/src/tutorials/parallelism.etex
Labels: no-change-entry-needed

#13857 GHA: small improvements for Cygwin and Linux actions
  .github/workflows/build-cross.yml
  .github/workflows/build-msvc.yml
  tools/ci/actions/multicoretests.sh
  tools/ci/actions/runner.sh
Labels: no-change-entry-needed, merge-me, CI, run-crosscompiler-tests

#13892 Fix the @since attribute for the Uchar.hash function
  stdlib/uchar.mli
Labels: no-change-entry-needed

#13914 Fix a minor overlook in Stdlib.Repr docs
  stdlib/repr.mli
  stdlib/stdlib.mli
Labels: no-change-entry-needed, merge-me
